<!DOCTYPE html>
<title>
      NetLogo {{version}} User Manual: BehaviorSpace Guide
    </title>
    <link rel="stylesheet" href="netlogo.css" type="text/css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <h1>
      BehaviorSpace Guide
    </h1>
    {{> versionTag.html }}
    <p>
      This guide has three parts:
    <ul>
      <li>
        <a href="#what"><b>What is BehaviorSpace?</b></a>: A general
        description of the tool, including the ideas and principles behind
        it.
      <li>
        <a href="#how"><b>How It Works</b></a>: Walks you through how to
        use the tool and highlights its most commonly used features.
      <li>
        <a href="#advanced"><b>Advanced Usage</b></a>: How to use
        BehaviorSpace from the command line, or from your own Java code.
        <!--<LI><a href="#reference"><b>Interface Reference</b></a>: Describes
each main window, as well as the interface components within those
windows.-->
      </ul>
      <div id="what">
    <h2>
      <a>What is BehaviorSpace?</a>
    </h2>
    <p>
      BehaviorSpace is a software tool integrated with NetLogo that allows
      you to perform experiments with models.
    <p>
      BehaviorSpace runs a model many times, systematically varying the
      model's settings and recording the results of each model run.
      This process is sometimes called &quot;parameter sweeping&quot;. It
      lets you explore the model's &quot;space&quot; of possible
      behaviors and determine which combinations of settings cause the
      behaviors of interest.
    <p>
      If your computer has multiple processor cores, then by default, model
      runs will happen in parallel, one per core.
    <h3>
      Why BehaviorSpace?
    </h3>
    <p>
      The need for this type of experiment is revealed by the following
      observations. Models often have many settings, each of which can take
      a range of values. Together they form what in mathematics is called a
      parameter space for the model, whose dimensions are the number of
      settings, and in which every point is a particular combination of
      values. Running a model with different settings (and sometimes even
      the same ones) can lead to drastically different behavior in the
      system being modeled. So, how are you to know which particular
      configuration of values, or types of configurations, will yield the
      kind of behavior you are interested in? This amounts to the question
      of where in its huge, multi-dimension parameter space does your model
      perform best?
    <p>
      For example, suppose you want speedy synchronization from the agents
      in the Fireflies model. The model has four sliders -- number,
      cycle-length, flash-length and number-flashes -- that have
      approximately 2000, 100, 10 and 3 possible values, respectively. That
      means there are 2000 * 100 * 10 * 3 = 600,000 possible combinations
      of slider values! Trying combinations one at a time is hardly an
      efficient way to learn which one will evoke the speediest
      synchronization.
    <p>
      BehaviorSpace offers you a much better way to solve this problem. If
      you specify a subset of values from the ranges of each slider, it
      will run the model with each possible combination of those values
      and, during each model run, record the results. In doing so, it
      samples the model's parameter space -- not exhaustively, but
      enough so that you will be able to see relationships form between
      different sliders and the behavior of the system. After all the runs
      are over,
      <!--you are presented with a visual display with which you can --> a
      dataset is generated which you can open in a different tool, such as
      a spreadsheet, database, or scientific visualization application, and
      explore.
    <p>
      By enabling you to explore the entire &quot;space&quot; of behaviors
      a model can exhibit, BehaviorSpace can be a powerful assistant to the
      modeler.
    </div>
    <div id="how">
    <h2>
      <a>How It Works</a>
    </h2>
    <p>
      To begin using BehaviorSpace, open your model, then choose the
      BehaviorSpace item on NetLogo's Tools menu.
    <h3>
      Managing experiment setups
    </h3>
    <p>
      The dialog that opens lets you create, edit, duplicate, delete, and
      run experiment setups. Experiments are listed by name and how by
      model runs the experiment will consist of.
    <p>
      Experiment setups are considered part of a NetLogo model and are
      saved as part of the model.
    <p>
      To create a new experiment setup, press the &quot;New&quot; button.
    <h3>
      Creating an experiment setup
    </h3>
    <p>
      In the new dialog that appears, you can specify the following
      information. Note that you don't always need to specify
      everything; some parts can be left blank, or left with their default
      values, depending on your needs.
    <p>
      <b>Experiment name:</b> If you have multiple experiments, giving them
      different names will help you keep them straight.
    <p>
      <b>Vary variables as follows:</b> This is where you specify which
      settings you want varied, and what values you want them to take.
      Variables can include sliders, switches, choosers, and any global
      variables in your model.
    <p>
      Variables can also include <a href="dictionary.html#max-pcor"><code>max-pxcor</code></a>, <a href="dictionary.html#min-pcor"><code>min-pxcor</code></a>, <a href="dictionary.html#max-pcor"><code>max-pycor</code></a> and <a href="dictionary.html#min-pcor"><code>min-pycor</code></a>, <a href="dictionary.html#world-dim"><code>world-width</code></a>, <a href="dictionary.html#world-dim"><code>world-height</code></a> and <a href="dictionary.html#random-seed"><code>random-seed</code></a>. These are
      not, strictly speaking, variables, but BehaviorSpace lets you vary
      them as if they were. Varying the world dimensions lets you explore
      the effect of world size upon your model. Since setting <a href="dictionary.html#world-dim"><code>world-width</code></a> and <a href="dictionary.html#world-dim"><code>world-height</code></a> does not
      necessarily define the bounds of the world how they are varied
      depends on the location of the origin. If the origin is centered,
      BehaviorSpace will keep it centered so the values <a href="dictionary.html#world-dim"><code>world-width</code></a> or <a href="dictionary.html#world-dim"><code>world-height</code></a> must be odd.
      If one of the bounds is at zero that bound will be kept at zero and
      the other bound will move, for example if you start with a world with
      <code>min-pxcor = 0</code> <code>max-pxcor = 10</code> and you vary
      <code>world-width</code> like this:
    <div class="blockquote">
        <code>[&quot;world-width&quot; [11 1 14]]</code>
      </div>
    <p>
      <a href="dictionary.html#min-pcor"><code>min-pxcor</code></a> will stay
      at zero and <a href="dictionary.html#max-pcor"><code>max-pxcor</code></a> will set to 11,
      12, and 13 for each of the runs. If neither of these conditions are
      true, the origin is not centered, nor at the edge of the world you
      cannot vary <a href="dictionary.html#world-dim"><code>world-height</code></a> or <a href="dictionary.html#world-dim"><code>world-width</code></a> directly but
      you should vary <a href="dictionary.html#max-pcor"><code>max-pxcor</code></a>, <a href="dictionary.html#max-pcor"><code>max-pycor</code></a>, <a href="dictionary.html#min-pcor"><code>min-pxcor</code></a> and <a href="dictionary.html#min-pcor"><code>min-pycor</code></a> instead.
    <p>
      Varying <a href="dictionary.html#random-seed"><code>random-seed</code></a> lets you
      repeat runs by using a known seed for the NetLogo random number
      generator. Note that you're also free to use the <a href="dictionary.html#random-seed"><code>random-seed</code></a> command in
      your experiment's setup commands. For more information on random
      seeds, see the <a href="programming.html#random">Random Numbers</a>
      section of the Programmer's Guide.
    <p>
      You may specify values either by listing the values you want used, or
      by specifying that you want to try every value within a given range.
      For example, to give a slider named <code>number</code> every value from
      100 to 1000 in increments of 50, you would enter:
    <div class="blockquote">
        <code>[&quot;number&quot; [100 50 1000]]</code>
      </div>
    <p>
      Or, to give it only the values of 100, 200, 400, and 800, you would
      enter:
    <div class="blockquote">
        <code>[&quot;number&quot; 100 200 400 800]</code>
      </div>
    <p>
      Be careful with the brackets here. Note that there are fewer square
      brackets in the second example. Including or not including this extra
      set of brackets is how you tell BehaviorSpace whether you are listing
      individual values, or specifying a range.
    <p>
      Also note that the double quotes around the variable names are
      required.
    <p>
      You can vary as many settings as you want, including just one, or
      none at all. Any settings that you do not vary will retain their
      current values. Not varying any settings is useful if you just want
      to do many runs with the current settings.
    <p>
      What order you list the variables in determines what order the runs
      will be done in. All values for a later variable will be tried before
      moving to the next value for an earlier variable. So for example if
      you vary both x and y from 1 to 3, and x is listed first, then the
      order of model runs will be: x=1 y=1, x=1 y=2, x=1 y=3, x=2 y=1, and
      so on.
    <p>
      <b>Repetitions:</b> Sometimes the behavior of a model can vary a lot
      from run to run even if the settings don't change, if the model
      uses random numbers. If you want to run the model more than once at
      each combination of settings, enter a higher number.
    <p>
      <b>Measure runs using these reporters:</b> This is where you specify
      what data you want to collect from each run. For example, if you
      wanted to record how the population of turtles rose and fell during
      each run, you would enter:
    <div class="blockquote">
        <code>count turtles</code>
      </div>
    <p>
      You can enter one reporter, or several, or none at all. If you enter
      several, each reporter must be on a line by itself, for example:
    <div class="blockquote">
        <code>count frogs
        <br>
        count mice
        <br>
        count birds</code>
      </div>
    <p>
      If you don't enter any reporters, the runs will still take place.
      This is useful if you want to record the results yourself your own
      way, such as with the <a href="dictionary.html#export-cmds"><code>export-world</code></a> command.
    <p>
      <b>Measure runs at every step:</b> Normally NetLogo will measure
      model runs at every step, using the reporters you entered in the
      previous box. If you're doing very long model runs, you might not
      want all that data. Uncheck this box if you only want to measure each
      run after it ends.
    <p>
      <b>Setup commands:</b> These commands will be used to begin each
      model run. Typically, you will enter the name of a procedure that
      sets up the model, typically <code>setup</code>. But it is also possible
      to include other commands as well.
    <p>
      <b>Go commands:</b> These commands will be run over and over again to
      advance to the model to the next &quot;step&quot;. Typically, this
      will be the name of a procedure, such as <code>go</code>, but you may
      include any commands you like.
    <p>
      <b>Stop condition:</b> This lets you do model runs of varying length,
      ending each run when a certain condition becomes true. For example,
      suppose you wanted each run to last until there were no more turtles.
      Then you would enter:
    <div class="blockquote">
        <code>not any? turtles</code>
      </div>
    <p>
      If you want the length of runs to all be of a fixed length, just
      leave this blank.
    <p>
      The run may also stop because the go commands use the <a href="dictionary.html#stop"><code>stop</code></a> command, in the same way
      that <a href="dictionary.html#stop"><code>stop</code></a> can be used to
      stop a forever button. The <a href="dictionary.html#stop"><code>stop</code></a> command may be used directly
      in the go commands, or in a procedure called directly by the go
      commands. (The intent is that the same <code>go</code> procedure should
      work both in a button and in a BehaviorSpace experiment.) Note that
      the step in which <a href="dictionary.html#stop"><code>stop</code></a> is
      used is considered to have been aborted, so no results will be
      recorded for that step. Therefore, the stopping test should be at the
      beginning of the go commands or procedure, not at the end.
    <p>
      <b>Final commands:</b> These are any extra commands that you want run
      once, when the run ends. Usually this is left blank, but you might
      use it to call the <a href="dictionary.html#export-cmds"><code>export-world</code></a> command or
      record the results of the run in some other way.
    <p>
      <b>Time limit:</b> This lets you set a fixed maximum length for each
      run. If you don't want to set any maximum, but want the length of
      the runs to be controlled by the stop condition instead, enter 0.
    <h3>
      Special primitives for BehaviorSpace experiments
    </h3>
    <p>
      Currently there are only two, <a href="dictionary.html#behaviorspace-run-number">
      <code>behaviorspace-run-number</code></a> and
      <a href="dictionary.html#behaviorspace-experiment-name">
      <code>behaviorspace-experiment-name</code></a>.
      The run number reported by the former primitive matches the run number
      used in the results files generated by BehaviorSpace.  The experiment
      name reported by the latter matches the name with which the experiment
      was set up.
    <h3>
      Running an experiment
    </h3>
    <p>
      When you're done setting up your experiment, press the
      &quot;OK&quot; button, followed by the &quot;Run&quot; button. A
      dialog titled &quot;Run options&quot; will appear.
    <h4>
      Run options: formats
    </h4>
    <p>
      The run options dialog lets you select the formats you would like the
      data from your experiment saved in. Data is collected for each run or
      step, according to the setting of <b>Measure runs at every step</b>
      option. In either case, the initial state of the system is recorded,
      after the setup commands run but before the go commands run for the
      first time.
    <p>
      Table format lists each interval in a row, with each metric in a
      separate column. Table data is written to the output file as each run
      completes. Table format is suitable for automated processing of the
      data, such as importing into a database or a statistics package.
    <p>
      Spreadsheet format calculates the min, mean, max, and final values
      for each metric, and then lists each interval in a row, with each
      metric in a separate column. Spreadsheet data is more human-readable
      than Table data, especially if imported into a spreadsheet
      application.
    <p>
      (Note however that spreadsheet data is not written to the results
      file until the experiment finishes. Since spreadsheet data is stored
      in memory until the experiment is done, very large experiments could
      run out of memory. So you should disable spreadsheet output unless
      you really want it. If you do want spreadsheet output, note that if
      anything interrupts the experiment, such as a runtime error, running
      out of memory, or a crash or power outage, no spreadsheet results
      will be written. For long experiments, you may want to also enable
      table format as a precaution so that if something happens and you get
      no spreadsheet output you'll at least get partial table output.)
    <p>
      After selecting your output formats, BehaviorSpace will prompt you
      for the name of a file to save the results to. The default name ends
      in &quot;.csv&quot;. You can change it to any name you want, but
      don't leave off the &quot;.csv&quot; part; that indicates the
      file is a Comma Separated Values (CSV) file. This is a plain-text
      data format that is readable by any text editor as well as by most
      popular spreadsheet and database programs.
    <h4>
      Run options: parallel runs
    </h4>
    <p>
      The run options dialog also lets you select whether you want multiple
      model runs to happen in parallel, and if so, how many are allowed to
      be simultaneously active. This number will default to the number of
      processor cores in your computer.
    <p>
      There are a few cautions associated with parallel runs.
    <p>
      First, if multiple runs are active, only one of them will be in the
      &quot;foreground&quot; and cause the view and plots to update. The
      other runs will happen invisibly in the background.
    <p>
      Second, invisible background runs can't use primitives that only
      work in the GUI. For example, a background run can't make a
      movie.
    <p>
      Third, since parallel runs progress independently of each other,
      table format output may contain interleaved, out-of-order results.
      When you analyze your table data, you may wish to sort it by run
      number first. (Spreadsheet format output is not affected by this
      issue, since it is not written until the experiment completes or is
      aborted.)
    <p>
      Fourth, using all available processor cores may make your computer
      slow to use for other tasks while the experiment is running.
    <p>
      Fifth, doing runs in parallel will multiply the experiment's
      memory requirements accordingly. You may need to increase
      NetLogo's memory ceiling (see <a href="faq.html#howbig">this FAQ
      entry</a>).
    <h4>
      Observing runs
    </h4>
    <p>
      After you complete the run options dialog, another dialog will
      appear, titled &quot;Running Experiment&quot;. In this dialog,
      you'll see a progress report of how many runs have been completed
      so far and how much time has passed. If you entered any reporters for
      measuring the runs, and if you left the &quot;Measure runs at every
      step&quot; box checked, then you'll see a plot of how they vary
      over the course of each run.
    <p>
      You can also watch the runs in the main NetLogo window. (If the
      &quot;Running Experiment&quot; dialog is in the way, just move it to
      a different place on the screen.) The view and plots will update as
      the model runs. If you don't need to see them update, then use
      the checkboxes in the &quot;Running Experiment&quot; dialog to turn
      the updating off. This will make the experiment go faster.
    <p>
      If you want to stop your experiment before it's finished, press
      the &quot;Abort&quot; button. Any results generated so far will still
      be saved.
    <p>
      When all the runs have finished, the experiment is complete.
    </div>
    <div id="advanced">
    <h2>
      <a>Advanced usage</a>
    </h2>
    <h3>
      Running from the command line
    </h3>
    <p>
      It is possible to run BehaviorSpace experiments &quot;headless&quot;,
      that is, from the command line, without any graphical user interface
      (GUI). This is useful for automating runs on a single machine or a
      cluster of machines.
    <p>
      No Java programming is required. Experiment setups can be created in
      the GUI and then run later from the command line, or, if you prefer,
      you can create or edit experiment setups directly using XML.
    <h4>
      How to use it
    </h4>
    <p>
      Run Java with the org.nlogo.headless.Main class. The Main.main()
      method supports these arguments:
    <ul>
      <li>
        <code>--model &lt;path&gt;</code>: pathname of model to open (required)
      <li>
        <code>--setup-file &lt;path&gt;</code>: read experiment setups from
        this file instead of the model file
      <li>
        <code>--experiment &lt;name&gt;</code>: name of experiment to run
      <li>
        <code>--table &lt;path&gt;</code>: pathname to send table output to (or
        <code>-</code> for standard output)
      <li>
        <code>--spreadsheet &lt;path&gt;</code>: pathname to send table output
        to (or <code>-</code> for standard output)
      <li>
        <code>--threads &lt;number&gt;</code>: use this many threads to do
        model runs in parallel, or 1 to disable parallel runs. defaults to
        one thread per processor.
      <li>
        <code>--min-pxcor &lt;number&gt;</code>: override world size setting in
        model file
      <li>
        <code>--max-pxcor &lt;number&gt;</code>: override world size setting in
        model file
      <li>
        <code>--min-pycor &lt;number&gt;</code>: override world size setting in
        model file
      <li>
        <code>--max-pycor &lt;number&gt;</code>: override world size setting in
        model file
      </ul>
    <p>
      <code>--model</code> is required. If you don't specify
      <code>--experiment</code>, you must specify <code>--setup-file</code>. By
      default no results are generated, so you'll usually want to
      specify either <code>--table</code> or <code>--spreadsheet</code>, or both.
      If you specify any of the world dimensions, you must specify all
      four.
    <h4>
      Examples
    </h4>
    <p>
      It is easiest if you create your experiment setup ahead of time in
      the GUI, so it is saved as part of the model. To run an experiment
      setup saved in a model, here is an example command line:
    <pre>
java -Xmx1024m -Dfile.encoding=UTF-8 -cp NetLogo.jar \
  org.nlogo.headless.Main \
  --model Fire.nlogo \
  --experiment experiment1 \
  --table -
</pre>
    <p>
      (For this to work, <code>NetLogo.jar</code> must be present along with
      the <code>lib</code> subdirectory containing necessary libraries. Both
      <code>NetLogo.jar</code> and <code>lib</code> are included with NetLogo.)
    <p>
      After the named experiment has run, the results are sent to standard
      output in table format, as CSV. (&quot;-&quot; is how you specify
      standard output instead of output to a file.)
    <p>
      When running the headless.Main class as an application, it forces the
      system property <code>java.awt.headless</code> to be true. This tells
      Java to run in headless mode, allowing NetLogo to run on machines
      when a graphical display is not available.
    <p>
      Note the use of <code>-Xmx</code> to specify a maximum heap size of one
      gigabyte. If you don't specify a maximum heap size, you will get
      your VM's default size, which may be unusably small. (One
      gigabyte is an arbitrary size which should be more than large enough
      for most models; you can specify a different limit if you want.)
    <p>
      Note the use of <code>-Dfile.encoding=UTF-8</code>. This forces all file
      I/O to use UTF-8 encoding. Doing so ensures that NetLogo can load all
      models consistently, and that file-* primitives work consistently on
      all platforms, including models containing Unicode characters.
    <p>
      The required <code>--model</code> argument is used to specify the model
      file you want to open.
    <p>
      The <code>--experiment</code> argument is used to specify the name of the
      experiment you want to run. (At the time you create an experiment
      setup in the GUI, you assign it a name.)
    <p>
      Here's another example that shows some additional, optional
      arguments:
    <pre>
java -Xmx1024m -Dfile.encoding=UTF-8 -cp NetLogo.jar \
  org.nlogo.headless.Main \
  --model Fire.nlogo \
  --experiment experiment2 \
  --max-pxcor 100 \
  --min-pxcor -100 \
  --max-pycor 100 \
  --min-pycor -100
</pre>
    <p>
      Note the use of the optional <code>--max-pxcor</code>,
      <code>--max-pycor</code>, etc. arguments to specify a different world
      size than that saved in the model. (It's also possible for the
      experiment setup to specify values for the world dimensions; if they
      are specified by the experiment setup, then there is no need to
      specify them on the command line.)
    <p>
      Since neither --table nor --spreadsheet is specified, no results will
      be generated. This is useful if the experiment setup generates all
      the output you need by some other means, such as exporting world
      files or writing to a text file.
    <p>
      Yet another example:
    <pre>
java -Xmx1024m -Dfile.encoding=UTF-8 -cp NetLogo.jar \
  org.nlogo.headless.Main \
  --model Fire.nlogo \
  --experiment experiment2 \
  --table table-output.csv \
  --spreadsheet spreadsheet-output.csv
</pre>
    <p>
      The optional <code>--table &lt;filename&gt;</code> argument specifies
      that output should be generated in a table format and written to the
      given file as CSV data. If <code>-</code> is specified as the filename,
      than the output is sent to the standard system output stream. Table
      data is written as it is generated, with each complete run.
    <p>
      The optional <code>--spreadsheet &lt;filename&gt;</code> argument
      specified that spreadsheet output should be generated and written to
      the given file as CSV data. If <code>-</code> is specified as the
      filename, than the output is sent to the standard system output
      stream. Spreadsheet data is not written out until all runs in the
      experiment are finished.
    <p>
      Note that it is legal to specify both <code>--table</code> and
      <code>--spreadsheet</code>, and if you do, both kinds of output file will
      be generated.
    <p>
      Here is one final example that shows how to run an experiment setup
      which is stored in a separate XML file, instead of in the model file:
    <pre>
java -Xmx1024m -Dfile.encoding=UTF-8 -cp NetLogo.jar \
  org.nlogo.headless.Main \
  --model Fire.nlogo \
  --setup-file fire-setups.xml \
  --experiment experiment3
</pre>
    <p>
      If the XML file contains more than one experiment setup, it is
      necessary to use the <code>--experiment</code> argument to specify the
      name of the setup to use.
    <p>
      In order to run any of these experiments in 3D add
      <code>-Dorg.nlogo.is3d=true</code> to any of these startup commands, for
      example:
    <pre>
java -Dorg.nlogo.is3d=true -Xmx1024m -Dfile.encoding=UTF-8 -cp NetLogo.jar \
  org.nlogo.headless.Main \
  --model Fire3D.nlogo \
  --experiment experiment1 \
  --table -
</pre>
    <p>
      Note that you should supply a 3D model and there are also 3D
      arguments <code>--max-pzcor &lt;number&gt;</code> and <code>--min-pzcor
      &lt;number&gt;</code>.
    <p>
      The next section has information on how to create standalone
      experiment setup files using XML.
    <h3>
      Setting up experiments in XML
    </h3>
    <p>
      We don't yet have detailed documentation on authoring experiment
      setups in XML, but if you already have some familiarity with XML,
      then the following pointers may be enough to get you started.
    <p>
      The structure of BehaviorSpace experiment setups in XML is determined
      by a Document Type Definition (DTD) file. The DTD is stored in
      NetLogo.jar, as <code>system/behaviorspace.dtd</code>. (JAR files are
      also zip files, so you can extract the DTD from the JAR using
      Java's &quot;jar&quot; utility or with any program that
      understands zip format.)
    <p>
      The easiest way to learn what setups look like in XML, though, is to
      author a few of them in BehaviorSpace's GUI, save the model, and
      then examine the resulting .nlogo file in a text editor. The
      experiment setups are stored towards the end of the .nlogo file, in a
      section that begins and ends with a <code>experiments</code> tag.
      Example:
    <pre>
&lt;experiments&gt;
  &lt;experiment name=&quot;experiment&quot; repetitions=&quot;10&quot; runMetricsEveryStep=&quot;true&quot;&gt;
    &lt;setup&gt;setup&lt;/setup&gt;
    &lt;go&gt;go&lt;/go&gt;
    &lt;exitCondition&gt;not any? fires&lt;/exitCondition&gt;
    &lt;metric&gt;burned-trees&lt;/metric&gt;
    &lt;enumeratedValueSet variable=&quot;density&quot;&gt;
      &lt;value value=&quot;40&quot;/&gt;
      &lt;value value=&quot;0.1&quot;/&gt;
      &lt;value value=&quot;70&quot;/&gt;
    &lt;/enumeratedValueSet&gt;
  &lt;/experiment&gt;
&lt;/experiments&gt;
</pre>
    <p>
      In this example, only one experiment setup is given, but you can put
      as many as you want between the beginning and ending
      <code>experiments</code> tags.
    <p>
      Between looking at the DTD, and looking at examples you create in the
      GUI, it will hopefully be apparent how to use the tags to specify
      different kind of experiments. The DTD specifies which tags are
      required and which are optional, which may be repeated and which may
      not, and so forth.
    <p>
      When XML for experiment setups is included in a model file, it does
      not begin with any XML headers, because not the whole file is XML,
      only part of it. If you keep experiment setups in their own file,
      separate from the model file, then the extension on the file should
      be .xml not .nlogo, and you'll need to begin the file with proper
      XML headers, as follows:
    <pre>
&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
&lt;!DOCTYPE experiments SYSTEM &quot;behaviorspace.dtd&quot;&gt;
</pre>
    <p>
      The second line must be included exactly as shown. In the first line,
      you may specify a different encoding than <code>UTF-8</code>, such as
      <code>UTF-8</code>.
    <h3>
      Controlling API
    </h3>
    <p>
      If BehaviorSpace is not sufficient for your needs, a possible
      alternative is to use our Controlling API, which lets you write Java
      code that controls NetLogo. The API lets you run BehaviorSpace
      experiments from Java code, or, you can write custom code that
      controls NetLogo more directly to do BehaviorSpace-like things. See
      the <a href="controlling.html">Controlling</a> section of the User
      Manual for further details on both possibilities.
    </div>
