{{> header}}

<main class="prose">

# {{title}}

NetLogo can be invoked and controlled by another program running on the
Java Virtual Machine. For example, you might want to call NetLogo from a small
program that does something simple like automate a series of model runs. Or, you
might want to embed NetLogo models in a larger application.

For more information, go
[here](https://github.com/NetLogo/NetLogo/wiki/Controlling-API).

</main>
