{{> header}}

<title>NetLogo {{version}}: Contact Us</title>

<main class="prose">

# Contact Us

Feedback from users is essential to us in designing and improving NetLogo. We'd
like to hear from you.

## Web site

Our website is https://www.netlogo.org/. NetLogo is created at the Center for
Connected Learning (CCL). The CCL website, http://ccl.northwestern.edu/,
includes our mailing address and phone number. It also has information about
our staff and our various research activities.

## Feedback, questions, etc.

For help using NetLogo, ask questions on the [NetLogo Forum](https://forum.netlogo.org/)
or try this group:
http://groups.google.com/d/forum/netlogo-users.

If you have feedback, suggestions, or questions, you may write us at
feedback@ccl.northwestern.edu.

## Reporting bugs

Our public bug tracker is on GitHub at
https://github.com/NetLogo/NetLogo/issues.
You can look here to report a new bug, check if a bug has already been reported,
and so on.

You can also report bugs on our forum at: https://forum.netlogo.org/c/bugs/5

When submitting a bug report, please try to include as much of the following
information as possible:

- A complete description of the problem and how it occurred.
- The NetLogo model or code you are having trouble with. If possible, attach a
  complete model. (It's best if you can reduce the amount of code in the model
  to the minimum necessary to demonstrate the bug.)
- Your system information: NetLogo version, OS version, Java version, and so on.
  This information is available from NetLogo's "About NetLogo" menu item, then
  clicking the System tab.
- Any error messages that were displayed. Please copy and paste the entire error
  message into your email, or make a screen capture if you are unable to copy
  and paste.

We also accept bug reports by email at bugs@ccl.northwestern.edu.

## Open source

NetLogo is free, open source software. The source code is hosted at
https://github.com/NetLogo/NetLogo. Contributions from interested users are
welcome.

For discussion of NetLogo API's and the development of NetLogo itself, try
https://groups.google.com/group/netlogo-devel.

</main>