<!DOCTYPE html>
<title>
      NetLogo {{version}} User Manual: Copyright and License
    </title>
    <link rel="stylesheet" href="netlogo.css" type="text/css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <h1>
      Copyright and License Information
    </h1>
    {{> versionTag.html }}
    <h2>
      How to reference
    </h2>
    <p>
      If you use or refer to NetLogo in a publication, we ask that you cite
      it. The correct citation is: Wilensky, U. (1999). NetLogo. <a href="http://ccl.northwestern.edu/netlogo/" target="_blank">http://ccl.northwestern.edu/netlogo/</a>.
      Center for Connected Learning and Computer-Based Modeling,
      Northwestern University, Evanston, IL.
    <p>
      For HubNet, cite: Wilensky, U. &amp; Stroup, W., 1999. HubNet.
      <a href="http://ccl.northwestern.edu/netlogo/hubnet.html" target="_blank">http://ccl.northwestern.edu/netlogo/hubnet.html</a>.
      Center for Connected Learning and Computer-Based Modeling,
      Northwestern University. Evanston, IL.
    <p>
      For models in the Models Library, the correct citation is included in
      the &quot;Credits and References&quot; section of each model's
      Info tab.
    <h2>
      Acknowledgments
    </h2>
    <p>
      The CCL gratefully acknowledges almost two decades of support for our
      NetLogo work. Much of that support came from the National Science
      Foundation -- grant numbers REC-9814682 and REC-0126227, with further
      support from REC-0003285, REC-0115699, DRL-0196044, CCF-ITR-0326542,
      DRL-RED-9552950, DRL-REC-9632612, DRL-DRK12-1020101, IIS-1441552,
      CNS-1441016, CNS-1441041, IIS-1438813, and REC-1343873.  Additional
      support came from the Spencer Foundation, Texas Instruments, the
      Brady Fund, and the Northwestern Institute on Complex Systems.
    <h2>
      NetLogo license
    </h2>
    <p>
      Copyright 1999-2016 by Uri Wilensky.
    <p>
      This program is free software; you can redistribute it and/or modify
      it under the terms of the GNU General Public License as published by
      the Free Software Foundation; either version 2 of the License, or (at
      your option) any later version.
    <p>
      This program is distributed in the hope that it will be useful, but
      WITHOUT ANY WARRANTY; without even the implied warranty of
      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
      General Public License for more details.
    <p>
      You should have received a copy of the GNU General Public License
      along with this program; if not, write to the Free Software
      Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA
      02110-1301, USA.
    <h2>
      Commercial licenses
    </h2>
    <p>
      Commercial licenses are also available. To inquire about commercial
      licenses, please contact Uri Wilensky at <a href="mailto:uri@northwestern.edu">uri@northwestern.edu</a>.
    <h2>
      NetLogo User Manual license
    </h2>
    <p>
      Copyright 1999-2016 by Uri Wilensky.
    <p>
      <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/" target="_blank"><img alt="Creative Commons License" style="border-width:0" src="images/cc-by-sa-3.0.png"></a>
      <br>
      <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type">The NetLogo User Manual</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://ccl.northwestern.edu/netlogo/" property="cc:attributionName" rel="cc:attributionURL" target="_blank">Uri Wilensky</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/" target="_blank">Creative Commons
      Attribution-ShareAlike 3.0 Unported License</a>.
    <h2>
      Open source
    </h2>
    <p>
      The NetLogo source code is hosted at <a href="https://github.com/NetLogo/NetLogo" target="_blank">https://github.com/NetLogo/NetLogo</a>.
      Contributions from interested users are welcome.
    <h2>
      Third party licenses
    </h2>
    <h3>
      Scala
    </h3>
    <p>
      Much of NetLogo is written in the Scala language and uses the Scala
      standard libraries. The license for Scala is as follows:
    <div class="license">
      <p>
        Copyright (c) 2002-2011 EPFL, Lausanne, unless otherwise specified.
        All rights reserved.
      <p>
        This software was developed by the Programming Methods Laboratory
        of the Swiss Federal Institute of Technology (EPFL), Lausanne,
        Switzerland.
      <p>
        Permission to use, copy, modify, and distribute this software in
        source or binary form for any purpose with or without fee is hereby
        granted, provided that the following conditions are met:
      <ol>
        <li>Redistributions of source code must retain the above copyright
        notice, this list of conditions and the following disclaimer.
        <li>Redistributions in binary form must reproduce the above
        copyright notice, this list of conditions and the following
        disclaimer in the documentation and/or other materials provided
        with the distribution.
        <li>Neither the name of the EPFL nor the names of its contributors
        may be used to endorse or promote products derived from this
        software without specific prior written permission.
        </ol>
      <p>
        THIS SOFTWARE IS PROVIDED BY THE REGENTS AND CONTRIBUTORS ``AS
        IS'' AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT
        NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND
        FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL
        THE REGENTS OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT,
        INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
        (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
        SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
        HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT,
        STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
        ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED
        OF THE POSSIBILITY OF SUCH DAMAGE.
      </div>
    <h3>
      MersenneTwisterFast
    </h3>
    <p>
      For random number generation, NetLogo uses the MersenneTwisterFast
      class by Sean Luke. The copyright for that code is as follows:
    <div class="license">
      <p>
        Copyright (c) 2003 by Sean Luke.
        <br>
        Portions copyright (c) 1993 by Michael Lecuyer.
        <br>
        All rights reserved.
      <p>
        Redistribution and use in source and binary forms, with or without
        modification, are permitted provided that the following conditions
        are met:
      <ul>
        <li>Redistributions of source code must retain the above copyright
        notice, this list of conditions and the following disclaimer.
        <li>Redistributions in binary form must reproduce the above
        copyright notice, this list of conditions and the following
        disclaimer in the documentation and/or other materials provided
        with the distribution.
        <li>Neither the name of the copyright owners, their employers, nor
        the names of its contributors may be used to endorse or promote
        products derived from this software without specific prior written
        permission.
        </ul>
      <p>
        THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
        &quot;AS IS&quot; AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
        BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND
        FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL
        THE COPYRIGHT OWNERS OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT,
        INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
        (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
        SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
        HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT,
        STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
        ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED
        OF THE POSSIBILITY OF SUCH DAMAGE.
      </div>
    <h3>
      Colt
    </h3>
    <p>
      Parts of NetLogo (specifically, the random-gamma primitive) are based
      on code from the Colt library (<a href="http://acs.lbl.gov/~hoschek/colt/">http://acs.lbl.gov/~hoschek/colt/</a>).
      The copyright for that code is as follows:
    <div class="license">
      <p>
        Copyright 1999 CERN - European Organization for Nuclear Research.
        Permission to use, copy, modify, distribute and sell this software
        and its documentation for any purpose is hereby granted without
        fee, provided that the above copyright notice appear in all copies
        and that both that copyright notice and this permission notice
        appear in supporting documentation. CERN makes no representations
        about the suitability of this software for any purpose. It is
        provided &quot;as is&quot; without expressed or implied warranty.
      </div>
    <h3>
      JHotDraw
    </h3>
    <p>
      For the system dynamics modeler, NetLogo uses the JHotDraw library,
      which is Copyright (c) 1996, 1997 by IFA Informatik and Erich Gamma.
      The library is covered by the GNU LGPL (Lesser General Public
      License). The text of that license is included in the
      &quot;docs&quot; folder which accompanies the NetLogo download, and
      is also available from <a href="http://www.gnu.org/copyleft/lesser.html">http://www.gnu.org/copyleft/lesser.html</a>
      .
    <h3>
      JOGL
    </h3>
    <p>
      For 3D graphics rendering, NetLogo uses JOGL, a Java API for OpenGL, and Gluegen, an automatic code generation tool.
      For more information about JOGL and Gluegen, see <a href="http://jogamp.org/">jogamp.org/</a>.
      Both libraries are distributed under the BSD license:
    <div class="license">
      Copyright 2010 JogAmp Community. All rights reserved.
      <p>
      Redistribution and use in source and binary forms, with or without modification, are
      permitted provided that the following conditions are met:
      <p>
      1. Redistributions of source code must retain the above copyright notice, this list of
      conditions and the following disclaimer.
      <p>
      2. Redistributions in binary form must reproduce the above copyright notice, this list
      of conditions and the following disclaimer in the documentation and/or other materials
      provided with the distribution.
      <p>
      THIS SOFTWARE IS PROVIDED BY JogAmp Community ``AS IS'' AND ANY EXPRESS OR IMPLIED
      WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND
      FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL JogAmp Community OR
      CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
      CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
      SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
      ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING
      NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
      ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
      <p>
      The views and conclusions contained in the software and documentation are those of the
      authors and should not be interpreted as representing official policies, either expressed
      or implied, of JogAmp Community.
      <p>
      You can address the JogAmp Community via:
      Web                http://jogamp.org/
      Forum/Mailinglist  http://forum.jogamp.org
      Chatrooms
      IRC              irc.freenode.net #jogamp
      Jabber           conference.jabber.org room: jogamp (deprecated!)
      Repository         http://jogamp.org/git/
      Email              mediastream _at_ jogamp _dot_ org
    </div>
    <h3>
      Matrix3D
    </h3>
    <p>
      For 3D matrix operations, NetLogo uses the Matrix3D class. It is
      distributed under the following license:
    <div class="license">
      Copyright (c) 1994-1996 Sun Microsystems, Inc. All Rights Reserved.
      <p>
        Sun grants you (&quot;Licensee&quot;) a non-exclusive, royalty
        free, license to use, modify and redistribute this software in
        source and binary code form, provided that i) this copyright notice
        and license appear on all copies of the software; and ii) Licensee
        does not utilize the software in a manner which is disparaging to
        Sun.
      <p>
        This software is provided &quot;AS IS,&quot; without a warranty of
        any kind. ALL EXPRESS OR IMPLIED CONDITIONS, REPRESENTATIONS AND
        WARRANTIES, INCLUDING ANY IMPLIED WARRANTY OF MERCHANTABILITY,
        FITNESS FOR A PARTICULAR PURPOSE OR NON-INFRINGEMENT, ARE HEREBY
        EXCLUDED. SUN AND ITS LICENSORS SHALL NOT BE LIABLE FOR ANY DAMAGES
        SUFFERED BY LICENSEE AS A RESULT OF USING, MODIFYING OR
        DISTRIBUTING THE SOFTWARE OR ITS DERIVATIVES. IN NO EVENT WILL SUN
        OR ITS LICENSORS BE LIABLE FOR ANY LOST REVENUE, PROFIT OR DATA, OR
        FOR DIRECT, INDIRECT, SPECIAL, CONSEQUENTIAL, INCIDENTAL OR
        PUNITIVE DAMAGES, HOWEVER CAUSED AND REGARDLESS OF THE THEORY OF
        LIABILITY, ARISING OUT OF THE USE OF OR INABILITY TO USE SOFTWARE,
        EVEN IF SUN HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
      <p>
        This software is not designed or intended for use in on-line
        control of aircraft, air traffic, aircraft navigation or aircraft
        communications; or in the design, construction, operation or
        maintenance of any nuclear facility. Licensee represents and
        warrants that it will not use or redistribute the Software for such
        purposes.
      </div>
    <h3>
      ASM
    </h3>
    <p>
      For Java bytecode generation, NetLogo uses the ASM library. It is
      distributed under the following license:
    <div class="license">
      <p>
        Copyright (c) 2000-2010 INRIA, France Telecom. All rights reserved.
      <p>
        Redistribution and use in source and binary forms, with or without
        modification, are permitted provided that the following conditions
        are met:
      <p>
        1. Redistributions of source code must retain the above copyright
        notice, this list of conditions and the following disclaimer.
      <p>
        2. Redistributions in binary form must reproduce the above
        copyright notice, this list of conditions and the following
        disclaimer in the documentation and/or other materials provided
        with the distribution.
      <p>
        3. Neither the name of the copyright holders nor the names of its
        contributors may be used to endorse or promote products derived
        from this software without specific prior written permission.
      <p>
        THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
        &quot;AS IS&quot; AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
        BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND
        FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL
        THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT,
        INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
        (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
        SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
        HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT,
        STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
        ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED
        OF THE POSSIBILITY OF SUCH DAMAGE.
      </div>
    <h3>
      Log4j
    </h3>
    <p>
      For logging, NetLogo uses the Log4j library. The copyright and
      license for the library are as follows:
    <div class="license">
      <p>
        Copyright 2007 The Apache Software Foundation
      <p>
        Licensed under the Apache License, Version 2.0 (the
        &quot;License&quot;); you may not use this file except in
        compliance with the License. You may obtain a copy of the License
        at
      <p>
        <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">http://www.apache.org/licenses/LICENSE-2.0</a>
      <p>
        Unless required by applicable law or agreed to in writing, software
        distributed under the License is distributed on an &quot;AS
        IS&quot; BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
        either express or implied. See the License for the specific
        language governing permissions and limitations under the License.
      </div>
    <h3>
      PicoContainer
    </h3>
    <p>
      For dependency injection, NetLogo uses the PicoContainer library. The
      copyright and license for the library are as follows:
    <div class="license">
      <p>
        Copyright (c) 2003-2006, PicoContainer Organization All rights
        reserved.
      <p>
        Redistribution and use in source and binary forms, with or without
        modification, are permitted provided that the following conditions
        are met:
      <ul>
        <li>Redistributions of source code must retain the above copyright
        notice, this list of conditions and the following disclaimer.
        <li>Redistributions in binary form must reproduce the above
        copyright notice, this list of conditions and the following
        disclaimer in the documentation and/or other materials provided
        with the distribution.
        <li>Neither the name of the PicoContainer Organization nor the
        names of its contributors may be used to endorse or promote
        products derived from this software without specific prior written
        permission.
        </ul>
      <p>
        THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
        &quot;AS IS&quot; AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
        BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND
        FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL
        THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT,
        INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
        (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
        SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
        HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT,
        STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
        ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED
        OF THE POSSIBILITY OF SUCH DAMAGE.
      </div>
    <h3>
      Pegdown and Parboiled
    </h3>
    <p>
      For the Info tab, NetLogo uses the Pegdown and Parboiled libraries.
    <p>
      The copyright and license for Pegdown are as follows:
    <div class="license">
      <p>
        pegdown - Copyright (C) 2010-2011 Mathias Doenitz
      <p>
        Based on peg-markdown - markdown in c, implemented using PEG
        grammar Copyright (c) 2008 John MacFarlane (<a href="http://github.com/jgm/peg-markdown" target="_blank">http://github.com/jgm/peg-markdown</a>)
      <p>
        pegdown is released under the Apache License 2.0. (<a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">http://www.apache.org/licenses/LICENSE-2.0</a>)
      </div>
    <p>
      The copyright and license for Parboiled are as follows:
    <div class="license">
      <p>
        parboiled - Copyright (C) 2009-2011 Mathias Doenitz
      <p>
        This product includes software developed by Mathias Doenitz
        (<a href="http://www.parboiled.org/" target="_blank">http://www.parboiled.org/</a>).
      <p>
        pegdown is released under the Apache License 2.0. (<a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">http://www.apache.org/licenses/LICENSE-2.0</a>)
      </div>
    <h3>
      RSyntaxTextArea
    </h3>
    <p>The NetLogo editor uses the RSyntaxTextArea library.
    The copyright and license are as follows:
    <div class="license">
      Redistribution and use in source and binary forms, with or without
      modification, are permitted provided that the following conditions are met:
          * Redistributions of source code must retain the above copyright
            notice, this list of conditions and the following disclaimer.
          * Redistributions in binary form must reproduce the above copyright
            notice, this list of conditions and the following disclaimer in the
            documentation and/or other materials provided with the distribution.
          * Neither the name of the author nor the names of its contributors may
            be used to endorse or promote products derived from this software
            without specific prior written permission.

      THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
      ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
      WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
      DISCLAIMED. IN NO EVENT SHALL &amp;COPYRIGHT HOLDER&amp; BE LIABLE FOR ANY
      DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
      (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
      LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
      ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
      (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
      SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
    </div>
    <h3>
      JCodec
    </h3>
    <p>
    The NetLogo <code>vid</code> extension makes use of the JCodec library.
    The copyright and license for JCodec are as follows:
    <div class="license">
      Redistribution  and  use  in   source  and   binary   forms,  with  or  without
      modification, are permitted provided  that the following  conditions  are  met:

      Redistributions of  source code  must  retain the above  copyright notice, this
      list of conditions and the following disclaimer. Redistributions in binary form
      must  reproduce  the above  copyright notice, this  list of conditions  and the
      following disclaimer in the documentation and/or other  materials provided with
      the distribution.

      THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
      ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,  BUT NOT LIMITED TO, THE  IMPLIED
      WARRANTIES  OF  MERCHANTABILITY  AND  FITNESS  FOR  A  PARTICULAR  PURPOSE  ARE
      DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR
      ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY,  OR CONSEQUENTIAL DAMAGES
      (INCLUDING,  BUT NOT LIMITED TO,  PROCUREMENT OF SUBSTITUTE GOODS  OR SERVICES;
      LOSS OF USE, DATA, OR PROFITS;  OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
      ANY  THEORY  OF  LIABILITY,  WHETHER  IN  CONTRACT,  STRICT LIABILITY,  OR TORT
      (INCLUDING  NEGLIGENCE OR OTHERWISE)  ARISING IN ANY WAY OUT OF THE USE OF THIS
      SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
    </div>
    <h3>
      Guava
    </h3>
      The NetLogo <code>ls</code> extension makes use of the Guava library.
      Guava is released under the Apache License 2.0 (<a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">http://www.apache.org/licenses/LICENSE-2.0</a>)
    <h3>
      Gephi
    </h3>
    <p>
    The <code>nw</code> extension makes use of the Gephi library.
    Gephi is licensed under the following terms:
    <div class="license">
      Gephi Dual License Header and License Notice
      <p>
      The Gephi Consortium elects to use only the GNU General Public License version 3 (GPL) for any software where a choice of GPL license versions are made available with the language indicating that GPLv3 or any later version may be used, or where a choice of which version of the GPL is applied is unspecified.
      <p>
      For more information on the license please see: the Gephi License FAQs.
      <p>
      License headers are available on http://www.opensource.org/licenses/CDDL-1.0 and http://www.gnu.org/licenses/gpl.html.
    </div>

