<!DOCTYPE html>
<html lang="en">
  <head>
    <title>NetLogo Help:{{#containedPrims}} {{.}}{{/containedPrims}}</title>

    <link rel="stylesheet" href="../netlogo.css" type="text/css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    {{{html}}}
    <p>
      Take me to the full <a href="../index2.html">NetLogo Dictionary</a>
    </p>
  </body>
</html>
