<!DOCTYPE html>
<html lang="en">
  <head>
    <title>NetLogo Help:{{#containedPrims}} {{.}}{{/containedPrims}}</title>
    <link rel="stylesheet" href="../netlogo.css" type="text/css" />
		<link rel="icon" type="image/png" href="../favicon/favicon-96x96.png" sizes="96x96" />
		<link rel="icon" type="image/svg+xml" href="../favicon/favicon.svg" />
		<link rel="shortcut icon" href="../favicon/favicon.ico" />
		<link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-touch-icon.png" />
		<meta name="apple-mobile-web-app-title" content="Docs" />
		<link rel="manifest" href="favicon/site.webmanifest" />
    {{#pdf}}
		<link rel="stylesheet" href="netlogo-pdf.css" type="text/css"/>
		{{/pdf}}
		{{^pdf}}
		<link rel="stylesheet" href="netlogo.css" type="text/css"/>
		{{/pdf}}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body class="prose">
    {{{html}}}
    <p>
      Take me to the full <a href="../dictionary.html">NetLogo Dictionary</a>
    </p>
  </body>
</html>
