{{> header.html}}

Extension Manager is a tool with which you can discover and manage your set of [NetLogo extensions](extensions.html). Extensions provide additional primitives not built-in to the language. These primitives allow you to do all kinds of things, from using more sophisticated data structures to capturing video from a webcam. With the Extension Manager you can search for extensions that will statisfy your needs, and install them in one click. You can also receive updates for your extensions whenever they are available, to always have the latest features and bug-fixes they offer.

## Interface

The Extension Manager can be shown by choosing "Extensions…" from the Tools menu.
![[screenshot.png]]

On the left you can see a list of the extensions. Extensions that are already installed and are up-to-date have a green checkmark next to them. Extensions that are installed but have a newer version available are marked with an orange arrow. Extensions that are not installed are not marked. When an extension is selected, the right side will have a more detailed description of the extension and above it, various operations that can be invoked on it: install/update/uninstall (depending on its situation), and a button to open a browser with the homepage of the extension where you're likely to find a listing of all primitives it provides and maybe examples of usage.

Note that you can select multiple extensions and act on them all at once.

On the bottom you have a button to update all extensions to their latest versions.

You can type some text at the top to filter the list of extensions based on a text they contain in their name or descriptions.

The Extension Manager checks for extension updates whenever you open it.
