<!DOCTYPE html>
<html lang="en">
    <head>
        <title>NetLogo {{ version }} User Manual</title>
        <link rel="stylesheet" href="netlogo.css" type="text/css" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body class="sidebar">
        <div class="headerbanner">
            <span class="heading-title offwhitetext xlargefont">
                <img src="./images/common/user-manual.svg" />
            </span>
            <span class="heading-title offwhitetext largefont">version {{ version }}</span>
            <span class="heading-title offwhitetext">{{ date }}</span>
        </div>
        <div style="margin-bottom: 0em; margin-top: 0.25em">
            <ul class="small-items">
                <li><a href="versions.html" target="entry">Release Notes</a></li>
                <li><a href="requirements.html" target="entry">System Requirements</a></li>
                <li><a href="contact.html" target="entry">Contacting Us</a></li>
                <li><a href="copyright.html" target="entry">Copyright / License</a></li>
            </ul>
        </div>
        <hr />
        <div class="heading-section">
            <span class="heading-title">Introduction</span>
            <ul class="heading-items">
                <li><a href="whatis.html" target="entry">What is NetLogo?</a></li>
                <li><a href="sample.html" target="entry">Sample Model: Party</a></li>
            </ul>
        </div>
        <div class="heading-section">
            <span class="heading-title">Learning NetLogo</span>
            <ul class="heading-items">
                <li><a href="tutorial1.html" target="entry">Tutorial #1: Models</a></li>
                <li><a href="tutorial2.html" target="entry">Tutorial #2: Commands</a></li>
                <li><a href="tutorial3.html" target="entry">Tutorial #3: Procedures</a></li>
            </ul>
        </div>
        <div class="heading-section">
            <span class="heading-title">Reference</span>
            <ul class="heading-items">
                <li>
                    <a href="interface.html" target="entry">Interface Guide</a>
                    <ul class="interface-items">
                        <li><a href="interfacetab.html" target="entry">Interface Tab Guide</a></li>
                        <li><a href="infotab.html" target="entry">Info Tab Guide</a></li>
                        <li><a href="codetab.html" target="entry">Code Tab Guide</a></li>
                    </ul>
                </li>
                <li><a href="programming.html" target="entry">Programming Guide</a></li>
                <li><a href="transition.html" target="entry">Transition Guide</a></li>
                <li><a href="dictionary.html" target="entry">NetLogo Dictionary</a></li>
                <li><a href="diccionario.pdf" target="entry">(en Español)</a></li>
            </ul>
        </div>
        <div class="heading-section">
            <span class="heading-title">Features</span>
            <ul class="heading-items">
                <li><a href="extension-manager.html" target="entry">Extension Manager</a></li>
                <li><a href="shapes.html" target="entry">Shapes Editor</a></li>
                <li><a href="behaviorspace.html" target="entry">BehaviorSpace</a></li>
                <li><a href="behaviorspace-spanish.html" target="entry">(en Español)</a></li>
                <li><a href="systemdynamics.html" target="entry">System Dynamics</a></li>
                <li><a href="hubnet.html" target="entry">HubNet</a></li>
                <li><a href="hubnet-authoring.html" target="entry">HubNet Authoring</a></li>
                <li><a href="logging.html" target="entry">Logging</a></li>
                <li><a href="controlling.html" target="entry">Controlling</a></li>
                <li><a href="mathematica.html" target="entry">Mathematica Link</a></li>
                <li><a href="3d.html" target="entry">NetLogo 3D</a></li>
                <li><a href="modelingcommons.html" target="entry">Upload to Modeling Commons</a></li>
            </ul>
        </div>
        <div class="heading-section">
            <span class="heading-title">Extensions</span>
            <ul class="heading-items">
                <li><a href="extensions.html" target="entry">Extensions Guide</a> {{#documentedExtensions}}</li>
                <li>
                    <a href="{{ _1 }}.html" target="entry">{{ _2 }}</a> {{/documentedExtensions}}
                </li>
            </ul>
        </div>
        <div class="heading-section">
            <span class="heading-title">FAQ</span>
            <ul class="heading-items">
                <li><a href="faq.html" target="entry">Frequently Asked Questions</a></li>
            </ul>
        </div>
        <div class="heading-section">
            <strong
                ><em>manual in <a target="_blank" href="NetLogo%20User%20Manual.pdf">printable form</a> (PDF)</em></strong
            >
        </div>
        <div class="heading-section bottom-section">
            <strong>
                The NetLogo User Manual by <a href="http://ccl.northwestern.edu/netlogo/" target="_blank">Uri Wilensky</a> is
                licensed under a
                <a rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/" target="_blank"
                    >Creative Commons Attribution-ShareAlike 3.0 Unported License</a
                >.
            </strong>
            <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/" target="_blank"
                ><img alt="Creative Commons License" style="border-width: 0" src="images/cc-by-sa-3.0.png"
            /></a>
        </div>
    </body>
</html>
