<!DOCTYPE html>
<html lang="en">
<head>
<title>
  NetLogo {{version}} User Manual: {{title}}
</title>
<link rel="stylesheet" href="netlogo.css" type="text/css">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

# {{title}}

</head>
<body>
<div class="version">
  NetLogo {{version}} User Manual
</div>
</body>
</html>
