<!DOCTYPE html>
<title>
      NetLogo {{version}} User Manual
    </title>
    <link rel="stylesheet" href="netlogo.css" type="text/css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style type="text/css">
body { background: rgb(166,172,255) }
    p.headings { font-size: 80% ; }
    </style>
    <div class="headerbanner">
      <span class="block offwhitetext xlargefont bold">NetLogo</span>
      <span class="block offwhitetext xlargefont bold">User&nbsp;Manual</span>
      <span class="block offwhitetext largefont bold">version&nbsp;{{version}}</span>
      <span class="block offwhitetext largefont bold">{{date}}</span>
    </div>
    <p style="margin-bottom: 0em;">
        <span class="block xsmallfont"><b>Release Notes</b></span>
        <span class="block xsmallfont"><b><a href="versions.html"     target="entry">What's&nbsp;New?</a></b></span>
        <span class="block xsmallfont"><b><a href="requirements.html" target="entry">System&nbsp;Requirements</a></b></span>
        <span class="block xsmallfont"><b><a href="contact.html"      target="entry">Contacting&nbsp;Us</a></b></span>
        <span class="block xsmallfont"><b><a href="copyright.html"    target="entry">Copyright&nbsp;/&nbsp;License</a></b></span>
    <hr>
    <p class="headings">
      <b>Introduction</b>
      <br>
      &nbsp;&nbsp;&nbsp;<b><a href="whatis.html" target="entry">What&nbsp;is&nbsp;NetLogo?</a></b>
      <br>
      &nbsp;&nbsp;&nbsp;<b><a href="sample.html" target="entry">Sample&nbsp;Model:&nbsp;Party</a></b>
    <p class="headings">
      <b>Learning&nbsp;NetLogo</b>
      <br>
      &nbsp;&nbsp;&nbsp;<b><a href="tutorial1.html" target="entry">Tutorial&nbsp;#1:&nbsp;Models</a></b>
      <br>
      &nbsp;&nbsp;&nbsp;<b><a href="tutorial2.html" target="entry">Tutorial&nbsp;#2:&nbsp;Commands</a></b>
      <br>
      &nbsp;&nbsp;&nbsp;<b><a href="tutorial3.html" target="entry">Tutorial&nbsp;#3:&nbsp;Procedures</a></b>
    <p class="headings">
      <b>Reference</b>
      <br>
      &nbsp;&nbsp;&nbsp;<b><a href="interface.html" target="entry">Interface&nbsp;Guide</a></b>
      <br>
      &nbsp;&nbsp;&nbsp;<b><a href="infotab.html" target="entry">Info
      Tab&nbsp;Guide</a></b>
      <br>
      &nbsp;&nbsp;&nbsp;<b><a href="programming.html" target="entry">Programming&nbsp;Guide</a></b>
      <br>
      &nbsp;&nbsp;&nbsp;<b><a href="transition.html" target="entry">Transition&nbsp;Guide</a></b>
      <br>
      &nbsp;&nbsp;&nbsp;<b><a href="dictionary.html" target="entry">NetLogo&nbsp;Dictionary</a></b>
    <p class="headings">
      <b>Features</b>
      <br>
      &nbsp;&nbsp;&nbsp;<b><a href="shapes.html" target="entry">Shapes&nbsp;Editor</a></b>
      <br>
      &nbsp;&nbsp;&nbsp;<b><a href="behaviorspace.html" target="entry">BehaviorSpace</a></b>
      <br>
      &nbsp;&nbsp;&nbsp;<b><a href="systemdynamics.html" target="entry">System Dynamics</a></b>
      <br>
      &nbsp;&nbsp;&nbsp;<b><a href="hubnet.html" target="entry">HubNet</a></b>
      <br>
      &nbsp;&nbsp;&nbsp;<b><a href="hubnet-authoring.html" target="entry">HubNet Authoring</a></b>
      <br>
      &nbsp;&nbsp;&nbsp;<b><a href="logging.html" target="entry">Logging</a></b>
      <br>
      &nbsp;&nbsp;&nbsp;<b><a href="controlling.html" target="entry">Controlling</a></b>
      <br>
      &nbsp;&nbsp;&nbsp;<b><a href="3d.html" target="entry">NetLogo
      3D</a></b>
      <br>
      &nbsp;&nbsp;&nbsp;<b><a href="modelingcommons.html" target="entry">Save to Modeling Commons</a></b>
    <p class="headings">
      <b>Extensions</b>
      <br>
      &nbsp;&nbsp;&nbsp;<b><a href="extensions.html" target="entry">Extensions Guide</a></b>
      <br>
      &nbsp;&nbsp;&nbsp;<b><a href="arraystables.html" target="entry">Arrays &amp; Tables</a></b>
      <br>
      &nbsp;&nbsp;&nbsp;<b><a href="csv.html" target="entry">CSV</a></b>
      <br>
      &nbsp;&nbsp;&nbsp;<b><a href="nw.html" target="entry">Networks</a></b>
      <br>
      &nbsp;&nbsp;&nbsp;<b><a href="palette.html" target="entry">Palette</a></b>
      <br>
      &nbsp;&nbsp;&nbsp;<b><a href="matrix.html" target="entry">Matrices</a></b>
      <br>
      &nbsp;&nbsp;&nbsp;<b><a href="sound.html" target="entry">Sound</a></b>
      <br>
      &nbsp;&nbsp;&nbsp;<b><a href="netlogolab.html" target="entry">Robotics/NetLogoLab</a></b>
      <br>
      &nbsp;&nbsp;&nbsp;<b><a href="profiler.html" target="entry">Profiler</a></b>
      <br>
      &nbsp;&nbsp;&nbsp;<b><a href="gis.html" target="entry">GIS</a></b>
      <br>
      &nbsp;&nbsp;&nbsp;<b><a href="bitmap.html" target="entry">Bitmap</a></b>
      <br>
      &nbsp;&nbsp;&nbsp;<b><a href="video.html" target="entry">QuickTime</a></b>
    <p class="headings">
      <b>FAQ</b>
      <br>
      &nbsp;&nbsp;&nbsp;<b><a href="faq.html" target="entry">Frequently
      Asked Questions</a></b>
    <p class="headings">
      <i>manual&nbsp;in&nbsp;<a target="_blank" href="NetLogo%20User%20Manual.pdf">printable&nbsp;form</a>&nbsp;(PDF)</i>
    <p class="headings">
      &nbsp;
    <p class="headings">
      <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="images/cc-by-sa-3.0.png"></a>
      <br>
      <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type">The NetLogo User Manual</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://ccl.northwestern.edu/netlogo/" property="cc:attributionName" rel="cc:attributionURL">Uri Wilensky</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons
      Attribution-ShareAlike 3.0 Unported License</a>.

