<!DOCTYPE html>
<title>
      NetLogo {{version}} User Manual: HubNet Guide
    </title>
    <link rel="stylesheet" href="netlogo.css" type="text/css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <h1>
      HubNet Guide
    </h1>
    {{> versionTag.html }}
    <p>
      This section of the User Manual introduces the HubNet system and
      includes instructions to set up and run a HubNet activity.
    <p>
      HubNet is a technology that lets you use NetLogo to run
      <i>participatory simulations</i> in the classroom. In a participatory
      simulation, a whole class takes part in enacting the behavior of a
      system as each student controls a part of the system by using an
      individual device, such as a networked computer.
    <p>
      For example, in the Gridlock simulation, each student controls a
      traffic light in a simulated city. The class as a whole tries to make
      traffic flow efficiently through the city. As the simulation runs,
      data is collected which can afterwards be analyzed on a computer.
    <p>
      For more information on participatory simulations and their learning
      potential, please visit the <a href="http://ccl.northwestern.edu/partsims.html" target="_blank">Participatory Simulations
      Project web site</a>.
    <div id="about">
    <h2>
      <a>Understanding HubNet</a>
    </h2>
    <div id="NetLogo">
    <h3>
      <a>NetLogo</a>
    </h3>
    <p>
      NetLogo is a programmable modeling environment. It comes with a large
      library of existing simulations, both participatory and traditional,
      that you can use and modify. Content areas include social science and
      economics, biology and medicine, physics and chemistry, and
      mathematics and computer science. You and your students can also use
      it to build your own simulations.
    <p>
      In traditional NetLogo simulations, the simulation runs according to
      rules that the simulation author specifies. HubNet adds a new
      dimension to NetLogo by letting simulations run not just according to
      rules, but by direct human participation.
    <p>
      Since HubNet builds upon NetLogo, we recommend that before trying
      HubNet for the first time, you become familiar with the basics of
      NetLogo. To get started using NetLogo models, see <a href="tutorial1.html">Tutorial #1: Running Models</a> in the NetLogo Users
      Manual.
    </div>
    <div id="architecture">
    <h3>
      <a>HubNet Architecture</a>
    </h3>
    <p>
      HubNet simulations are based on a client/server architecture. The
      activity leader uses the NetLogo application to run a HubNet
      activity. When NetLogo is running a HubNet activity, we refer to it
      as a HubNet server. Participants use a client application to log in
      and interact with the HubNet server.
    <p>
      While HubNet is only supported via the Java Desktop clients at the moment,
      we hope to add support for other types of clients such as tablets and
      phones in the future.
    </div>
  </div>
  <div id="comp">
    <h2>
      <a>Computer HubNet</a>
    </h2>
    <div id="comp_activities">
    <h3>
      <a>Activities</a>
    </h3>
    <p>
      The following activities are available in the Models Library, in the
      HubNet Activities folder. Information on how to run the models and
      activities can be found in the Info tab of each model. Additional
      discussion of educational goals and ways to incorporate many of the
      activities into your classroom in the Participatory Simulations Guide
      on the <a href="http://ccl.northwestern.edu/partsims.html" target="_blank">Participatory Simulations
      Project web site</a>.
    <ul>
      <li>Bug Hunters Camouflage - students hunt bugs and camouflaging
      emerges.
      <li>Dice Stalagmite HubNet - students roll dice and explore the space
      of dependent and independent events.
      <li>Disease - A disease spreads through the simulated population of
      students.
      <li>Disease Doctors - A slight modification to the Disease activity
      where some students can recover from the disease.
      <li>Gridlock - Students use traffic lights to control the flow of
      traffic through a city.
      <li>Polling - Ask students questions and plot their answers.
      <li>Root Beer Game - An adaptation of a popular game created at MIT
      in the early 1960s that shows how small delays in a distribution
      system can create big problems.
      <li>Sampler - Students engage in statistical analysis as individuals
      and as a classroom. Through these activities, students discover the
      meaning and use of basic concepts in statistics.
      <li>Tragedy of the Commons - Students work as farmers sharing a
      common resource.
      </ul>
    </div>
    <div id="clients">
    <h3>
      <a>Clients</a>
    </h3>
    <p>
      To use the client application you simply need to launch the HubNet
      client application that is bundled with NetLogo.
    </div>
    <div id="comp_requirements">
    <h3>
      <a>Requirements</a>
    </h3>
    <p>
      To use Computer HubNet, you need a networked computer with NetLogo
      installed for the server. When using the client application you will
      also need a networked computer with NetLogo installed for each
      participant. When using in classroom settings we also suggest an
      attached projector for the leader to project the entire simulation to
      the participants.
    </div>
    <div id="comp_starting">
    <h3>
      <a>Starting an activity</a>
    </h3>
    <p>
      You'll find the HubNet activities in NetLogo's Models
      Library, in the HubNet Activities folder. We suggest doing a few
      practice runs of an activity before trying it in front of a class.
    <p class="screenshot">
      <img src="images/hubnet/hubnetstartactivity.jpg" alt="[screen shot]">
    <p>
      Open a Computer HubNet model. NetLogo will prompt you to enter the
      name of your new HubNet session. This is the name that participants
      will use to identify this activity. Enter a name and press Start.
    <p>
      NetLogo will open the HubNet Control Center, which lets you interact
      with the HubNet server.
    <p>
      You, as the leader, should then notify everyone that they may join.
      To join the activity, participants launch the HubNet Client
      application and enter their name. They should see your activity
      listed and can join your activity by selecting it and pressing Enter.
      If the activity you started is not listed the student can enter the
      server address manually which can be found in the HubNet Control
      Center.
    </div>
    <div id="comp_control">
    <h3>
      <a>HubNet Control Center</a>
    </h3>
    <p class="screenshot">
      <img src="images/hubnet/hubnetcontrolcenter.jpg" alt="[screen shot]">
    <p>
      The HubNet Control Center lets you interact with the HubNet server.
      It displays the name, activity, address and port number of your
      server. The &quot;Mirror 2D View on clients&quot; checkbox controls
      whether the HubNet participants can see the view on their clients,
      assuming there is a view in the client setup. The &quot;Mirror plots
      on clients&quot; checkbox controls whether participants will receive
      plot information.
    <p>
      The client list on the right displays the names of clients that are
      currently connected to you activity. To remove a participant from the
      activity, select their name in the list and press the Kick button. To
      launch your own HubNet client press the Local button, this is
      particularly useful when you are debugging an activity. The
      &quot;Reset&quot; button kicks out all currently logged in clients
      and reloads the client interface.
    <p>
      The lower part of the Control Center displays messages when a
      participant joins or leaves the activity. To broadcast a message to
      all the participants, click on the field at the bottom, type your
      message and press Broadcast Message.
    </div>
    <div id="comp_troubleshoot">
    <h3>
      <a>Troubleshooting</a>
    </h3>
    <h4>
      <span>I started a HubNet activity, but when participants open a HubNet
        Client, my activity isn't listed.</span>
    </h4>
    <p>
      On some networks, the HubNet Client cannot automatically detect a
      HubNet server. Tell your participants to manually enter the server
      address and port of your HubNet server, which appear in the HubNet
      Control Center.
    <p>
      Note: The technical details on this are as follows. In order for the
      client to detect the server, multicast routing must be available
      between them. Not all networks support multicast routing. In
      particular, networks that use the IPsec protocol typically do not
      support multicast. The IPsec protocol is used on many virtual private
      networks (VPNs).
    <h4>
      When a participant tries to connect to an activity, nothing happens
      (the client appears to hang or gives an error saying that no server
      was found).
    </h4>
    <p>
      If your computer or network has a firewall, it may be impeding the
      HubNet server from communicating. Make sure that your computer and
      network are not blocking ports used by the HubNet server (ports
      9173-9180).
    <h4>
      The view on the HubNet client is gray.
    </h4>
    <ul>
      <li>Verify that the &quot;Mirror 2D view on clients&quot; checkbox in
      the HubNet Control Center is selected.
      <li>Make sure that the display switch in the model is on.
      <li>If you have made changes to the size of the view on the server
      you may need to press the &quot;Reset&quot; button in the Control
      Center to ensure the clients get the new size.
      </ul>
    <h4>
      There is no view on the HubNet client.
    </h4>
    <p>
      Some activities don't have a view on the client. If you want to
      add a view simply select &quot;HubNet Client Editor&quot; from the
      Tools Menu and add a view like any other widget. Make sure to press
      the &quot;Reset&quot; button before having clients log in.
    <h4>
      I can't quit a HubNet client.
    </h4>
    <p>
      You will have to force the client to quit. On OS X, force quit the
      application by selecting Force Quit... in the Apple menu. On Windows,
      press Ctrl-Alt-Delete to open the Task Manager, select HubNet Client
      and press End Task.
    <h4>
      My computer went to sleep while running a HubNet activity. When I
      woke the computer up, I got an error and HubNet wouldn't work
      anymore.
    </h4>
    <p>
      The HubNet server may stop working if the computer goes to sleep. If
      this happens, quit the NetLogo application and start over. Change the
      settings on your computer so it won't sleep again.
    <h4>
      My problem is not addressed on this page.
    </h4>
    <p>
      See <a href="contact.html">Contacting Us</a>.
    </div>
    <div id="comp_issues">
    <h3>
      <a>Known Limitations</a>
    </h3>
    <p>
      If HubNet malfunctions, see the bug reporting information at <a href="contact.html">Contacting Us</a>.
    <p>
      Please note that:
    <ul>
      <li>HubNet has not yet been extensively tested with large numbers of
      clients (i.e. more than about 25). Unexpected results may occur with
      more clients.
      <li>Out-of-memory conditions are not handled gracefully
      <li>Sending large amounts of plotting messages to the clients can
      take a long time.
      <li>NetLogo does not handle malicious clients in a robust manner (in
      other words, it is likely vulnerable to denial-of-service type
      attacks).
      <li>Performance does not degrade gracefully over slow or unreliable
      network connections.
      <li>If you are on a wireless network or sub-LAN, the IP address in
      the HubNet Control Center is not always the entire IP address of the
      server.
      <li>Computer HubNet has only been tested on LANs, and not on dial-up
      connections or WANs.
      </ul>
    </div>
  </div>
    </div>
    <div id="workshops">
    <h2>
      <a>Teacher workshops</a>
    </h2>
    <p>
      For information on upcoming workshops and NetLogo and HubNet use in
      the classroom, please <a href="contact.html">contact us</a>.
    </div>
    <div id="authoring">
    <h2>
      <a>HubNet Authoring Guide</a>
    </h2>
    <p>
      To learn about authoring or modifying HubNet activities, see the
      <a href="hubnet-authoring.html">HubNet Authoring Guide</a>.
    </div>
    <div id="headless">
    <h2>
      <a>Running HubNet in headless mode</a>
    </h2>
    <p>
      To learn about running HubNet activities from the command line, with
      no GUI on the server, see the HubNet section in the <a href="controlling.html">Controlling Guide</a>.
    </div>
    <h2>
      Getting help
    </h2>
    <p>
      If you have any questions about HubNet or need help getting started,
      <a href="contact.html">contact us</a>.

