<!DOCTYPE html>
<html lang="en">
	<head>
		<title>NetLogo {{ version }} User Manual</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<style>
			iframe {
				width: 100%;
			}
			body,
			table {
				width: 100%;
			}
			table {
				border-collapse: collapse;
			}
			* {
				height: 100%;
				margin: 0;
				padding: 0;
			}
			body {
				height: 100vh;
			}
		</style>
	</head>
	<body>
		<iframe name="entry" src="whatis.html"></iframe>
	</body>
</html>
