<!DOCTYPE html>
<html lang="en">
    <head>
        <title>NetLogo {{version}} User Manual</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="netlogo.css" type="text/css" />
        <link rel="icon" type="image/png" href="favicon/favicon-96x96.png" sizes="96x96" />
        <link rel="icon" type="image/svg+xml" href="favicon/favicon.svg" />
        <link rel="shortcut icon" href="favicon/favicon.ico" />
        <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png" />
        <meta name="apple-mobile-web-app-title" content="Docs" />
        <link rel="manifest" href="favicon/site.webmanifest" />
    </head>
    <body>
        {{> header}}

        <main class="my-1 px-2 landing">
            <div class="nl-container pt-5">
                <div class="nl-col nl-col-lg-8 nl-container-free">
                    <h1 class="nl-col landing mt-0"><span class="break-after">NetLogo</span> {{version}} Documentation</h1>
                    <p>
                        Welcome to the documentation for NetLogo {{version}}. Download the latest version
                        <a href="https://www.netlogo.org/download">here</a>.
                    </p>
                    <p>
                        Please read the <a href="versions.html#version-700-beta2-july-2025">Release Notes</a> for information about new features, bug
                        fixes, and other changes in this version. For help running models made in old versions, see the
                        <a href="transition.html#changes-for-netlogo-700">Transition Guide</a>.
                    </p>
                        <p>
                            If you use or refer to NetLogo in a publication, we ask that you cite it. For the correct citation, see the <a href="copyright.html">Copyright and License Information</a> page.
                        </p>
                </div>
                <img
                    class="nl-col nl-col-lg-4"
                    src="images/netlogo-banner_2x.webp"
                    alt="NetLogo {{version}} Banner"
                    srcset="images/netlogo-banner_1x.webp 1x, images/netlogo-banner_2x.webp 2x"
                />
            </div>
            <div class="nl-container">
                <div class="nl-col nl-col-md-6">
                    <h3>Important Links</h3>
                    <ul>
                        <li>
                            <a href="whatis.html">What is NetLogo?</a>
                        </li>
                        <li>
                            <a href="sample.html">Your first NetLogo model</a>
                        </li>
                        <li>
                            <a href="programming.html">Programming Guide</a>
                        </li>
                        <li>
                            <a href="dictionary.html">Dictionary Reference</a>
                        </li>
                        <li>
                            <a href="requirements.html">System Requirements</a>
                        </li>
                        <li>
                            <a href="copyright.html">Copyright Information</a>
                        </li>
                    </ul>
                </div>
                <div class="nl-col nl-col-md-6">
                    <h3>Beginner's Guide</h3>
                    <ul>
                        <li>
                            <a href="sample.html">Start Here: Tutorial Models</a>
                        </li>
                        <li>
                            <a href="https://ccl.northwestern.edu/netlogo/bind/dictionary.html" target="_blank">Beginner Interactive NetLogo Dictionary <span class="external-link">↗</span></a>
                        </li>
                        <li>
                            <a href="https://ccl.northwestern.edu/netlogo/bind/article/what-is-a-primitive.html" target="_blank"
                                >What is a primitive? <span class="external-link">↗</span></a
                            >
                        </li>
                        <li>
                            <a href="https://ccl.northwestern.edu/netlogo/bind/article/first-11-netlogo-primitives-to-learn.html" target="_blank"
                                >First 11 primitives to learn <span class="external-link">↗</span></a
                            >
                        </li>
                        <li>
                            <a href="https://ccl.northwestern.edu/netlogo/bind/article/common-netlogo-error-messages.html" target="_blank">Common NetLogo error messages <span class="external-link">↗</span></a>
                        </li>
                        <li>
                            <a href="https://ccl.northwestern.edu/netlogo/bind/article/code-colors-in-netlogo.html" target="_blank"
                                >What does each color indicate in NetLogo programming? <span class="external-link">↗</span></a
                            >
                        </li>
                    </ul>
                </div>
            </div>
        </main>
    </body>
</html>
