<!DOCTYPE html>
<html lang="en">
<head>
<title>
  NetLogo {{version}} User Manual
</title>
<style>
iframe { width: 99%; }
body  { width: 100%; }
* { height: 100%; margin: 0; padding: 0; }
body {height: 98%; }
</style>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<iframe src="headings.html"></iframe>
</body>
</html>
