<!DOCTYPE html>
<html lang="en">
<head>
<title>
  NetLogo {{version}} User Manual
</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<iframe src="headings.html" name="index" id="index"></iframe>
</body>
</html>
