<!DOCTYPE html>
<title>
      NetLogo {{version}} User Manual: Info Tab
    </title>
    <link rel="stylesheet" href="netlogo.css" type="text/css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <h1>
      <a name="information" id="information">Info Tab</a>
    </h1>
    {{> versionTag.html }}
<p>
  The Info tab provides an introduction to a model.
  It explains what system is being modeled, how the model was
  created, and and how to use it.
  It may also suggest things to explore and ways to extend the model, or
  call your attention to particular NetLogo features the model uses.
<p class="screenshot">
  <img alt="screen shot" src="images/interface/infotab.gif">
<p>
  You may wish to read the Info tab before starting a model.
<h2>
  <a name="info-editing" id="information">Editing</a>
</h2>
<p>
  The normal, formatted view of the Info tab is not editable. To make edits, click
  the &quot;Edit&quot; button. When done editing, click the
  &quot;Edit&quot; button again.
<p class="screenshot">
  <img alt="screen shot" src="images/interface/infotabedit.gif">
<p>
  You edit the Info tab as unformatted plain text. When you're done
  editing, the plain text you entered is displayed in a more attractive
  format.
<p>
  To control how the formatted display looks, you use a &quot;markup
  language&quot; called Markdown. You may have encountered Markdown
  elsewhere; it is used on a number of web sites. (There are other
  markup languages in use on the web; for example, Wikipedia used a
  markup language called MediaWiki. Markup languages differ
  in details.)
<p>
  The remainder of this guide is a tour of Markdown.

  {{{infoTabModelHTML}}}
