{{> header}}

<main class="prose">

# {{title}}

The Interface tab is where you watch your model run. It also has tools you can
use to inspect and alter what's going on inside the model.

When you first open NetLogo, the Interface tab is empty except for the view,
where the turtles and patches appear, and the Command Center, which allows you
to issue NetLogo commands.



<div class="toc">

#### Table of Contents
[TOC]

</div>


## Overview: Working with interface elements (widgets)

The elements you can use to create the interface for a NetLogo model are:
buttons, sliders, switches, choosers, inputs, monitors, plots, the
output area, and notes. These interface elements are often referred to
as widgets. More details are in the
[Chart: Interface Widgets](#chart-interface-widgets).

The Interface toolbar includes four tool buttons which control the
meaning of user actions. They are the [Interaction Tool](#interaction-tool),
the [Selection Tool](#selection-tool),
the [Edit Tool](#editing-tool), and the [Delete Tool](#deletion-tool).
There are also two pull-down menu tools, [Add Widgets Menu](add-widgets-menu),
and [Align Widgets Menu](align-widgets-menu). For details on the use of these
features to create, select, edit, delete, and adjust widgets, click on the tool
and menu links above. They are located after the widgets chart.

<figure style="text-align: center;">
  <img
  src="images/interfacetab/interfacetools.png"
  alt="Tool Buttons.">
  <figcaption>Tool Buttons</figcaption>
</figure>

One of the four tools is always active unless the user is currently
adding a widget. The active tool is colored in with blue. From
left to right on the Interface Toolbar are the Add Widgets and Align
Widgets pull-down menus, the Interaction Tool (a finger icon) Selection
Tool (a cursor with dotted box icon) the Edit Tool (a pencil icon) and
the Delete Tool (a garbage can icon).

Here is a brief introduction to working with widgets.

**Adding:** To add a widget, select it from the "Add Widget" drop-down
menu, or right click on the background and select it from the popup menu.
A light image of the widget will appear at the mouse cursor. Move the mouse to the desired location
and left click to insert the widget. A dialog will appear so you can set the appropriate
values. To cancel the addition of the widget, right click or press the Escape key.

**Selecting:** With the Selection Tool active you can select a single widget by
clicking it, and can select one or more widgets by dragging a rectangle around the
widget(s) with your mouse. A outline with square handles will appear around the widget to
show that it is selected. Alternatively you can right-click a widget and choose
"Select" from the popup menu.

**Unselecting:** To unselect all interface elements, click the mouse on the
white background of the Interface tab. To unselect an individual widget,
right-click the widget and choose "Deselect" from the popup menu, or hold Ctrl/Cmd and
left click on the widget.

**Copying**
You can copy one or more selected widgets using Ctrl/Cmd + C. Using Ctrl/Cmd + V, these
can be pasted into the same model, a different model, or a different instance of NetLogo.
The popup menu you get by right-clicking a widget also has options to copy and paste widgets.
After pasting the copied widgets, a light image of the widget(s) will appear. This preview
behaves the same way as adding a new widget. Copied widgets can be pasted multiple times.
Note that when copied into the same model the new widget(s) refer to the same
global variable as the original, so you will probably want to edit them. You can copy the
View, but pasting it into a model which already has a View will cause the old view to be
replaced. The same logic applies to the Output widget.

**Editing:** With the Editing Tool active you can click on a widget to bring up
its edit dialog. Alternatively you can right-click the widget and choose
"Edit" from the popup menu.

**Moving:** Select the widget, then drag it with your mouse to its
new location. If you hold down the shift key while dragging, the widget will
move only straight up and down or straight left and right.

**Resizing:** Select the widget, then drag the handles in the
selection border.

**Deleting:** With the Delete Tool active you can click on a widget to delete it.
Clicking the Delete button will delete any selected widgets.
You may also delete a widget by
right-clicking it and choosing "Delete" from the popup menu.

**Adjusting:** After selecting multiple widgets you can use the
Align Widget menu to align, stretch or distribute them.

To learn more about the different kinds of interface elements, refer to the
chart below.

## Charts: Interface Widgets

Buttons perform actions when clicked. The input widgets set values for
global variables. The input widgets are: sliders,
switches, choosers and inputs. Monitors and plots are two output widgets
that display a global variable value. There is also the output area which
can be written to by the model as it runs. Notes are used to add labels, instructions and
other information to the interface. Buttons are blue. Input widgets are a
shades of blue (lighter for the Light Theme, darker for the Dark Theme).
Output widgets are shades of grey. The background and font colors for notes
are user settable.

### Widget Appearance: Light and Dark Themes

<table border>
<colgroup>
<col style="width: 14%" />
<col style="width: 42%" />
<col style="width: 42%" />
</colgroup>
<thead>
<tr>
<th style="text-align: left;">
Description
</th><th style="text-align: left;">
Widget Light Color Theme
</th>
<th style="text-align: left;">
Widget Dark Color Theme
</th>
</tr>
</thead>
<tbody>
<tr>
<td class="subheader" colspan="3">
<strong>Buttons</strong>
</td>
</tr>
<tr>
<td>
Forever Turtle Button
</td>
<td>
<img src="./images/interfacetab/moveturtleforeverlight.png" style="width:60" />
</td>
<td>
<img src="./images/interfacetab/moveturtleforeverdark.png" style="width:60" />
</td>
</tr>
<tr>
<td class="subheader" colspan="3">
<strong>Input Widgets</strong>
</td>
</tr>
<tr>
<td>
Slider
</td>
<td>
<img src="./images/interfacetab/sliderlight.png" style="width:25" />
</td>
<td>
<img src="./images/interfacetab/sliderdark.png" style="width:25" />
</td>
</tr>
<tr>
<td>
Switch
</td>
<td>
<img src="./images/interfacetab/switchlight.png" style="width:1.5in" />
</td>
<td>
<img src="./images/interfacetab/switchdark.png" style="width::1.5in" />
</td>
</tr>
<tr>
<td>
Chooser
</td>
<td>
<img src="./images/interfacetab/chooserlight.png" style="width:2.5in" />
</td>
<td>
<img src="./images/interfacetab/chooserdark.png" style="width:2.5in" />
</td>
</tr>
<tr>
<td>
Input (Color)
</td>
<td>
<img src="./images/interfacetab/colorinputlight.png" style="width:2.5in" />
</td>
<td>
<img src="./images/interfacetab/colorinputdark.png" style="width:2.5in" />
</td>
</tr>
<tr>
<td class="subheader" colspan="3">
<strong>Output Widgets</strong>
</td>
</tr>
<tr>
<td>
Monitor
</td>
<td>
<img src="./images/interfacetab/monitorlight.png" style="width:100" />
</td>
<td>
<img src="./images/interfacetab/monitordark.png" style="width:100" />
</td>
</tr>
<tr>
<td>
Plot
</td>
<td>
<img src="./images/interfacetab/plotlight.png" style="width:2.65in" />
</td>
<td>
<img src="./images/interfacetab/plotdark.png" style="width:2.65in" />
</td>
</tr>
<tr>
<td>
Output
</td>
<td>
<img src="./images/interfacetab/outputlight.png" style="width:2.65in" />
</td>
<td>
<img src="./images/interfacetab/outputdark.png" style="width:2.65in" />
</td>
</tr>
<tr>
<td class="subheader" colspan="3">
<strong>Notes</strong>
</td>
</tr>
<tr>
<td>
Note
</td>
<td>
<img src="./images/interfacetab/notelight.png" style="width:2.65in" />
</td>
<td>
<img src="./images/interfacetab/notedark.png" style="width:2.65in" />
</td>
</tr>
<tr>
<td>
Editing a Note
</td>
<td>
<img src="./images/interfacetab/editnotelight.png" style="width:2.65in" />
</td>
<td>
<img src="./images/interfacetab/editnotedark.png" style="width:2.65in" />
</td>
</tr>
</tbody>
</table>

### Widget Icons and Functionality

<table border>
  <tr>
    <th>Icon</th>
    <th>Name</th>
    <th>Description</th>
  </tr>
  <tr>
    <td><img alt="Button" src="images/interfacetab/button.png"></td>
    <td>Button</td>
    <td>
      A button is either <em>once</em> or <em>forever</em>. When you click
      on a once button, it executes its instructions once. The forever
      button executes the instructions over and over, until you click
      on the button again to stop the action. By default the
      instructions are executed by the <em>observer</em>. However there is
      an agents pull-down menu that lets you specify that <em>turtles</em>, <em>patches</em>, or
      <em>links</em> will execute the instructions.  This will be indicated by an
      icon on the left side of the button.
      <p>If you have assigned an
      action key to the button, pressing the corresponding keyboard key
      will act just like a button press when the button is in focus.
      Buttons with action keys have a letter in the upper right corner
      of the button to show what the action key is. If the keyboard
      focus is in the Command Center, or otherwise not in the main Interface Tab
      area, pressing the action key won't trigger the button. The letter
      in the upper right hand corner of the button will be dimmed in
      this situation. To enable action keys, click in the white
      background of the Interface tab.</p>
    </td>
  </tr>
  <tr>
    <td><img alt="Slider" src="images/interfacetab/slider.png"></td>
    <td>Slider</td>
    <td>
      Sliders are used in models as a quick way to change a variable
      without having to recode the procedure every time. Instead, the
      user moves the slider to a value and observes what happens in the
      model. The value can also be set by typing a number in the slider's
      text box, or by clicking on the background of the slider and using the
      left and right or up and down arrow keys.
      Most of the fields in the edit dialog that open after you place the
      slider will be familiar. However, it is important to notice the minimum,
      maximum and increment fields will take any reporter, not just constants.
      So, for example, you could make the minimum
      <a href="dictionary.html#min-pcor"><code>min-pxcor</code></a> and the maximum <a href="dictionary.html#max-pcor"><code>max-pxcor</code></a> and the slider
      bounds will automatically adjust when you change the size of the world.
<p></p>
      <img alt="Input Box" src="images/interfacetab/sliderbounds.png">
    </td>
  </tr>
  <tr>
    <td><img alt="Switch" src="images/interfacetab/switch.png"></td>
    <td>Switch</td>
    <td>
      Switches are a visual representation for a true/false global
      variable. You may set the variable to either on (true) or off
      (false) by flipping the switch.
    </td>
  </tr>
  <tr>
    <td><img alt="Chooser" src="images/interfacetab/chooser.png"></td>
    <td>Chooser</td>
    <td>
      Choosers let you choose a value for a global variable from a list
      of choices, presented in a drop-down menu. The choices may be
      strings, numbers, booleans, or lists.
    </td>
  </tr>
  <tr>
    <td><img alt="Input Box" src="images/interfacetab/input.png"></td>
    <td>Input Box</td>
    <td>
      Input Boxes represent global variables that contain numbers,
      strings or colors.
      The model author chooses what types of values you can enter.
      Number input boxes read any type of
      constant number reporter which allows more expressivity than a slider.
      When clicked, color input boxes open a NetLogo color
      picker. Currently colors are NetLogo colors, which are represented by numbers,
      but in future releases they may be RGB or RGBA colors. Therefore
      the global variable should only be used with
      <a href="dictionary.html#colorgroup">Color commands or variables</code></a>.
      If the global variable type is String(reporter), it can be evaluated using the
      <a href="dictionary.html#run"><code>runresult</code></a> primitive.
      If the type is String(commands), it can be executed using the
    <a href="dictionary.html#run"><code>run</code></a> primitive.
    </td>
  </tr>
  <tr>
    <td><img alt="Monitor" src="images/interfacetab/monitor.png"></td>
    <td>Monitor</td>
    <td>
      Monitors display the value of any reporter. The reporter could be
      a variable, a complex reporter, or a call to a reporter
      procedure. Monitors automatically update several times per
      second.
    </td>
  </tr>
  <tr>
    <td><img alt="Plot" src="images/interfacetab/plot.png"></td>
    <td>Plot</td>
    <td>Plots show data the model is generating.</td>
  </tr>
  <tr>
    <td><img alt="Output" src="images/interfacetab/output.png"></td>
    <td>Output</td>
    <td>
      The output area is a scrolling area of text which can be used to
      create a log of activity in the model. A model may only have one
      output area.
    </td>
  </tr>
  <tr>
    <td>
      <img alt="Note" src="images/interfacetab/note.png">
    </td>
    <td>Note</td>
    <td>
      Notes let you add informative text labels to the Interface tab.
      The contents of notes do not change as the model runs.
    </td>
  </tr>
</table>

## Other Interface Toolbar controls
The other controls in the Interface toolbar allow you to control the view
updates and various other model properties.
![[model-buttons.png]]

The speed slider is located in the Interface Toolbar. You can make the
model run faster by moving the slider to the right, or by clicking one
or more times on the “+“ button, and slower by moving the slider to the
left, or by clicking one or more times on the “-“ button. Twenty clicks
on the “-“ or “+“ button will move the slider thumb from the center to
its minimum or maximum rate. The increase or decrease in speed is not
linear with the amount the slider knob is moved.

- The speed slider lets you control how fast the model runs by
  changing the frequency of view updates. You can
  fast-forward the model by moving the slider to the right or by clicking one
  or more times on the “+“ button, or slow down the
  the model by moving the slider to the left or by clicking one
  or more times on the “-“ button. Slower can be valuable
  since some models run so fast they're hard to follow.
  Twenty clicks
  on the “-“ or “+“ button will move the slider thumb from the center to
  its minimum or maximum rate. The increase or decrease in speed is not
  linear with the amount the slider knob is moved.
- The view updates checkbox controls whether view updates happen at all.
- The update mode menu allows you to switch between continuous and tick-based
  updates. "Continuous" updates means that NetLogo updates (that is, redraws) the view many
  times a second, regardless of what is going on in the model. "Tick-based"
  updates means that the view only updates when the tick counter advances. (For a
  fuller discussion of view updates, see the  [Programming Guide](programming.html).)
- The "Settings" button allows you to change model settings.

## Interface Menus
### Add Widgets Menu

<p><img src="./images/interfacetab/add-widget-menu.png" style="width:3in" /></p>

This menu allows users to add widgets. This tool is entered by clicking
the “Add Widget” dropdown menu on the Interface toolbar and making a
widget selection. The movement of the mouse is accompanied by a light
image of the widget and there is no cursor. Clicking places the widget
in its current location. Right-clicking allows you to change the widget
type. You can also add a widget by right-clicking anywhere in the white
background. This brings up a menu, allowing you to select the widget
type and place the widget.

The Interaction Tool will be activated once you close the widget's Edit dialog by clicking
“OK” to insert the widget or “Cancel” to abort the process.

### Align Widgets Menu

<p><img src="./images/interfacetab/alignwidgetsmenu.png" style="width:3in" /></p>

The Align Widgets is a popup menu of options to align, distribute, and
stretch widgets. These options require at least two widgets to be selected.
If an action is not possible it will be greyed out. This can happen
if not enough widgets are selected, or if the action would result in undesireable
overlap of widgets. See [Widget Overlap](widget-overlap) for more details.
The items remain selected after the action is completed. The Align Widgets menu
can also be accessed by right clicking on a widget when multiple widgets are
selected.

#### Aligning

With Align Left the left-most widget remains in place.
The other widgets move to align to left-most widget edge.
There are similar alignment options for the right,
top and bottom. Widgets can also centered vertically or horizontally.

#### Distributing

Distribute Vertically keeps the top and bottom widgets fixed, and
moves the other widgets so the vertical spacing between the widgets
is the same. Distribute Horizontally works similarly.

#### Stretching

If Stretch Left is selected the widget with the left-most
widget remains in place. All the other widgets stretch so they
have the same left-most edge.  There are similar alignment options for the right,
top and bottom.

#### Widget Overlap

The actions of aligning, distributing or stretching
will not be completed if they would create a new overlap of widgets. Not
completing an action may result in unexpected behavior, but
protects users from other unexpected behavior, such as one widget
becoming completely hidden behind another.

## Interface Tools
### Interaction Tool

The Interaction Tool is for making direct use of widgets to run commands
and change global variables.

<p><img src="./images/interfacetab/interactiontool.png" style="width:3in" /></p>

The effect of clicking is widget specific, as described in the widget chart.

#### Right-clicking

Users can Select, Edit and Delete widgets in interaction mode by
right-clicking and bringing up a menu. With Plots one can also Copy
Image, Export, and Clear. With the Output widget one can Copy
Selected Text, Clear, and Export. The View cannot be deleted. The available
options are Select, Edit, Copy View, Export View, Switch to 3D View,
Inspect Globals, Inspect a patch, and Inspect, Watch or Follow a turtle.

#### Ctrl-clicking or Cmd-clicking

Selection of a widget can be toggled on and off using Ctrl-click
(Windows and Linux) or Cmd-click (MacOS). Performing this action when
using the Interaction Tool will activate the Selection Tool.

#### Drag Select

One option that is not available with the Interaction Tool is using
Drag-Select to select one or more widgets. To Drag-Select first press
the Selection Tool. However Ctrl+Drag does work with the Interaction
tool.

#### Exiting

Pressing the Selection, Editing or Deletion icons
exits the Interaction Tool. One can also activate the Selection
Tool by using Ctrl-Click (Windows or Linux) or Cmd-Click (macOS) on a
widget, or by using the Select option with the right-click pull-down
menu. Using the Edit or Delete option with the right-click pull-down
menu does not exit the Interaction Tool because they are “transient”
actions.

<p><img src="./images/interfacetab/widgetrightclick.png" style="width:3.1in" /></p>

### Selection, Editing and Deletion Tools

These explicit tools are new for NetLogo 7, although they incorporate
behaviors associated with certain NetLogo 6.4 icons.

Each of these tools can be entered by pressing the appropriate icon.
When one of these tools is active widgets will be faintly dimmed to
indicate that they are not currently interactive, and all "forever"
buttons will halt. Each can be exited by selecting a different tool
icon. The Esc key will return you to the Interaction Tool. Moving the
focus to another context such as the Command Center, the Info Tab, or
the Code Tab will activate the Interaction Tool.

### Selection Tool

This tool allows users to select and subsequently edit or move a
widget or change its size. Enter this tool by pressing the “Selection
Tool” icon on the Interface toolbar (cursor with dashed rectangle).

<p><img src="./images/interfacetab/selectedwidgets.png" style="width:3.2in" /></p>

#### Selecting

Press the “Selection Tool” Icon. Widgets will dim. Clicking on a
widget selects it. A line border with square handles will
appear around the widget to show it is selected. This will be black for
the Light Color Theme, and grey for the Dark Color Theme. A widget can also
be selected by dragging a rectangle around it with your mouse or by
right-clicking a widget and choosing Select from the menu. You can
toggle selection and deselection by using Ctrl+Click (Windows/Linux) or
Cmd+Click(MacOS) on a widget. Any method of selecting one or more widgets
will activate the Selection Tool. Clicking the background area will
deselect any selected widgets. Dragging one widget will move all selected
widget(s). You can also click and drag an individual widget before the
selection markers appear.

#### Selecting multiple items

You can select multiple interface elements at the same time by including
them in the rectangle you drag. Additional elements can also be added by
using the alternative methods.

#### Deselecting

An individual selected widget can be selected by pressing
Ctrl+Click (Windows/Linux) or Cmd+Click (MacOS) or by right-clicking the
widget and choosing “Deselect” from the popup menu. To deselect all
selected interface elements, click the mouse on the white background of
the Interface tab. The Selection Tool will remain active. Any method of
choosing a different tool will exit Selection tool.

The following actions require that at least one widget is selected:

#### Moving

Select one or more widgets, then drag with your mouse to the new
location. You can use the arrow keys to move the widgets a small
increment right, left, up, or down. Using shift plus an arrow key
increases the increment. If you hold down the shift key while dragging,
the elements will move only straight up and down or straight left and
right. The items remain selected.

#### Resizing

Select the widget, then drag the square handles in the
selection border. If multiple elements are selected the handles can be
dragged one at a time, and the items remain selected.

### Editing Tool

This tool allows users to change the characteristics of an interface
widget Enter this tool by pressing the “Editing Tool” Icon on the
Interface toolbar (a pencil).

*Editing*: Press the “Editing Tool” Icon and click on a widget to edit
it. When the user finishes editing a widget, the Editing Tool remains
active. Clicking another widget will edit it.

If a widget is already selected you can press the editing icon to
activate the Editing Tool and open the widget for editing. Clicking the Edit
icon when multiple items have already been selected deselects the items,
and enters the Edit tool. You can also begin editing by double-clicking
a selected widget, or right-clicking an unselected widget and choosing
“Edit” from the popup menu.

### Deletion Tool

This tool allows users to delete interface elements. Enter this tool by
pressing the “Deletion Tool” icon on the Interface toolbar (trashcan).
After a widget is deleted the user will remain in the Deletion Tool and ready
to delete more items. The view cannot be deleted.

You can also select the widget(s) you want to delete, then press the
“Delete” button to delete them all at once.

<p><img src="./images/interfacetab/deletiontool.png" style="width:3.7in" /></p>

#### Deleting

Press the widget. You may also delete a widget by right-clicking it
and choosing “Delete” from the popup menu. If you use this latter
method, it is not necessary to select the widget first.

## The 2D and 3D views

The large black square in the Interface tab is the 2D view. It's a visual
representation of the NetLogo world of turtles and patches. Initially it's all
black because the patches are black and there are no turtles yet. You can open
the 3D View, an alternate visual representation of the world, by right clicking
(ctrl-clicking on Mac) on the View and choosing "Switch to 3D View" (this option
is also available in the "Tools" menu).
![[open3d-context.png]]

There are a number of settings for the View (accessible by editing the View, or
by pressing the "Settings" button in the Interface Toolbar):
![[settings.png]]

Notice that the settings are broken up into three groups. There are world, view,
and tick counter settings. World settings affect the properties of the world
that the turtles live in (changing them may require resetting the world). View
and tick counter settings only affect the appearance, changing them will not
affect the outcome of the model.

### World Settings

The world settings allow you to define the boundaries and topology of the world.
At the top of the left side of the world panel you can choose a location for the
origin of the world either "Center", "Corner", "Edge", or "Custom". By default
the world has a center configuration where (0, 0) is at the center of the world
and you define the number of patches from the center to the right and left
boundaries and the number of patches from the center to the top and bottom
boundaries. For example: if you set max-pxcor = 10, then min-pxcor will
automatically be set to -10, thus there are 10 patches to the left of the patch at (0, 0)
and 10 patches to the right of the patch at (0, 0), for a total of 21 patches in each row.

A Corner configuration allows you to define the location of the origin as one of
the corners of the world, upper left, upper right, lower left, or lower right.
Then you define the far boundary in the x and y directions. For example if you
choose to put the origin in the lower left corner of the world you define the
right and top (positive) boundaries.

Edge mode allows you to place the origin along one of the edges (x or y) then
define the far boundary in that direction and both boundaries in the other. For
example if you select edge mode along the bottom of the world, you must also
define the top boundary, as well as the left and the right.

Finally, Custom mode allows you to place the origin at any location in the
world, though the patch at (0, 0) must still exist in the world.

As you change the settings you will notice that the changes you make are
reflected in the preview on the right side of the panel which shows the origin
and the boundaries. The width and height of the world are displayed below the
preview.

Also below the preview there are two checkboxes, the world wrap settings. These
allow you to control what happens to a turtle when it reaches the edge of the world.
Notice when you click the check boxes the preview indicates which directions allow wrapping,
and the name of the topology is displayed next to the world dimensions. See the
[Topology section of the Programming Guide](programming.html#topology) for more
information.

### View Settings

The view settings allow you to customize the look of the view without changing
the world. Changing view settings will never force a world reset. To change the
size of the 2D View adjust the "Patch Size" setting, measured in pixels. This
does not change the number of patches, only how large the patches appear in the
2D View. (Note that the patch size does not affect the 3D View, as you can
simply make the 3D View larger by making the window larger.)

The font size setting lets you control the size of turtle, patch, and link
labels.

The frame rate controls how often the view gets updated. This can have a
dramatic effect on the default speed at which a model runs. For more details,
see the [view updates section](programming.html#view-updates) of the Programming
Guide.

The "Smooth edges" checkbox controls the use of anti-aliasing in the 3D view
only and only appears when editing from the 3D view. Unchecking it makes lines
appear more jagged but may speed up rendering.

### Tick Counter Settings

Tick counter settings control the appearance of the tick counter which is
visible (or not) in the view control strip.

### Interacting with Agents

Turtle, patch and link monitors are easily available through the View, just
right-click on the turtle or patch you want to inspect, and choose
"inspect turtle ..." or "inspect patch ..." from the popup menu. You can also
watch, follow or ride a turtle by selecting the appropriate item in the turtle
sub-menu. (Turtle, patch and link monitors can also be opened from the Tools
menu or by using the [[inspect]] command.)

Some NetLogo models let you interact with the turtles and patches with your
mouse by clicking and dragging in the View.

### Manipulating the 3D View

At the bottom of the 3D View window there are buttons to move the observer, or change
the perspective from which you are looking at the world.
![[3d-buttons.png]]

While you are adjusting one of these settings, a blue cross will appear at the
current focus point of the 3D observer.
The little blue triangle will always point along the y-axis in the positive
direction, so you can orient yourself in case you get lost.
![[3d-cross.png]]

To look at the world from a different angle, press the "Orbit" button, then
click and drag the mouse. The observer will continue to face the same point as
before (where the blue cross is) but its position in the relation to the
xy-plane will change.

To move closer or farther away from the world or the agent you are watching,
following or riding, press the "Zoom" button and drag up and down. Note when you
are in follow or ride mode zooming will switch you between ride and follow,
since ride is just a special case of follow where the distance at which you are
following is 0.

To change the position of the observer without changing the direction it is
facing select the "Move" button and drag the mouse inside the 3D View while
holding down the mouse button.

To allow the mouse position and state to be passed to the model select the
"Interact" button and it will function just as the mouse does in the 2D view.

To return the observer and focus point to their default positions press the
"Reset Perspective" button (or use the [[reset-perspective]] command).

#### Fullscreen Mode

Fullscreen mode makes the 3D view of NetLogo Desktop fit on the entire screen. It is often useful for exhibits in museums and other locations.

To enter fullscreen mode, press the "Full Screen" button, and to exit fullscreen
mode, press the Esc key.

**Note:** Fullscreen mode doesn't work on every computer. It depends on your
graphics card. See the [System Requirements](requirements.html#threed) for
details.

#### 3D Shapes

Some shapes are automatically mapped to true 3D counterparts in the 3D view. For
example, the 2D circle shape becomes a sphere in the 3D view.
<table border="1">
  <tr>
    <th>Shape name</th>
    <th>3D shape</th>
  </tr>
  <tr>
    <td>default</td>
    <td>3D turtle shape</td>
  </tr>
  <tr>
    <td>circle</td>
    <td>sphere</td>
  </tr>
  <tr>
    <td>dot</td>
    <td>small sphere</td>
  </tr>
  <tr>
    <td>square</td>
    <td>cube</td>
  </tr>
  <tr>
    <td>triangle</td>
    <td>cone</td>
  </tr>
  <tr>
    <td>line</td>
    <td>3D line</td>
  </tr>
  <tr>
    <td>cylinder</td>
    <td>3D cylinder</td>
  </tr>
  <tr>
    <td>line-half</td>
    <td>3D line-half</td>
  </tr>
  <tr>
    <td>car</td>
    <td>3D car</td>
  </tr>
</table>

All other shapes are based on their 2D forms. If a shape is a rotatable shape,
it is assumed to be a top view and it is extruded as if through a cookie cutter
and oriented parallel to the xy-plane, as in Ants.
![[3d-rotatable.png]]

Or, if a shape is non-rotatable, it is assumed to be a side view, and it is
drawn always facing the observer, as in Wolf Sheep Predation.
![[3d-non-rotatable.png]]

## Command Center

The Command Center allows you to issue commands directly, without adding them to
the model's procedures. This is useful for inspecting and manipulating agents on
the fly.

([Tutorial #2: Commands](tutorial2.html) is an introduction to using commands in
the Command Center.)

Let's take a look at the design of the Command Center.
![[command-center.png]]

The smaller box, below the large box, is where you type a command. After typing
it press the Return or Enter key to run it. You can use the up arrow to access the
commands you previously typed, and the down arrow to navigate back through the list.

To the left of where you type is a label that initially says "observer>". Clicking on
the label will open a popup menu where you can choose either observer, turtles, or patches,
to specify which agents run the command you type.

Tip: a quicker way to change agent types is to use the Tab key.

#### Reporters

If you enter a reporter into the Command Center, the [[show]] command will be
inserted before it automatically.

#### Accessing previous commands

After you type a command, it appears in the large scrolling box above the
command line. You can select a section of the text in this box and use Ctrl+C (Windows/Linux)
or Cmd+C (Mac) or select Copy from the Edit menu to copy commands
and then paste them elsewhere, such as the Code tab.

You can also access previous commands using the history popup, which is the
small downward pointing triangle to the right of where you type commands. Click
on the triangle and a menu of previously typed commands appears, so you can pick
one to use again.

Tip: a quicker way to access previous commands is with the up and down arrow
keys on your keyboard.

#### Clearing

To clear the large scrolling area containing previous commands and output, click
"Clear" in the top right corner.

To clear the command history, choose "Clear History" on the history popup menu
(accessed using the small downward pointing triangle to the right of where you type
commands).

#### Arranging

You can hide and show the command center using the Hide Command Center and
Show Command Center items on the Tools menu.

To resize the command center, drag the dark gray bar that separates it from the model
interface. Or, click one of the little arrows on the left end of the bar to
make the command center either fill the interface or be hidden altogether.

To switch between a vertical command center and a horizontal one, click the
button with the double-headed arrow, just to the left of "Clear".

## Plots

When the mouse pointer is over the white area of a plot, the x and y coordinates
of the mouse location appear. (Note that the mouse location might not correspond
exactly to any actual data points in the plot. If you need to know the exact
coordinates of plotted points, use the Export Plot menu item and inspect the
resulting file in another program.)

When you create a plot, as with all widgets, the edit dialog automatically
appears.

![[Plot Editor|plot.png]]

Many of the fields are fairly self-explanatory, such as the name of the plot,
labels for the x and y axes, ranges for the axes, and the "Show legend?"
checkbox.

Points added to a plot using `plot` or `plotxy` will not be visible if they are outside
the extent of the axes. The x and y axes can be automatically (and independently) readjusted
by checking the Auto scale x-axis? and Auto scale y-axis? boxes respectively. Note that if
you use `histogram` Auto scale y-axis? will work but Auto scale x-axis? will have no
effect. Note that these checkboxes can be overridden by Plotting commands such as
`auto-plot-x-on`, `auto-plot-y-on`, `auto-plot-x-off`, `auto-plot-y-off`, `set-plot-x-range`
and `set-plot-y-range`.

Under "Plot setup commands" and "Plot update commands" you can enter commands
that will automatically be run at appropriate times. Click the little triangle
to open the text box for the commands. Plot commands are explained in more
detail in the Plotting section of the Programming Guide.

### Plot Pens

In the plot pens section of the dialog, you can create and customize your plot's
pens. Each table row represents a pen. By default there is one pen named
"default". (You may wish to change it to a name that has meaning in your model.)

To edit the color of a pen click the colored rectangle to the left of the pen's
name. This will bring up a dialog that allows you to set the color to one of the
NetLogo base hues or a custom color using the color swatches.

To edit the pen's name, double click the name.

In the "Pen Update Commands" column you can enter commands that will be run when
`reset-ticks`, `tick`, or `update-plots` commands are run. This is explained in
more detail in the Plotting section of the Programming Guide.

The last column has two buttons. Clicking the pencil icon will bring up an edit
dialog with additional pen settings. The trash can button deletes the pen.

#### Plot Pen Advanced Settings

Clicking a pen's edit button will open this dialog:

![[Plot Editor|plot-pen-advanced.png]]

- Mode allows you to change the appearance of the plot pen: line, bar (for a bar
  chart), or point (a scatter plot of individual points).
- Interval is the amount by which x advances every time you use the `plot`
  command.
- If the "Show in legend" checkbox is checked the selected pen will be a part of
  the legend below the plot.
- In the "Setup commands" field you can enter commands that will be run when
  `reset-ticks` or `setup-plots` runs.
- In the "Update commands" field you can enter commands that will be run when
  `tick` or `update-plots` runs. This field reappears in the advanced dialog to
  provide space for editing lengthier sets of commands.

For more detailed information on how each of these features works you can see
the Plotting Section of the Programming Guide.

## Agent Monitors

Agent monitors display both the values of all the variables for a particular
agent and a mini-view that shows the agent and a small area around it.

You can open agent monitors through the Tools menu or the [[inspect]] command.
![[agentmonitor1.png]]

You can zoom in or out using the slider beneath the view and you can [[watch]]
the agent in the main view using the "Watch" button.
![[agentmonitor2.png]]

Below the slider the current value of each agent variable is displayed. You can
enter a new value, and press the Enter or Return key. It will be as if, for example,
the code `set pcolor ...` had run.
![[agentmonitor3.png]]

Below the agent variable area there is a miniature command center. Rather than
running code as the observer, or talking to all of the turtles, patches, or
links, the code entered in this command center is run only by the agent shown in the window.
![[agentmonitor4.png]]

You can close an agent monitor by clicking the window's close button, or
by pressing the Esc key. You can close all the agent monitors by using the
"Close All Monitors" option in the Tools Menu or close just those for dead
agents by choosing "Close Monitors for Dead Agents."

</main>