{{> header}}

<main class="prose">

# {{title}}

This section of the manual explains the function of each element in NetLogo's
user interface.

In NetLogo, you have the choice of viewing models found in the Models Library,
adding to existing models, or creating your own models. The NetLogo interface
was designed to meet all these needs.

The interface can be divided into two main parts: NetLogo menus, and the main
NetLogo window. The main window is divided into tabs.

<div class="toc">

#### Table of Contents
[TOC]

</div>


## Menus

On a Mac, if you are running the NetLogo application, the menu bar is located at
the top of the screen. On other platforms, the menu bar is found at the top of
the NetLogo window.
![[menubar.png]]

The functions available from the menus in the menubar are listed in the
following chart.

#### Chart: NetLogo menus

<table border>
      <colgroup>
      <col style="width: 15%" />
      <col style="width: 85%" />
      </colgroup>
  <thead>
  <tr>
  <th colspan="2" style="text-align: left;">
  File
  </thead>
  <tbody>
       <tr>
        <td>New</td>
        <td>Starts a new model.</td>
      </tr>
      <tr>
        <td>Open…</td>
        <td>Opens any NetLogo model on your computer.</td>
      </tr>
      <tr>
        <td>Models Library</td>
        <td>A collection of demonstration models.</td>
      </tr>
      <tr>
        <td>Recent Files</td>
        <td>Re-opens any previously model opened with "File -&gt; Open."</td>
      </tr>
      <tr>
        <td>Save</td>
        <td>Save the current model, or the currently selected source file.</td>
      </tr>
      <tr>
        <td>Save As…</td>
        <td>Save the current model, or the currently selected source file, using a different name.</td>
      </tr>
      <tr>
        <td>Save All</td>
        <td>Save the current model and all open source files. This option is only available when one or more source files are open.</td>
      </tr>
      <tr>
        <td>Upload to Modeling Commons</td>
        <td>
          Uploads the model to Modeling Commons. See <a href="modelingcommons.html">Modeling Commons</a>.
        </td>
      </tr>
      <tr>
        <td>Save As NetLogo Web…</td>
        <td>Saves your model as an HTML web page that runs using <a href="https://netlogoweb.org">NetLogo Web</a>.  Note the version of NetLogo Web used is bundled with NetLogo, so it may not be up to date with <a href="https://netlogoweb.org/whats-new">the latest changes and features<a>.  You can also <a href="https://netlogoweb.org/docs/faq#loading">upload your model to NetLogo Web</a> and <a href="https://netlogoweb.org/docs/faq#saving">export it to HTML from there</a> to get the most recent updates included.</td>
      </tr>
      <tr>
        <td>Manage Bundled Resources</td>
        <td>Add, edit, and remove resources bundled with the model. See <a href="resource-manager.html">Resource Manager</a>.</td>
      </tr>
      <tr>
        <td>Export World…</td>
        <td>
          Saves all variables, the current state of all turtles and
          patches, the drawing , the plots, the output area and the
          random state information to a file.
        </td>
      </tr>
      <tr>
        <td>Export Plot…</td>
        <td> Saves the data in a plot to a file.</td>
      </tr>
      <tr>
        <td>Export All Plots…</td>
        <td>Saves the data in all the plots to a file.</td>
      </tr>
      <tr>
        <td>Export View…</td>
        <td>Save a picture of the current view (2D or 3D) to a file (in PNG format).</td>
      </tr>
      <tr>
        <td>Export Interface…</td>
        <td>Save a picture of the current Interface tab ( in PNG format ).</td>
      </tr>
      <tr>
        <td>Export Output…</td>
        <td>Save the contents of the output area or the output section of the command center to a file.</td>
      <tr>
        <td>Export Code…</td>
        <td>
        Save the model's code to an HTML file, preserving colors.
      </tr>
      <tr>
        <td>
        Import World…</td>
        <td>
        Load a file that was saved by Export World.</td>
      </tr>
      <tr>
        <td>
        Import Patch Colors…</td>
        <td>
        Load an image into the patches; see the <a href="dictionary.html#import-pcolors">import-pcolors</a> command.</td>
      </tr>
      <tr>
        <td>Import Patch Colors RGB…</td>
        <td>
        Load an image into the patches using RGB colors; see the
        <a href="dictionary.html#import-pcolors-rgb">import-pcolors-rgb</a>
        command.</td>
      </tr>
      <tr>
        <td>
        Import Drawing…</td>
        <td>
        Load an image into the drawing, see the <a href="dictionary.html#import-drawing">import-drawing</a> command.</td>
      </tr>
      <tr>
        <td>
        Import HubNet Client Interface…</td>
        <td>
        Load the interface from another model into the HubNet Client
        Editor.</td>
      </tr>
      <tr>
        <td>Print…</td>
        <td>Sends the contents of the currently showing tab to your printer.</td>
      </tr>
      <tr>
        <td>
        Quit</td>
        <td>
        Exits NetLogo. On a Mac, this item is on the NetLogo menu
        instead.</td>
      </tr>
  </tbody>
</table>

<table border>
      <colgroup>
      <col style="width: 15%" />
      <col style="width: 85%" />
      </colgroup>
      <thead>
      <tr>
      <th colspan="2" style="text-align: left;">
      Edit
      </th>
      </tr>
      <tr>
        <td>
        Undo</td>
        <td>
        Undo last text editing action you performed.</td>
      </tr>
      <tr>
        <td>
        Redo</td>
        <td>
        Redo last undo action you performed.</td>
      </tr>
      <tr>
        <td>
        Cut</td>
        <td>
        Cuts out or removes the selected text and temporarily saves it
        to the clipboard.</td>
      </tr>
      <tr>
        <td>
        Copy</td>
        <td>
        Copies the selected text.</td>
      </tr>
      <tr>
        <td>
        Paste</td>
        <td>
        Places the clipboard text where cursor is currently located.</td>
      </tr>
      <tr>
        <td>
        Delete</td>
        <td>
        Deletes selected text.</td>
      </tr>
      <tr>
        <td>
        Select All</td>
        <td>
        Select all the text in the active window.</td>
      </tr>
      <tr>
        <td>
        Find…</td>
        <td>
        Finds a word or sequence of characters within the Info or Code
        tabs.</td>
      </tr>
      <tr>
        <td>
        Find Next</td>
        <td>
        Find the next occurrence of the word or sequence you last used
        Find with.</td>
      </tr>
      <tr>
        <td>
        Comment /
        <br>
        Uncomment</td>
        <td>
        Used in the Code tab to add or remove semicolons from code
        (semicolons are used in NetLogo code to indicate comments).</td>
      </tr>
      <tr>
        <td>Shift Left / Shift Right</td>
        <td>
        Used in the Code tab to change the indentation level of code.</td>
      </tr>
      <tr>
        <td>Show Usage</td>
        <td>
        Used in the Code tab to show all usages of variable name or primitive that has been right-clicked.</td>
      </tr>
      <tr>
        <td>Jump to Declaration</td>
        <td>
        Used in the Code tab to show where in the file a variable name that has been right-clicked is declared.</td>
      </tr>
      <tr>
        <td>
        Format</td>
        <td>
        Used in the Code tab to correct the indentation of the currently selected code.</td>
      </tr>
      <tr>
        <td>Snap to Grid</td>
        <td>
        Available only in the Interface Tab.
        When enabled new widgets stay on a 5 pixel grid so it is easier
        to line them up. (Note: this feature is disabled when zoomed in
        or out.)</td>
      </tr>
      <tr>
        <td>Convert from 5.3.1 to 6.0</td>
        <td>
        Available only in an ".nls" code tab.
        Treats the code in this tab as though it were written in 5.3.1 and converts it to run in NetLogo 6.
        Note that this will <i>not</i> take into account code defined in the main code tab.
        "Undo" doesn't take this operation into account, so you won't want to save unless you're satisfied with the changes.
        </td>
      </tr>

   </tbody>
</table>

<table border>
      <colgroup>
      <col style="width: 15%" />
      <col style="width: 85%" />
      </colgroup>
      <thead>
      <tr>
      <th colspan="2" style="text-align: left;">
      Tools
      </th>
      </tr>
      <tr>
        <td>Preferences…</td>
        <td>
        Opens the [Preferences dialog](netlogopreferences.html), where you can customize various NetLogo
        settings. On a Mac, this item is on the NetLogo menu instead.</td>
      </tr>
      <tr>
        <td>Extensions…</td>
        <td>
        Opens the Extension Manager, where you can discover and manage
        Extensions. See the <a href="extension-manager.html">Extension Manager
        Guide</a> for more information.</td>
      </tr>
      <tr>
        <td>Halt</td>
        <td>
        Stops all running code, including buttons and the command
        center. (Warning: since the code is interrupted in the middle
        of whatever it was doing, you may get unexpected results if you
        try to continue running the model without first pressing
        &quot;setup&quot; to start the model run over.)</td>
      </tr>
      <tr>
        <td>Globals Monitor</td>
        <td>Displays the values of all global variables.</td>
      </tr>
      <tr>
        <td>Turtle Monitor</td>
        <td>
        Displays the values of all of the variables in a particular
        turtle. You can can also edit the values of the turtle's
        variables and issue commands to the turtle. (You can also open
        a turtle monitor via the View; see the View section below.)</td>
      </tr>
      <tr>
        <td>Patch Monitor</td>
        <td>
        Displays the values of all of the variables in a particular
        patch. You can can also edit the values of the patch's
        variables and issue commands to the patch. (You can also open a
        patch monitor via the View; see the View section below.)</td>
      </tr>
      <tr>
        <td>Link Monitor</td>
        <td>
        Displays the values of all of the variables in a particular
        link. You can can also edit the values of the link's
        variables and issue commands to the link. (You can also open a
        link monitor via the View; see the View section below.)</td>
      </tr>
      <tr>
        <td>Close All Agent Monitors</td>
        <td>
        Closes all open agent monitor windows.</td>
      </tr>
      <tr>
        <td>Close Monitors for Dead Agents</td>
        <td>
        Closes all open agent monitor windows targeting dead agents.</td>
      </tr>
      <tr>
        <td>Hide/Show Command Center</td>
        <td>
        Makes the command center visible or invisible. (Note that the
        command center can also be shown or hidden, or resized, with
        the mouse.) This option is only available when the Interface Tab
        is active.</td>
      </tr>
      <tr>
        <td>3D View</td>
        <td>
        Opens the 3D view. See the <a href="interfacetab.html#the-2d-and-3d-views">Views</a> section
        of the Interface Tab Guide for more information.</td>
      </tr>
      <tr>
        <td>Color Picker</td>
        <td>
        Opens the Color Picker. See the <a href="programming.html#colors">Color Section</a> of the Programming
        Guide for details.</td>
      </tr>
      <tr>
        <td>Turtle Shapes Editor</td>
        <td>
        Draw turtle shapes. See the <a href="shapes.html">Shapes Editor
        Guide</a> for more information.</td>
      </tr>
      <tr>
        <td>Link Shapes Editor</td>
        <td>
        Draw link shapes. See the <a href="shapes.html">Shapes Editor
        Guide</a> for more information.</td>
      </tr>
      <tr>
        <td>BehaviorSpace</td>
        <td>
        Runs the model over and over with different settings. See the
        <a href="behaviorspace.html">BehaviorSpace Guide</a> for more
        information.</td>
      </tr>
      <tr>
        <td>System Dynamics Modeler</td>
        <td>
        Opens the System Dynamics Modeler. See the <a href="systemdynamics.html">System Dynamics Modeler Guide</a> for
        more details.</td>
      </tr>
      <tr>
        <td>Preview Commands Editor</td>
        <td>
        Allows for easy editing of the commands sequence used to create preview images
        for models. Gives a way to specify what code will be used (or specify that the
        image is manually made) and preview the resulting image.</td>
      </tr>
      <tr>
        <td>HubNet Client Editor</td>
        <td>
        Opens the HubNet Client Editor. See the <a href="hubnet-authoring.html">HubNet Authoring Guide</a> for more
        details.</td>
      </tr>
      <tr>
        <td>HubNet Control Center</td>
        <td>
        Disabled if no HubNet activity is open. See the <a href="hubnet.html">HubNet Guide</a> for more information.</td>
      </tr>
      <tr>
        <td>Convert Widgets to New Sizes</td>
        <td>
         Change the size of widgets created before NetLogo 7 to the current size.
         Optionally automatically rearrange their locations.
         See the <a href="netlogo7intro.html#widget-sizes">Widget Sizes</a>
         section of the NetLogo7 Guide for more information.</td>
      </tr>
  </tbody>
</table>

<table border>
      <colgroup>
      <col style="width: 15%" />
      <col style="width: 85%" />
      </colgroup>
      <thead>
      <tr>
      <th colspan="2" style="text-align: left;">
      Zoom
      </th>
      </tr>
      <tr>
        <td>Larger</td>
        <td>
        Increase the overall screen size of the model. Useful on large
        monitors or when using a projector in front of a group. Keyboard shortcut: Mac Command =, On Windows or Linux, Control =.</td>
      </tr>
      <tr>
        <td>Normal Size</td>
        <td>Reset the screen size of the model to the normal size. Keyboard shortcut: Mac Command 0, On Windows or Linux, Control 0.</td>
      </tr>
      <tr>
        <td>Smaller</td>
        <td>Decrease the overall screen size of the model. Keyboard shortcut: Mac Command -, On Windows or Linux, Control -.</td>
      </tr>
  </tbody>
</table>

<table border>
      <colgroup>
      <col style="width: 15%" />
      <col style="width: 85%" />
      </colgroup>
      <thead>
      <tr>
      <th colspan="2" style="text-align: left;">
      Tabs
      </th>
      </tr>
      <tr>
      <td />
      <td>
        This menu offers keyboard shortcuts for each of the tabs. On a
        Mac, it's Command 1 through Command 3. On Windows or Linux,
        it's Control 1 through Control 3. Additional numbers are used for
        tabs containing ".nls" files.</td>
      </tr>
  </tbody>
</table>

<table border>
      <colgroup>
      <col style="width: 15%" />
      <col style="width: 85%" />
      </colgroup>
<thead>
<tr>
<th colspan="2" style="text-align: left;">
Help
</th>
</tr>
</thead>
  <tbody>
      <tr>
        <td>Look Up In Dictionary</td>
        <td>
        Opens a browser with the dictionary entry for the selected
        command or reporter. (You may also use the F1 key for this.)</td>
      </tr>
      <tr>
        <td>NetLogo User Manual</td>
        <td>
        Opens this manual in a web browser.</td>
      </tr>
      <tr>
        <td>NetLogo Dictionary</td>
        <td>
        Opens the NetLogo Dictionary in a web browser.</td>
      </tr>
      <tr>
        <td>NetLogo Users Group</td>
        <td>
        Opens the NetLogo Users Group site in a web browser.</td>
      </tr>
      <tr>
        <td>Introduction to Agent-Based Modeling</td>
        <td>
        Opens the MIT Press page for "Introduction to Agent-Based Modeling"
        (by Uri Wilensky and William Rand) in a web browser.</td>
      </tr>
      <tr>
        <td>Donate</td>
        <td>Opens the NetLogo donation page in a web browser.</td>
      </tr>
      <tr>
        <td>About NetLogo {{version}}…</td>
        <td>
        Information on the current NetLogo version you are running. On a
        Mac, this menu item is on the NetLogo menu instead.</td>
      </tr>
  </tbody>
</table>

## Tabs

At the top of NetLogo's main window are three tabs labeled "Interface", "Info"
and "Code". Only one tab at a time can be visible, but you can switch between
them by clicking on the tabs at the top of the window.
![[interfacetoolbar.png]]

Right below the row of tabs is a toolbar containing a row of controls. The
controls available vary from tab to tab.

## International Usage

### Character sets

NetLogo always saves and loads models in the UTF-8 character encoding, which
includes a wide range of international characters.

If you are in a locale other than U.S. English, let us know if you have any
trouble using your local character set.

The [Transition Guide](transition.html) has advice on converting models
containing international characters from earlier NetLogo versions.

### Languages

Most of NetLogo's GUI, and some of its error messages, are now
"internationalized". This means that it is now possible to display NetLogo in
different languages.

We say "possible" here because the current release of NetLogo only supports
English, Spanish, Chinese, Russian, and Japanese.

The work on internationalization is not complete. We are asking for help from
the user community in helping us localize items such as the menus and error
messages.

#### Default language

By default, NetLogo uses the same language your operating system is set to, if
available. (If unavailable, you get English.)

You can record a preference for a different language by changing the
"User Interface Language" option in the preferences dialog. Once a new language
is chosen you will have to restart NetLogo.

### Support for translators

We hope NetLogo will become available in many different languages. If you would
like to translate NetLogo to your language, see
[this wiki page](https://github.com/NetLogo/NetLogo/wiki/Localization) for instructions.

</main>