{{> header.html}}

[TOC levels=2,3]


<table>
<colgroup>
<col style="width: 45%" />
<col style="width: 45%" />
</colgroup>
<thead>
<tr>
<th style="text-align: left;">
General Preferences
</th>
<th style="text-align: left;">
Code Preferences
</th>
</tr>
</thead>
<tbody>
<tr>
<tr>
<td style="text-align: left;">
<img src="./images/preferences/generalprefs.png"
style="width:5in" />
</td>
<td style="text-align: left;">
<img src="./images/preferences/codeprefs.png"
style="width:5in" />
</td>
</tr>
</tbody>
</table>


<table>
<colgroup>
<col style="width: 45%" />
<col style="width: 45%" />
</colgroup>
<thead>
<tr>
<th style="text-align: left;">
Logging Preferences
</th>
<th style="text-align: left;">
Color Themes
</th>
</tr>
</thead>
<tbody>
<tr>
<tr>
<td style="text-align: left;">
<img src="./images/preferences/loggingprefs.png"
style="width:5in" />
</td>
<td style="text-align: left;">
<img src="./images/preferences/colorthemes.png"
style="width:5in" />
</td>
<tr>
</tbody>
</table>
