{{> header.html}}

<main class="prose">

# {{title}}

NetLogo runs on almost any current computer. NetLogo doesn't run on mobile devices or Chromebooks. For the web, check out [NetLogo Web](https://www.netlogoweb.org). For mobile devices and Chromebooks, check out [Turtle Universe](https://www.turtlesim.com/products/turtle-universe/).

If you have any trouble with NetLogo not working, see
[Contacting Us](contact.html).

## Application Requirements

### Windows

NetLogo runs on Windows 11, 10, 8, 7, and Vista. NetLogo 5.2.1 was
the last version to support Windows XP and Windows 2000.

The NetLogo installer for Windows includes Java 17 for NetLogo's private use only. Other
programs on your computer are not affected. NetLogo can run using a different Java
installed on your system of version 11 or higher.

### Mac OS X

Mac OS X 10.8.3 or newer is required. (NetLogo 5.1 was the last version to
support 10.5 and 10.4; NetLogo 5.2.1 was the last version to support 10.6 and
10.7)

The NetLogo application contains a distribution of the Java 17 runtime for NetLogo's
private use only. Other programs on your computer will not be affected. NetLogo can run
using a different Java installed on your system of version 11 or higher.

### Linux

NetLogo should work on standard Debian-based and Red Hat-based Linux distributions. The
NetLogo tarball includes a copy of the Java 17 runtime. NetLogo can run using a different
Java installed on your system of version 11 or higher.

Start NetLogo by running the provided `NetLogo` executable.

## <a id="threed">3D Requirements</a>

Occasionally an older, less powerful system is not able to use the 3D view or
NetLogo 3D. Try it and see.

Some systems can use 3D but can't switch to full-screen mode. It depends on the
graphics card or controller. (For example, the ATI Radeon IGP 345 and
Intel 82845 probably will not work.)

## 32-bit or 64-bit?

<!-- this needs to be kept in sync with dist/downloadPages/index.htmlmustache -->

For most users on Linux or Windows, the 64-bit version of NetLogo is the simplest way to a
working NetLogo installation. Most desktop and laptop computers made since 2005 are
64-bit.

If you have a computer that was made before 2006 you may need to use the 32-bit version of
NetLogo instead. To determine whether your version of Windows is 64-bit, see
[Is my PC running the 32-bit or 64-bit version of
Windows](https://support.microsoft.com/en-us/help/15056/windows-7-32-64-bit-faq) if you're
using Windows Vista, or Windows 7, or [Which Windows operating system am I
running?](https://support.microsoft.com/en-us/help/13443/windows-which-operating-system)
if you are running any other version of Windows.

For Linux users, the easiest way to determine whether your operating system is
64-bit is checking the output of

    uname -m

If the output shows "x86_64" or "amd64", you should be able to run the 64-bit
version.

</main>
