<!DOCTYPE html>
<title>
      NetLogo {{version}} User Manual: Sound Extension
    </title>
    <link rel="stylesheet" href="netlogo.css" type="text/css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <h1>
      Sound Extension
    </h1>
    <p>
      The Sound Extension lets NetLogo models make two kinds of sounds:
      MIDI sounds and playback of pre-recorded sound files.
    <p>
      The Java API's used are javax.sound.midi and
      java.applet.AudioClip.
    <h2>
      Using the Sound Extension
    </h2>
    <p>
      The sound extension comes preinstalled. To use the extension in your
      model, add this at the top of your Code tab:
    <pre>
extensions [sound]
</pre>
    <p>
      If your model already uses other extensions, then it already has an
      <a href="dictionary.html#extensions"><code>extensions</code></a> line in
      it, so just add <code>sound</code> to the list.
    <p>
      For more information on using NetLogo extensions, see the <a href="extensions.html">Extensions Guide</a>.
    <p>
      For examples that use the sound extension, see the Sound section
      under Code Examples in the NetLogo Models Library.
    <h2>
      MIDI support
    </h2>
    <p>
      The MIDI part of the extension simulates a 128-key electronic
      keyboard with <a href="#drumnames">47 drums</a> and <a href="#instrumentnames">128 melodic instruments</a>, as provided by
      <a href="http://www.midi.org/about-midi/gm/gm1_spec.shtml">General
      MIDI Level 1 specification</a>.
    <p>
      It supports 15 polyphonic instrument channels and a single percussion
      channel. Using more than 15 different melodic instruments
      simultaneously in a model will cause some sounds to be lost or cut
      off.
    <p>
      The pitch of a melodic instrument is specified by a key number. The
      keys on the keyboard are numbered consecutively from 0 to 127, where
      0 is the left-most key. Middle C is key number 60.
    <p>
      The loudness of an instrument is specified by a velocity, which
      represents the force with which the keyboard key is depressed.
      Velocity ranges from 0 to 127, where 64 is the standard velocity. A
      higher velocity results in a louder sound.
    <h2>
      Primitives
    </h2>
    <p>
      <a href="#sound:drums">sound:drums</a>
      <a href="#sound:instruments">sound:instruments</a>
      <a href="#sound:play-drum">sound:play-drum</a>
      <a href="#sound:play-note">sound:play-note</a>
      <a href="#sound:play-note-later">sound:play-note-later</a>
      <a href="#sound:play-sound">sound:play-sound</a>
      <a href="#sound:play-sound-and-wait">sound:play-sound-and-wait</a>
      <a href="#sound:play-sound-later">sound:play-sound-later</a>
      <a href="#sound:start-note">sound:start-note</a>
      <a href="#sound:stop-note">sound:stop-note</a>
      <a href="#sound:stop-instrument">sound:stop-instrument</a>
      <a href="#sound:stop-music">sound:stop-music</a>
      <div class="dict_entry" id="sound:drums">
        <h3>
          <a>sound:drums</a>
        </h3>
        <h4>
          <span class="prim_example">sound:drums</span>
        </h4>
        <p>
        Reports a list of the names of the <a href="#drumnames">47 drums</a>
        for use with &quot;sound:play-drum&quot;.
      </div>
      <div class="dict_entry" id="sound:instruments">
        <h3>
          <a>sound:instruments</a>
        </h3>
        <h4>
          <span class="prim_example">sound:instruments</span>
        </h4>
        <p>
        Reports a list of the names of the <a href="#instrumentnames">128
          instruments</a> for use with &quot;sound:play-note&quot;,
        &quot;sound:play-note-later&quot;, &quot;sound:start-note&quot; and
        &quot;sound:stop-note&quot;.
      </div>
      <div class="dict_entry" id="sound:play-drum">
        <h3>
          <a>sound:play-drum</a>
        </h3>
        <h4>
          <span class="prim_example">sound:play-drum <i>drum</i> <i>velocity</i></span>
        </h4>
        <p>
        Plays a drum.
        <pre>
sound:play-drum &quot;ACOUSTIC SNARE&quot; 64
</pre>
        </div>
        <div class="dict_entry" id="sound:play-note">
          <h3>
            <a>sound:play-note</a>
          </h3>
          <h4>
            <span class="prim_example">sound:play-note <i>instrument</i> <i>keynumber</i> <i>velocity</i> <i>duration</i></span>
          </h4>
          <p>
          Plays a note for a specified duration, in seconds. The agent does not
          wait for the note to finish before continuing to next command.
          <pre>
;; play a trumpet at middle C for two seconds
sound:play-note &quot;TRUMPET&quot; 60 64 2
</pre>
          </div>
          <div class="dict_entry" id="sound:play-note-later">
            <h3>
              <a>sound:play-note-later</a>
            </h3>
            <h4>
              <span class="prim_example">sound:play-note-later <i>delay</i> <i>instrument</i> <i>keynumber</i> <i>velocity</i> <i>duration</i></span>
            </h4>
            <p>
            Waits for the specified delay before playing the note for a specified
            duration, in seconds. The agent does not wait for the note to finish
            before continuing to next command.
            <pre>
;; in one second, play a trumpet at middle C for two seconds
sound:play-note-later 1 &quot;TRUMPET&quot; 60 64 2
</pre>
            </div>
            <div class="dict_entry" id="sound:play-sound">
              <h3>
                <a>sound:play-sound</a>
              </h3>
              <h4>
                <span class="prim_example">sound:play-sound <i>filename</i></span>
              </h4>
              <p>
              Plays a sound file. It does not wait for the sound file to finish
              before moving to the next command. It supports WAV, AIFF, and AU
              files.
              <pre>
;; plays the beep.wav sample file
sound:play-sound &quot;beep.wav&quot;
</pre>
              </div>
              <div class="dict_entry" id="sound:play-sound-and-wait">
                <h3>
                  <a>sound:play-sound-and-wait</a>
                </h3>
                <h4>
                  <span class="prim_example">sound:play-sound-and-wait <i>filename</i></span>
                </h4>
                <p>
                Plays a sound file, waiting for it to finish playing before moving to
                the next command. It supports WAV, AIFF, and AU files.
                <pre>
;; plays the beep.wav sample file, waiting for it to finish before
;; playing boop.wav
sound:play-sound-and-wait &quot;beep.wav&quot;
sound:play-sound-and-wait &quot;boop.wav&quot;
</pre>
                </div>
                <div class="dict_entry" id="sound:play-sound-later">
                  <h3>
                    <a>sound:play-sound-later</a>
                  </h3>
                  <h4>
                    <span class="prim_example">sound:play-sound-later <i>filename</i> <i>delay</i></span>
                  </h4>
                  <p>
                  Plays a sound file after the specified delay, in seconds. It does not
                  wait for the sound file to play or finish before moving to the next
                  command. It supports WAV, AIFF, and AU files.
                  <pre>
;; plays the beep.wav sample file one second from now
sound:play-sound-later &quot;beep.wav&quot; 1
</pre>
                  </div>
                  <div class="dict_entry" id="sound:start-note">
                    <h3>
                      <a>sound:start-note</a>
                    </h3>
                    <h4>
                      <span class="prim_example">sound:start-note <i>instrument</i> <i>keynumber</i> <i>velocity</i></span>
                    </h4>
                    <p>
                    Starts a note.
                    <p>
                    The note will continue until &quot;sound:stop-note&quot;,
                    &quot;sound:stop-instrument&quot; or &quot;sound:stop-music&quot; is
                    called.
                    <pre>
;; play a violin at middle C
sound:start-note &quot;VIOLIN&quot; 60 64
</pre>
                    <pre>
;; play a C-major scale on a xylophone
foreach [60 62 64 65 67 69 71 72] [
  sound:start-note &quot;XYLOPHONE&quot; ? 65
  wait 0.2
  sound:stop-note &quot;XYLOPHONE&quot; ?
]
</pre>
</div>
<div class="dict_entry" id="sound:stop-note">
  <h3>
    <a>sound:stop-note</a>
  </h3>
  <h4>
    <span class="prim_example">sound:stop-note <i>instrument</i> <i>keynumber</i></span>
  </h4>
  <p>
  Stops a note.
  <pre>
;; stop a violin note at middle C
sound:stop-note &quot;VIOLIN&quot; 60
</pre>
  </div>
  <div class="dict_entry" id="sound:stop-instrument">
    <h3>
      <a>sound:stop-instrument</a>
    </h3>
    <h4>
      <span class="prim_example">sound:stop-instrument <i>instrument</i></span>
    </h4>
    <p>
    Stops all notes of an instrument.
    <pre>
;; stop all cello notes
sound:stop-instrument &quot;CELLO&quot;
</pre>
    </div>
    <div class="dict_entry" id="sound:stop-music">
      <h3>
        <a>sound:stop-music</a>
      </h3>
      <h4>
        <span class="prim_example">sound:stop-music</span>
      </h4>
      <p>
      Stops all notes.
      <h2>
        Sound names
      </h2>
    </div>
    <div class="dict_entry" id="drumnames">
      <h3>
        <a>Drums</a>
      </h3>
      <pre>
35. Acoustic Bass Drum             59. Ride Cymbal 2
36. Bass Drum 1                    60. Hi Bongo
37. Side Stick                     61. Low Bongo
38. Acoustic Snare                 62. Mute Hi Conga
39. Hand Clap                      63. Open Hi Conga
40. Electric Snare                 64. Low Conga
41. Low Floor Tom                  65. Hi Timbale
42. Closed Hi Hat                  66. Low Timbale
43. Hi Floor Tom                   67. Hi Agogo
44. Pedal Hi Hat                   68. Low Agogo
45. Low Tom                        69. Cabasa
47. Open Hi Hat                    70. Maracas
47. Low Mid Tom                    71. Short Whistle
48. Hi Mid Tom                     72. Long Whistle
49. Crash Cymbal 1                 73. Short Guiro
50. Hi Tom                         74. Long Guiro
51. Ride Cymbal 1                  75. Claves
52. Chinese Cymbal                 76. Hi Wood Block
53. Ride Bell                      77. Low Wood Block
54. Tambourine                     78. Mute Cuica
55. Splash Cymbal                  79. Open Cuica
56. Cowbell                        80. Mute Triangle
57. Crash Cymbal 2                 81. Open Triangle
58. Vibraslap
</pre>
      </div>
      <div class="dict_entry" id="instrumentnames">
        <h3>
          <a>Instruments</a>
        </h3>
        <pre>
<b>Piano</b>                              <b>Reed</b>
1. Acoustic Grand Piano            65. Soprano Sax
2. Bright Acoustic Piano           66. Alto Sax
3. Electric Grand Piano            67. Tenor Sax
4. Honky-tonk Piano                68. Baritone Sax
5. Electric Piano 1                69. Oboe
6. Electric Piano 2                70. English Horn
7. Harpsichord                     71. Bassoon
8. Clavi                           72. Clarinet

<b>Chromatic Percussion</b>               <b>Pipe</b>
9. Celesta                         73. Piccolo
10. Glockenspiel                   74. Flute
11. Music Box                      75. Recorder
12. Vibraphone                     76. Pan Flute
13. Marimba                        77. Blown Bottle
14. Xylophone                      78. Shakuhachi
15. Tubular Bells                  79. Whistle
16. Dulcimer                       80. Ocarina

<b>Organ</b>                              <b>Synth Lead</b>
17. Drawbar Organ                  81. Square Wave
18. Percussive Organ               82. Sawtooth Wave
19. Rock Organ                     83. Calliope
20. Church Organ                   84. Chiff
21. Reed Organ                     85. Charang
22. Accordion                      86. Voice
23. Harmonica                      87. Fifths
24. Tango Accordion                88. Bass and Lead

<b>Guitar</b>                             <b>Synth Pad</b>
25. Nylon String Guitar            89. New Age
26. Steel Acoustic Guitar          90. Warm
27. Jazz Electric Guitar           91. Polysynth
28. Clean Electric Guitar          92. Choir
29. Muted Electric Guitar          93. Bowed
30. Overdriven Guitar              94. Metal
31. Distortion Guitar              95. Halo
32. Guitar harmonics               96. Sweep

<b>Bass</b>                               <b>Synth Effects</b>
33. Acoustic Bass                  97. Rain
34. Fingered Electric Bass         98. Soundtrack
35. Picked Electric Bass           99. Crystal
36. Fretless Bass                  100. Atmosphere
37. Slap Bass 1                    101. Brightness
38. Slap Bass 2                    102. Goblins
39. Synth Bass 1                   103. Echoes
40. Synth Bass 2                   104. Sci-fi

<b>Strings</b>                            <b>Ethnic</b>
41. Violin                         105. Sitar
42. Viola                          106. Banjo
43. Cello                          107. Shamisen
44. Contrabass                     108. Koto
45. Tremolo Strings                109. Kalimba
47. Pizzicato Strings              110. Bag pipe
47. Orchestral Harp                111. Fiddle
48. Timpani                        112. Shanai

<b>Ensemble</b>                           <b>Percussive</b>
49. String Ensemble 1              113. Tinkle Bell
50. String Ensemble 2              114. Agogo
51. Synth Strings 1                115. Steel Drums
52. Synth Strings 2                116. Woodblock
53. Choir Aahs                     117. Taiko Drum
54. Voice Oohs                     118. Melodic Tom
55. Synth Voice                    119. Synth Drum
56. Orchestra Hit                  120. Reverse Cymbal

<b>Brass</b>                              <b>Sound Effects</b>
57. Trumpet                        121. Guitar Fret Noise
58. Trombone                       122. Breath Noise
59. Tuba                           123. Seashore
60. Muted Trumpet                  124. Bird Tweet
61. French Horn                    125. Telephone Ring
62. Brass Section                  126. Helicopter
63. Synth Brass 1                  127. Applause
64. Synth Brass 2                  128. Gunshot
</pre>
        </div>
