<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      NetLogo {{version}} User Manual
    </title>
  </head>
  <body>
    <img src="images/banner.png" width="600" height="231" style="position:relative; top:40%; left: 17%;" alt="Title image"/>
    <h1 style="position:relative; top:65%; left:20%;">The NetLogo {{version}} User Manual</h1>
  </body>
</html>
