<!DOCTYPE html>
<html lang="en">
    <head>
        <title>NetLogo {{ version }} User Manual</title>
        <link rel="stylesheet" href="netlogo.css" type="text/css" />
        <style>
            body.title {
                width: 100vw;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        </style>
    </head>
    <body class="title">
        <img src="images/banner.png" width="600" height="231" alt="Title image" />
        <h1 class="landing">The NetLogo {{ version }} User Manual</h1>
    </body>
</html>
