<!DOCTYPE html>
<head>
</head>
<body>
  <img src="images/title.jpg" style="position:relative; top:40%; left: 17%;"/>
  <h1 style="position:relative; top:65%; left:20%;">The NetLogo {{version}} User Manual</h1>
</body>
