<!DOCTYPE html>
<title>
      NetLogo {{version}} User Manual: Transition Guide
    </title>
    <link rel="stylesheet" href="netlogo.css" type="text/css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <h1>
      Transition Guide
    </h1>
    {{> versionTag.html }}
    <p>
      Many models created in earlier versions of NetLogo also work in
      NetLogo 5.0. However, some models will need changes. If an old model
      isn't working, this section of the User Manual may be able to
      help you.
    <p>
      What issues may arise depends on what version of NetLogo the model
      was created with.
    <p>
      This guide only covers changes most likely to cause issues for users.
      See the <a href="https://github.com/NetLogo/NetLogo/wiki/Release-notes" target="_blank">Release
      notes</a> for more complete details on differences between versions.
    <ul>
      <li>
        <a href="#v60">Changes for NetLogo 6.0</a>
      <li>
        <a href="#v52">Changes for NetLogo 5.2</a>
      <li>
        <a href="#v50">Changes for NetLogo 5.0</a>
      <li>
        <a href="#v41">Changes for NetLogo 4.1</a>
      <li>
        <a href="#v40">Changes for NetLogo 4.0</a>
      <li>
        <a href="#v31">Changes for NetLogo 3.1</a>
      </ul>
    <div id="v60">
    <h2>
      <a>Changes for NetLogo 6.0</a>
    </h2>
    <h3>
      Nobody Not Permitted as a Chooser Value
    </h3>
    <p>
    In NetLogo 6.0, <code>nobody</code> is no longer a valid chooser value.
    Just as you can't put <code>turtle 0</code> or <code>turtles</code>,
    <code>nobody</code> refers to a non-literal value which
    isn't supported in choosers. As part of this transition, choosers
    containing <code>nobody</code> (or <code>nobody</code> within a nested list)
    will have all uses of <code>nobody</code> changed to <code>"nobody"</code> when
    opened in NetLogo 6.0.
    <h3>
      Removal of "Movie" Prims
    </h3>
    <p id="movie-to-vid">
      The NetLogo movie prims hadn't been updated in quite some time and
      generated invalid quicktime movie files. They have been replaced by
      prims in the new <code>vid</code> extension. The full documentation
      for the <code>vid</code> extension is available in the <a href="vid.html">
        Vid Extension</a> section of the manual. As with all extensions,
      users will need to include <code>vid</code> in the <code>extensions</code>
      section of their NetLogo model.
    <p>
      Many of the movie primitives have direct parallels in the <code>vid</code>
      extension which can be found in the following table:
      <table>
        <tr>
          <td>movie prim</td>
          <td>vid prim</td>
        </tr>
        <tr>
          <td><code>movie-cancel</code></td>
          <td><code>vid:reset-recorder</code></td>
        </tr>
        <tr>
          <td><code>movie-close</code></td>
          <td><code>vid:save-recording <em>file-name</em></code></td>
        </tr>
        <tr>
          <td><code>movie-grab-view</code></td>
          <td><code>vid:record-view</code></td>
        </tr>
        <tr>
          <td><code>movie-grab-interface</code></td>
          <td><code>vid:record-interface</code></td>
        </tr>
        <tr>
          <td><code>movie-start <em>file-name</em></code></td>
          <td><code>vid:start-recorder <em>optional-width</em> <em>optional-height</em></code></td>
        </tr>
        <tr>
          <td><code>movie-status</code></td>
          <td><code>vid:recorder-status</code></td>
        </tr>
      </table>
      When you first open a file in NetLogo 6.0, your file will be
      automatically converted to use the new primitives. This will include adding
      a new global variable - <code>_recording-save-file-name</code> to track the name of the active
      recording, as well as adding the <code>vid</code> extension
      to the model. You should verify that the conversion took place correctly.
      There is no replacement for <code>movie-set-frame-rate</code>.
      The vid extension records frames at 25 per second, slightly more
      than the default 15 frames-per-second of the movie prims.
      If your recording is sensitive to framerate, consider recording
      each existing frame twice (2/25 is fairly close to 1/15)
      or consider using a postprocessing tool (like gstreamer or ffmpeg)
      to adjust the video playback speed.
    <h3>
      Improved Name Collision Detection
    </h3>
    <p>
      In NetLogo 6.0, expanded error-checking in the NetLogo compiler
      causes models which define
      <code>undirected-link-breed [ undirected-links undirected-link ]</code> and/or
      <code>directed-link-breed [ directed-links directed-link ]</code> to error
      for redefining a primitive reporter
      (either <code>is-directed-link?</code> or <code>is-undirected-link?</code>).
      If your model doesn't use <code>is-directed-link?</code> or <code>is-undirected-link?</code> at all,
      simply changing the breed names should resolve the error.
    <p>
      If you used either of the <code>is-&lt;directedness&gt;-link?</code> prim,
      there are several ways you might modify your model to account for this change.
      If your model has no other breeded links, consider removing the link breed and using the
      built-in link primitives.
      If your model has other breeded links, but only of different directedness,
      simply changing the breed name (and all related primitive names) should resolve the problem.
      Note that in this case <code>is-directed-link?</code> and/or <code>is-undirected-link?</code>
      continue to behave the same as before.
      If your model has other breeded links of the same directedness,
      the change will vary depending on your model. The breed name(s) must
      be changed, but you must decide whether you used
      <code>is-directed-link?</code> / <code>is-undirected-link?</code>
      to check link directedneess or to check that link breed membership.
      If you used it to check link directedness leaving it as-is should keep the current behavior of the model.
      Otherwise, it can simply be replaced by <code>is-&lt;breed&gt;?</code>.
    </div>
    <h3>
      Removal of <code>hubnet-set-client-interface</code>
    </h3>
    <p id="remove-hubnet-set-client-interface">
      The <code>hubnet-set-client-interface</code> primitive was rendered obsolete
      by the introduction of the HubNet client editor and end of support for calculator HubNet.
      We have found it used in very few models and
      have decided to remove it from the language.
      On opening an existing model in 6.0, the autoconverter should remove all uses of
      <code>hubnet-set-client-interface</code> from your code.
    <h3>
      Improved &amp; Updated Extensions API
    </h3>
    <p id="extensions60">
      One of our goals in NetLogo 6.0 has been to make it easier to develop
      extensions and easy to develop more <em>powerful</em> extensions.
      To that end, we've bumped the extension API from 5.0 to 6.0.
      Existing extensions will need to recompile changing the "NetLogo-Extension-API-Version"
      in their jar's MANIFEST.MF from 5.0 to 6.0.
    <p>
      Some of the changes we've made to the extensions API include:
      <ul>
        <li><code>org.nlogo.api.Context</code> now allows access to the current world and workspace objects
        without requiring a cast to an <code>org.nlogo.nvm.ExtensionContext</code>.</li>
        <li><code>org.nlogo.api.Workspace</code> has been introduced as a stable API for extensions to depend on.</li>
        <li>A NetLogo jar is now available from BinTray.</li>
      </ul>
      For a full list of changes between 5.0 and 6.0, please visit our
      <a href="https://github.com/NetLogo/NetLogo/wiki/Hexy-Extension-Transition-Guide">Extension Transition Guide</a>
      on GitHub.
    <p>
      In service of making it easier to build extensions, we've expanded and improved
      the <a href="https://github.com/NetLogo/NetLogo-Extension-Plugin">NetLogo Extension Plugin</a>
      for <a href="http://www.scala-sbt.org/"><code>sbt</code></a>, the Scala Build Tool.
      Sbt is a powerful tool for building JVM projects and can be used in projects that
      use Scala, Java, or a combination of the two. We're now using the Extension Plugin to build
      all of the bundled extensions and we strongly recommend extension authors take advantage
      of the plugin as it makes configuring a NetLogo extension build extremely straightforward.
      The plugin handles fetching the NetLogo jar which extensions compile against as
      well as generation of a jar for the extension containing the appropriate metadata.
    <div id="v52">
    <h2>
      <a>Changes for NetLogo 5.2</a>
    </h2>
    <h3>
      hsb primitives
    </h3>
    <p>
      In 5.2, the hsb primitives have been changed to work with the standard
      scale values of 360 for hue, and 100 for saturation and brightness.  This
      affects the primitives hsb, extract-hsb and approximate-hsb.
    <p>
      The old primitives, scaled to 255, are automatically transitioned to and have
      been renamed __hsb-old, __extract-hsb-old and __approximate-hsb-old.
    <h3>
      GoGo extension
    </h3>
    <p>
      The GoGo extension has been upgraded to use newer GoGo boards with the HID
      interface.  Many of the older primitives no longer work, and will alert you
      to upgrading your GoGo board's firmware.
    <p>
      If you need to continue to use a serial interface, you can use the bundled
      gogo-serial extension.  Change your model to use gogo-serial as opposed to
      gogo.
      More details [here](https://github.com/NetLogo/NetLogo/wiki/GoGo-Upgrade).
    <p>
      If you cannot upgrade to use the new HID extension nor the new serial
      extension, the original extension can be found at
      https://github.com/NetLogo/GoGo-RXTX-Extension
    </div>
    <div id="v50">
    <h2>
      <a>Changes for NetLogo 5.0</a>
    </h2>
    <h3>
      Plotting
    </h3>
    <p>
      In 5.0, you don't have to put your plotting code in the Code tab
      anymore. Instead, you can put it inside the plots themselves, in the
      Interface tab.
    <p>
      Nonetheless, the old style and all of the existing plotting
      primitives are still supported. We recommend changing your model to
      use the new style, but if you don't, it should still work.
    <p>
      The following example shows how to change a model to use the new
      style. Suppose you have a typical NetLogo 4.1 model with one plot
      called &quot;populations&quot; and two pens called &quot;robots&quot;
      and &quot;humans&quot;. The old code might look like:
    <pre>
<code>to setup
  clear-all
  ...
  do-plotting
end

to go
  ...
  tick
  do-plotting
end

to do-plotting
  set-current-plot &quot;populations&quot;
  set-current-plot-pen &quot;robots&quot;
  plot count robots
  set-current-plot-pen &quot;humans&quot;
  plot count humans
end</code>
</pre>
    <p>
      Here are the steps to make the transition:
    <ul>
      <li>Copy the <code>plot count robots</code> command and paste it into
      the Update Commands field for the robots pen in the plot edit dialog.
      Remove it from the <code>do-plotting</code> procedure.
      <li>The <code>plot count humans</code> command can be moved in the
      same way for the humans pen.
      <li>After those lines are removed from the <code>do-plotting</code>
      procedure, it doesn't actually do anything anymore! Remove it.
      <li>The final step is to replace the <code>do-plotting</code>
      procedure calls in <code>setup</code> and <code>go</code>. In <code>
        setup</code>, the <code>do-plotting</code> call should be changed
        to <code>reset-ticks</code>. In <code>go</code>, the do-plotting
        call should be changed to <code>tick</code>.
        <code>reset-ticks</code> and <code>tick</code> will both cause
        plotting to happen automatically.
      </ul>
    <p>
      The resulting (much simpler) code looks like this:
    <pre>
<code>to setup
  clear-all
  ...
  reset-ticks
end

to go
  ...
  tick
end</code>
</pre>
    <p>
      For more details on how plotting works in NetLogo 5.0, see the
      Plotting Sections of the Programming Guide and the Interface Guide.
      For details on how plotting interacts with the tick counter, read on.
    <h3>
      Tick counter
    </h3>
    <p>
      The way the tick counter works has changed in 5.0. Instead of being
      initially set to 0, the tick counter is initially blank.
    <h4>
      <code>reset-ticks</code>
    </h4>
    <p>
      You must use <code>reset-ticks</code> to start the tick counter at 0
      before using <code>ticks</code>, <code>tick</code> or <code>tick-advance</code>
      for the first time.
    <p>
      <code>reset-ticks</code> should go at the end of your setup procedure.
      Putting it there will allow your model to work with 5.0's new
      plotting features.
    <h4>
      <code>reset-ticks</code> and plotting
    </h4>
    <p>
      In 5.0, you don't have to put your plotting code in the Code tab
      anymore. Instead, you can put it inside the plots themselves, in the
      Interface tab. Code inside plots is triggered by <code>reset-ticks</code>
      and <code>tick</code>. Resetting the tick counter runs plot setup code,
      and then it also runs plot update code to plot the initial state of
      the model. The initial state of the model won't be in place until
      the end of <code>setup</code>, so that's why <code>reset-ticks</code>
      should go at the end.
    <h4>
      <code>__clear-all-and-reset-ticks</code>
    </h4>
    <p>
      In order for models from previous NetLogo versions to work in 5.0
      without changes, when an old model is opened in 5.0, any occurrences
      of <code>clear-all</code> (or <code>ca</code>) are automatically changed to
      <code>__clear-all-and-reset-ticks</code>, which combines the effects of
      <code>clear-all</code> and <code>reset-ticks</code>. The two underscores on
      the name indicate that this is not a normal primitive, but exists
      only for backwards compatibility.
    <p>
      You should remove <code>__clear-all-and-reset-ticks</code> from your
      code, replace it with <code>clear-all</code>, and put
      <code>reset-ticks</code> at the end of your setup procedure. (This
      doesn't happen automatically because the structure of NetLogo
      models is too free-form for an automatic converter to reliably make
      the change for you.)
    <h3>
      Unicode characters
    </h3>
    <p>
      NetLogo 5.0 fully supports international characters cross-platform,
      using the Unicode character set. NetLogo 5.0 model files always
      represent Unicode characters using the UTF-8 encoding.
    <p>
      Previous versions of NetLogo allowed Unicode characters to be used in
      some contexts. However, model files were saved in the platform's
      default encoding, which on most systems was something other than
      UTF-8. Characters were handled correctly on the same platform (e.g.
      two Windows machines), but could be altered if the model was moved
      between platforms (e.g. from Windows to Mac or vice versa).
    <p>
      When opening an existing model in NetLogo 5.0, if the model contains
      international or other non-ASCII characters, the characters may be
      interpreted incorrectly, because they were originally written in a
      platform-specific encoding, but then read back in in UTF-8.
    <p>
      If only a few characters are affected, you might find it easiest just
      to fix them manually.
    <p>
      But if you expect a large number of characters to be affected, and
      you want them translated automatically, you can use a third party
      utility to re-encode your .nlogo file from its original encoding into
      UTF-8. After conversion, open the model in NetLogo 5.0 and all
      characters should be correct.
    <h3>
      Info tabs
    </h3>
    <p>
      NetLogo 5.0 uses the Markdown markup language to allow you to format
      your Info tab, including headers, bold and italics, images, and so
      forth.
    <p>
      Earlier versions of NetLogo used a custom markup language with much
      more limited capabilities.
    <p>
      When opening a model from an older version, NetLogo 5.0 translates
      your old markup into Markdown. Most of the time this produces good
      results, but you may want to check the results yourself and make sure
      that your Info tab still looks good.
    <h3>
      Model speed
    </h3>
    <p>
      In NetLogo 5.0 every model has a &quot;target frame rate&quot; which
      affects the default speed at which the model runs, when the speed
      slider is in the middle, on the &quot;normal speed&quot; setting.
    <p>
      The default target frame rate for new models, and for models that
      were created in earlier versions of NetLogo, is 30 frames per second.
      If you are using tick-based updates, as we recommend for most models,
      then that translates to 30 ticks per second.
    <p>
      If your model runs slower in 5.0 than it ran in 4.1, it's
      probably just because its speed is being limited by this rate. If you
      want, you can press the Settings button in the Interface tab and
      change the frame rate to a higher number.
    <p>
      Some old models used the <code>every</code> command to set a default
      speed. In most case this can be now removed from the code, and the
      target frame rate setting used instead.
    <h3>
      List performance
    </h3>
    <p>
      The underlying data structure for NetLogo lists has changed.
    <p>
      In NetLogo 4.1, a NetLogo list was represented internally as a singly
      linked list. Some operations on singly linked lists are fast (such as
      <code>first</code> and <code>butfirst</code>) but others are slow because
      they could require traversing the whole list (such as <code>item</code>
      and <code>last</code>).
    <p>
      In NetLogo 5.0, lists are now actually trees internally. As a result,
      some operations are a little slower, but other operations are
      drastically faster on long lists. See the <a href="programming.html#lists">Lists section of the Programming Guide</a>
      for details.
    <p>
      Some models may run a little slower with the new data structure,
      especially if you make heavy use of short lists. But other models
      will run faster -- perhaps dramatically faster.
    <p>
      Some special ways of writing list-processing code that were useful in
      NetLogo 4.1 are no longer needed in 5.0. For example, since in 4.1
      <code>fput</code> was fast and <code>lput</code> was slow, modelers sometimes
      built up lists in reverse order using <code>fput</code>, perhaps calling
      <code>reverse</code> later to restore the intended order. In NetLogo 5.0,
      you don't need to code that way anymore. <code>fput</code> and
      <code>lput</code> are the same speed.
    <h3>
      Extensions API
    </h3>
    <p>
      If you are the author of an extension, you will need to recompile it
      against the 5.0 NetLogo.jar and lib directory for it to work with
      5.0.
    <p>
      You may also need to be aware of the following changes:
    <h4>
      Syntax constants
    </h4>
    <p>
      The code for specifying the syntax of a primitive has changed
      slightly, for example <code>Syntax.TYPE_STRING</code> is now
      <code>Syntax.StringType()</code>. (From Java, the pair of parentheses at
      the end is required. In Scala, you can omit them.)
    <h4>
      LogoList construction
    </h4>
    <p>
      One significant change is that <code>org.nlogo.api.LogoList</code> no
      longer has a public constructor. Instead, there are two new ways to
      construct a <code>LogoList</code>.
    <p>
      If you have a <code>java.lang.Iterable</code>, you can copy the contents
      into a fresh <code>LogoList</code> by passing it to the static method
      <code>LogoList.fromJava()</code>. See the array extension source code for
      a sample usage.
    <p>
      Or, to build up a new list one item a time, use
      <code>org.nlogo.api.LogoListBuilder</code>. The <a href="extensions.html">Extensions Guide</a> has sample code showing the
      use of <code>LogoListBuilder</code>.
    <h4>
      Primitive classes
    </h4>
    <p>
      In prior NetLogo versions, the extensions API required that each
      extension primitive have its own separate top-level class with a
      no-argument constructor. These limitations have now been lifted.
      Also, api.Primitive objects are now made only once, when the
      extension is loaded, instead of every time the Code tab was
      recompiled.
    </div>
    <div id="v41">
    <h2>
      <a>Changes for NetLogo 4.1</a>
    </h2>
    <h3>
      Combining <code>set</code> and <code>of</code>
    </h3>
    <p>
      The following syntax is no longer supported:
    <pre>
set [&lt;variable&gt;] of &lt;agent&gt; &lt;value&gt;
</pre>
    <p>
      Commands of this form must be rewritten using <code>ask</code>:
    <pre>
ask &lt;agent&gt; [ set &lt;variable&gt; &lt;value&gt; ]
</pre>
    <p>
      Or, if the new value must be computed by the asking agent and not by
      the agent whose variable is being set:
    <pre>
;; OPTION #1 (using let):
let new-value &lt;value&gt;
ask &lt;agent&gt; [ set &lt;variable&gt; new-value ]

;; OPTION #2 (using myself):
ask &lt;agent&gt; [ set &lt;variable&gt; [value] of myself ]
</pre>
    <p>
      So for example, this:
    <pre>
set [color] of turtle 0 red
</pre>
    <p>
      Can be rewritten as:
    <pre>
ask turtle 0 [ set color red ]
</pre>
    <p>
      It is not necessary to use <code>let</code> or <code>myself</code> since red
      is red from the point of view of both agents.
    <p>
      However, this:
    <pre>
set [color] of turtle 0 color
</pre>
    <p>
      Must be rewritten as:
    <pre>
let new-color color
ask turtle 0 [ set color new-color ]
</pre>or
    <pre>
ask turtle 0 [ set color [color] of myself ]
</pre>
    <p>
      in order not to change the meaning, since the two agents may have
      different starting values for <code>color</code>. The form using
      <code>myself</code> is briefer, but the former using <code>let</code> may be
      considered clearer, depending on context and individual preference.
    </div>
    <div id="v40">
    <h2>
      <a>Changes for NetLogo 4.0</a>
    </h2>
    <h3>
      Who numbering
    </h3>
    <p>
      Prior to NetLogo 4.0, a dead turtle's who number (stored in the
      <a href="dictionary.html#who"><code>who</code></a> turtle variable) could
      be reassigned to a later newborn turtle. In NetLogo 4.0, who numbers
      are never reused until who numbering is reset to 0 by the <a href="dictionary.html#clear-all"><code>clear-all</code></a> or <a href="dictionary.html#clear-turtles"><code>clear-turtles</code></a> command.
      This change in behavior may break a few old models.
    <h3>
      Turtle creation: randomized vs. &quot;ordered&quot;
    </h3>
    <p>
      NetLogo 4.0 provides two different observer commands for creating
      turtles, <a href="dictionary.html#create-turtles"><code>create-turtles</code></a>
      (<a href="dictionary.html#create-turtles"><code>crt</code></a>) and <a href="dictionary.html#create-ordered-turtles"><code>create-ordered-turtles</code></a>
      (<a href="dictionary.html#create-ordered-turtles"><code>cro</code></a>).
    <p>
      <code>crt</code> gives the new turtles random colors and random integer
      headings. <code>cro</code> assigns colors sequentially and gives the
      turtles sequential equally spaced headings, with the first turtle
      facing north (heading of 0).
    <p>
      Prior to NetLogo 4.0, the <code>crt</code> command behaved the way
      <code>cro</code> does now. If your old model depends on the
      &quot;ordered&quot; behavior, you will need to change your code to
      use <code>cro</code> instead of <code>crt</code>.
    <p>
      It is common for old models that used <code>crt</code> to contain extra
      commands to randomize the new turtles' headings, for example
      <code>rt random 360</code> or <code>set heading random 360</code>. These
      commands are no longer necessary when used inside <code>crt</code>.
    <h3>
      Adding strings and lists
    </h3>
    <p>
      Prior to NetLogo 4.0, the <a href="dictionary.html#Symbols"><code>+</code></a> (addition) operator could be
      used to concatenate strings and join lists. In current NetLogo,
      <code>+</code> only works on numbers. To concatenate strings, use the
      <a href="dictionary.html#word"><code>word</code></a> primitive; to join
      lists together, use the <a href="dictionary.html#sentence"><code>sentence</code></a> primitive. This
      language change was made to increase the speed of code that uses
      <code>+</code>.
    <p>
      Old code:
    <pre>
print &quot;There are &quot; + count turtles + &quot; turtles.&quot;
</pre>
    <p>
      New code:
    <pre>
print (word &quot;There are &quot; count turtles &quot; turtles.&quot;)
</pre>
    <p>
      Likewise, if you need to concatenate lists, use SENTENCE.
    <p>
      This change is not handled automatically when converting old models;
      users will need to change their code by hand.
    <p>
      We know this change will be awkward for users who are used to the old
      syntax. We have made this change for efficiency and consistency. We
      can implement an addition operator that only adds numbers much more
      efficiently than one that handles several different data types.
      Because addition is such a common operation, NetLogo's overall
      speed is affected.
    <h3>
      The <code>-at</code> primitives
    </h3>
    <p>
      The observer may no longer use <a href="dictionary.html#patch-at"><code>patch-at</code></a>, <a href="dictionary.html#turtles-at"><code>turtles-at</code></a>, and <a href="dictionary.html#turtles-at"><code>BREEDS-at</code></a>. Use <a href="dictionary.html#patch"><code>patch</code></a>, <code><a href="dictionary.html#turtles-on">turtles-on</a> patch</code>, and
      <code><a href="dictionary.html#turtles-on">BREEDS-on</a> patch</code>
      instead. Note that <code>patch</code> now rounds its inputs (before it
      only accepted integer inputs).
    <h3>
      Links
    </h3>
    <p>
      NetLogo 3.1 had supports for using links to connect turtles to make
      networks, graphs, and geometric figures. The links were themselves
      turtles.
    <p>
      In NetLogo 4.0, instead of links being turtles, links are now an
      independent fourth agent type, right alongside observer, turtles,
      patches. The primitives involving links are no longer considered
      experimental; they are now fully part of the language.
    <p>
      Models that use the old, experimental turtle-based link primitives
      will need to be updated to use link agents. The differences are not
      huge, but hand updating is required.
    <p>
      Links are documented in the <a href="programming.html#links">Links</a> section of the Programming Guide,
      and in the NetLogo Dictionary entries for the link primitives. See
      the Networks section of the Models Library for example models that
      use links. There are also some link-based Code Examples.
    <p>
      First you will need to remove any breeds called &quot;links&quot; if
      you are only using one type of links then you will not have to use
      breeds at all. If you are using multiple types of links see <a href="dictionary.html#undirected-link-breed"><code>undirected-link-breed</code></a>
      and <a href="dictionary.html#directed-link-breed"><code>directed-link-breed</code></a>.
      Commands and reporters that contain the word &quot;links&quot; (like
      <code>__create-links-with</code>, etc.) will automatically be converted
      to the new form without underscores (<a href="dictionary.html#create-link"><code>create-links-with</code></a>).
      However, primitives that use a different breed name (such as
      &quot;edges&quot;) will not be converted. You will need to remove the
      underscores by hand and unless you are declaring a link breed with
      that name you will need to change the breed designation to
      &quot;links&quot;.
    <p>
      The commands <code>remove-link(s)-with/from/to</code> no longer exist.
      Instead you should ask the links in question to <a href="dictionary.html#die"><code>die</code></a>.
    <p>
      For example:
    <pre>
ask turtle 0 [ __remove-links-with link-neighbors ]
</pre>
    <p>
      becomes
    <pre>
ask turtle 0 [ ask my-links [ die ] ]
</pre>
    <p>
      Several of the layout commands have slightly different inputs, the
      first two inputs are generally a turtle agentset and a link agentset
      to perform the layout on. See the dictionary entries for details.
      <a href="dictionary.html#layout-spring"><code>layout-spring</code></a>,
      <a href="dictionary.html#layout-radial"><code>layout-radial</code></a>
      <a href="dictionary.html#layout-tutte"><code>layout-tutte</code></a>
    <p>
      You may also need to rearrange the declaration of turtles-own
      variables, since links were once actually turtles. Any variables that
      apply to links should be moved into a <a href="dictionary.html#links-own"><code>links-own</code></a> block.
    <p>
      Since links are no longer turtles they no longer have the built-in
      turtle variables (though some of the link variables are the same such
      as <a href="dictionary.html#color"><code>color</code></a> and <a href="dictionary.html#label"><code>label</code></a>. If you formerly used the
      location of link turtles you will now need to calculate the midpoint
      of the link. This is fairly simple in a non-wrapping world.
    <pre>
to-report link-xcor
  report mean [xcor] of both-ends
end

to-report link-ycor
  report mean [ycor] of both-ends
end
</pre>it is a little bit trickier in a wrapping world but still fairly
straightforward.
    <pre>
to-report link-xcor
  let other-guy end2
  let x 0
  ask end1
  [
    hatch 1
    [
      face other-guy
      fd [distance other-guy] of myself / 2
      set x xcor
      die
    ]
  ]
  report x
end
</pre>
    <p>
      and similarly for <code>ycor</code>.
    <p>
      If you used either the size or heading of the link turtles you can
      use the reporters <a href="dictionary.html#link-length"><code>link-length</code></a> and <a href="dictionary.html#link-heading"><code>link-heading</code></a> instead.
    <h3>
      New &quot;of&quot; syntax
    </h3>
    <p>
      We have replaced three different language constructs, <code>-of</code>
      (with hyphen), <code>value-from</code>, and <code>values-from</code> with a
      single <a href="dictionary.html#of"><code>of</code></a> construct (no
      hyphen).
    <table border>
      <tr>
        <th>
          old
        <th>
          new
        <tr>
        <td>
          <code>color-of turtle 0</code>
        <td>
          <code>[color] of turtle 0</code>
        <tr>
        <td>
          <code>value-from turtle 0 [size * size]</code>
        <td>
          <code>[size * size] of turtle 0</code>
        <tr>
        <td>
          <code>mean values-from turtles [size]</code>
        <td>
          <code>mean [size] of turtles</code>
        </table>When <code>of</code> is used with a single agent, it reports a
        single value. When used with an agentset, it reports a list of
        values (in random order, since agentsets are always in random
        order).
    <p>
      Note that when opening old models in the new version, <code>-of</code>,
      <code>value-from</code>, and <code>values-from</code> will automatically be
      converted to use &quot;of&quot; instead, but some nested uses of
      these constructs are too complex for the converter and must be
      converted by hand.
    <h3>
      Serial <code>ask</code>
    </h3>
    <p>
      The <a href="dictionary.html#ask"><code>ask</code></a> command is now
      serial rather than concurrent. In other words, the asked agents will
      run one at a time. Not until one agent completely finishes the entire
      body of the <code>ask</code> does the next agent start.
    <p>
      Note that even the old <a href="dictionary.html#ask"><code>ask</code></a>
      was never truly concurrent; we simulated concurrent execution by
      interleaving execution among the agents using a turn-taking mechanism
      described in the NetLogo FAQ.
    <p>
      We have made this change because in our experience, users often wrote
      models that behaved in unexpected ways due to the simulated
      concurrency, but rarely wrote models that benefited from the
      simulated concurrency. Models exhibiting unexpected behavior could
      usually be fixed by adding the <a href="dictionary.html#without-interruption"><code>without-interruption</code></a>
      command in the right places, but it was difficult for users to know
      whether that command was needed and if so, where.
    <p>
      In NetLogo 4.0, <a href="dictionary.html#without-interruption"><code>without-interruption</code></a>
      is no longer necessary unless your model uses <a href="dictionary.html#ask-concurrent"><code>ask-concurrent</code></a> (or a
      turtle or patch forever button containing code that depends on
      simulated concurrency). In most models, all uses of
      <code>without-interruption</code> can be removed.
    <p>
      The simulated concurrency formerly employed by &quot;ask&quot; is
      still accessible in three ways:
    <ul>
      <li>You may use the <a href="dictionary.html#ask-concurrent"><code>ask-concurrent</code></a>
      primitive instead of <a href="dictionary.html#ask"><code>ask</code></a>
      to get the old simulated concurrency. (We don't recommend this,
      though.)
      <li>Commands issued in the Command Center directly to turtles,
      patches, or links have an implied <code>ask-concurrent</code>.
      <li>Turtle, patch, and link forever buttons have an implied
      <code>ask-concurrent</code> as well.
      </ul>
    <p>
      Note that <code>ask</code> itself is always serial regardless of the
      context in which it is used, however.
    <p>
      In our own Models Library, models that make use of this concurrency
      are rare. A prominent example, though, is Termites, which uses a
      concurrent turtle forever button.
    <h3>
      Tick counter
    </h3>
    <p>
      NetLogo now has a built-in tick counter for representing the passage
      of simulated time.
    <p>
      You advance the counter by one using the <a href="dictionary.html#tick"><code>tick</code></a> command. If you need to read
      its value, there's a reporter called <a href="dictionary.html#ticks"><code>ticks</code></a>. The <a href="dictionary.html#clear-all"><code>clear-all</code></a> command resets the
      tick counter; so does <a href="dictionary.html#reset-ticks"><code>reset-ticks</code></a>.
    <p>
      In most models the tick counter will be integer-valued, but if you
      want to use smaller increments of time, you can use the <a href="dictionary.html#tick-advance"><code>tick-advance</code></a> command to
      advance the tick counter by any positive amount, including fractional
      amounts. Some Models Library models that use <code>tick-advance</code>
      are Vector Fields and the GasLab models.
    <p>
      The value of the tick counter is displayed in the toolbar at the top
      of the Interface tab. (You can use the Settings... button in the
      toolbar to hide the tick counter, or change the word
      &quot;ticks&quot; to something else.)
    <h3>
      View update modes
    </h3>
    <p>
      In the past, NetLogo always tried to update the view about 20 times a
      second. We're now calling that &quot;continuous&quot; view
      updates. The biggest problem with it was that you usually want
      updates to happen between model ticks, not in the middle of a tick,
      so we had a checkbox on buttons that (by default) forced a display
      update after every button iteration. That made sure updates happened
      between ticks, but it didn't get rid of the intermediate updates.
      You had to use <a href="dictionary.html#no-display"><code>no-display</code></a> and <a href="dictionary.html#display"><code>display</code></a> to lock them out.
    <p>
      We still support continuous updates. They are the default when you
      start up NetLogo. But most Models Library models now use tick-based
      updates. With tick-based updates, updates happen only when the tick
      counter advances. (The <a href="dictionary.html#display"><code>display</code></a> command can be used to
      force additional updates; see below.)
    <p>
      The advantages of tick-based updates as we see them are as follows:
    <ol>
      <li>Consistent, predictable view update behavior which does not vary
      from computer to computer or from run to run.
      <li>Intermediate updates can confuse the user of your model by
      letting them see things they aren't supposed to see, which may be
      misleading.
      <li>Increased speed. Updating the view takes time, so if one update
      per tick is enough, then enforcing than there is only one update per
      tick will make your model faster.
      <li>Instead of having a &quot;force view update&quot; checkbox in
      every button like in NetLogo 3.1, we only need one choice which
      applies to the entire model.
      <li>Using the speed slider to slow down a model now just inserts
      pauses between ticks. So with tick-based updates, <code>setup</code>
      buttons are no longer affected by the speed slider. This was a real
      annoyance with the old speed slider. (The annoyance persists for
      models that use continuous updates, though.)
      </ol>
    <p>
      As mentioned above, most models in our Models Library now use
      tick-based updates.
    <p>
      Even for models that would normally be set to tick-based updates, it
      may be useful to switch to continuous updates temporarily for
      debugging purposes. Seeing what's going on within a tick, instead
      of only seeing the end result of a tick, could help with
      troubleshooting.
    <p>
      If you switch your model to use tick-based updates, you'll also
      need to add the <a href="dictionary.html#tick"><code>tick</code></a>
      command to your code, otherwise the view won't update. (Note that
      the view still always updates when a button pops up or a command
      entered in the command center finishes, though. So it's not like
      the view will just stay frozen indefinitely.)
    <h4>
      How to make a model use ticks and tick-based updates
    </h4>
    <p>
      Here are the steps to follow to convert your model to use ticks and
      tick-based updates in NetLogo 4.0:
    <ol>
      <li>In the Interface tab toolbar, on the right hand side where it
      says &quot;update view:&quot;, change the setting from
      &quot;continuously&quot; to &quot;on ticks&quot;.
      <li>Add the <a href="dictionary.html#tick"><code>tick</code></a> command
      to your go procedure, at or near the end. In Models Library models we
      always put <code>tick</code> after the agents move but before any
      plotting commands. That's because the plotting commands might
      contain something like <code>plotxy ticks ...</code> and we want the new
      value of the tick counter used, not the old one. Most models
      don't refer to the tick counter in their plotting commands, but
      nonetheless, for consistency and to avoid mistakes we suggest always
      putting <code>tick</code> before the plotting commands.
      </ol>
    <p>
      Some models will require some additional changes:
    <ol>
      <li>If your model already has a global &quot;ticks&quot; or
      &quot;clock&quot; or &quot;time&quot; variable, get rid of it. Use
      the <a href="dictionary.html#tick"><code>tick</code></a> command and
      <a href="dictionary.html#ticks"><code>ticks</code></a> reporter instead.
      (If your model uses fractional increments of time, use <a href="dictionary.html#tick-advance"><code>tick-advance</code></a> instead of
      <code>tick</code>.) If you had a monitor for that variable, you can get
      rid of it; there's now a tick counter in the toolbar.
      <li>
        <a href="dictionary.html#clear-all"><code>clear-all</code></a> resets
        the tick counter to zero. If you don't use <code>clear-all</code>
        in your setup procedure, then you may need to add <a href="dictionary.html#reset-ticks"><code>reset-ticks</code></a> to reset the
        counter to zero.
      <li>If you used <a href="dictionary.html#no-display"><code>no-display</code></a> and <a href="dictionary.html#display"><code>display</code></a> to prevent view
      updates from happening in the middle of go, you can get rid of them.
      <li>If your model needs to update the view without advancing the tick
      counter (examples: Party, Dice Stalagmite, network models with
      animated layout, models with mouse interaction buttons), use the
      <a href="dictionary.html#display"><code>display</code></a> command to
      force additional view updates so the user can see what is going on.
      </ol>
    <h3>
      Speed slider
    </h3>
    <p>
      Previous versions of NetLogo had a speed slider that could be used to
      make models run slower, so you can see what's going on.
    <p>
      In NetLogo 4.0, the slider can be used to speed up models as well. It
      does this by updating the view less frequently. Updating the view
      takes time, so the fewer updates, the faster the model runs.
    <p>
      The default position of the slider is in the center. When you're
      at the center, the slider says &quot;normal speed&quot;.
    <p>
      As you move the slider away from the center position, the model will
      gradually run faster or slower.
    <p>
      At very high speeds, view updates become very infrequent and may be
      separated by several seconds. It may feel like the model is actually
      running slower, since the updates are so infrequent. But watch the
      tick counter, or other indicators such as plots, and you'll see
      that yes, the model really is running faster. If the infrequent
      updates are disconcerting, don't push the slider so far over.
    <p>
      When using tick-based updates, slowing the model down does not cause
      additional view updates. Rather, NetLogo simply pauses after each
      tick.
    <p>
      When using continuous updates, slowing the model down means view
      updates become more closely spaced. If you push the speed slider more
      than halfway to the left, the model will be running so slowly that
      you can watch turtles moving one at a time! This is new in NetLogo
      4.0; in previous NetLogo versions, no matter how slowly you ran a
      model, you would never see the agents in an <code>ask</code> moving one
      at a time; all the agents in an <code>ask</code> always appeared to move
      together.
    <h3>
      Numbers
    </h3>
    <p>
      NetLogo no longer maintains an internal distinction between integers
      and floating point numbers. So for example:
    <p>
      Old:
    <pre>
observer&gt; print 3
3
observer&gt; print 3.0
3.0
observer&gt; print 1 + 2
3
observer&gt; print 1.5 + 1.5
3.0
observer&gt; print 3 = 3.0
true
</pre>
    <p>
      (The last line shows that although the distinction between integer 3
      and floating point 3.0 was maintained, the two numbers were still
      considered equal.)
    <p>
      New:
    <pre>
observer&gt; print 3
3
observer&gt; print 3.0
3
observer&gt; print 1 + 2
3
observer&gt; print 1.5 + 1.5
3
observer&gt; print 3 = 3.0
true
</pre>
    <p>
      We expect that only rare models will be negatively impacted by this
      change.
    <p>
      A benefit of this change is that NetLogo now supports a much larger
      range of integers. The old range was -2,147,483,648 to 2,147,483,647
      (around +/- 2 billion); the new range is +/-9,007,199,254,740,992
      (around +/- 9 quadrillion).
    <h3>
      Agentset building
    </h3>
    <p>
      NetLogo 3.1 (and some earlier versions) included primitives called
      <code>turtles-from</code> and <code>patches-from</code> that were
      occasionally useful for building agentsets. In NetLogo 4.0, these
      primitives have been replaced with new primitives called <a href="dictionary.html#turtle-set"><code>turtle-set</code></a> and <a href="dictionary.html#patch-set"><code>patch-set</code></a> that are much more
      flexible and powerful. (<a href="dictionary.html#link-set"><code>link-set</code></a> exists as well.) See
      the entries for these primitives in the NetLogo Dictionary. Models
      that use the old <code>turtles-from</code> and <code>patches-from</code> will
      need to be altered by hand to use the new primitives.
    <h3>
      RGB Colors
    </h3>
    <p>
      In NetLogo 3.1 RGB and HSB colors could be approximated as NetLogo
      colors using the <code>rgb</code> and <code>hsb</code> primitives. These have
      been renamed to <a href="dictionary.html#approximate-rgb"><code>approximate-rgb</code></a> and
      <a href="dictionary.html#approximate-hsb"><code>approximate-hsb</code></a> and
      now expect inputs in the range 0-255, not 0-1.
    <p>
      The full RGB spectrum is now available in NetLogo so it may no longer
      be necessary to use these primitives at all. You can set any color
      variable to a three-item RGB list, with values in the 0-255 range,
      and get that exact color. See the <a href="programming.html#colors">Color</a> section of the Programming Guide
      for details.
    <h3>
      Tie
    </h3>
    <p>
      In previous versions <code>__tie</code> was provided as an experimental
      feature. As of NetLogo 4.0 links have a <a href="dictionary.html#tie-mode"><code>tie-mode</code></a> variable which can
      be set to <code>&quot;none&quot;</code>, <code>&quot;free&quot;</code>, or
      <code>&quot;fixed&quot;</code>. In 4.0 <a href="dictionary.html#tie"><code>tie</code></a> is now a link-only primitive.
      This means that to tie turtle 1 to turtle 0 you write:
    <pre>
  ask turtle 0 [ create-link-to turtle 1 [ tie ] ]
</pre>
    <p>
      See the <a href="programming.html#tie">Tie</a> section of the
      programming guide for details.
    </div>
    <div id="v31">
    <h2>
      <a>Changes for NetLogo 3.1</a>
    </h2>
    <h3>
      Agentsets
    </h3>
    <p>
      If your model is behaving strangely or incorrectly, it may be because
      since NetLogo 3.1, agentsets are now always in random order. In prior
      versions of NetLogo, agentsets were always in a fixed order. If your
      code depended on that fixed order, then it won't work anymore.
      How to fix your model to work with randomized agentsets depends on
      the details of what your code is doing. In some situations, it is
      helpful to use the <a href="dictionary.html#sort"><code>sort</code></a>
      or <a href="dictionary.html#sort-by"><code>sort-by</code></a> primitives
      to convert an agentset (random order) into a list of agents (fixed
      order). See &quot;Lists of agents&quot; in the <a href="programming.html#lists">Lists</a> section of the Programming Guide.
    <h3>
      Wrapping
    </h3>
    <p>
      If you are seeing pieces of turtle shapes wrapping around the view
      edges, it's because NetLogo 3.0 allowed you to turn off such
      wrapping in the view without affecting the behavior of the model.
      Since NetLogo 3.1, if you don't want the view to wrap you must
      make it so the world doesn't wrap, using the new topology
      feature. Making this change may require other changes to your model,
      though. See the <a href="programming.html#topology">Topology</a>
      section of the Programming Guide for a thorough discussion of how to
      convert your model to take advantage of this new feature.
    <h3>
      Random turtle coordinates
    </h3>
    <p>
      Many models made in NetLogo 3.0 or earlier use <code>setxy random
      world-width random world-height</code> to scatter turtles randomly,
      using either <code>random</code> or <code>random-float</code>. It only works
      if world wrapping is on.
    <p>
      (Why? Because when wrapping is on, you can set coordinates of turtles
      to numbers beyond the edge of the world and NetLogo will wrap the
      turtle to the other side. But in worlds that don't wrap setting
      the x or y coordinates of a turtle to a point outside the bounds of
      the world causes a runtime error. The world wrap settings were added
      in NetLogo 3.1. See the <a href="programming.html#topology">Topology</a> section of the Programming
      Guide for more information.)
    <p>
      To fix your model so that it works regardless of the wrapping
      settings, use one of these two commands instead:
    <pre>
setxy random-xcor random-ycor
setxy random-pxcor random-pycor
</pre>
    <p>
      The two commands are a bit different. The first command puts the
      turtle on a random point in the world. The second command puts the
      turtle on the center of a random patch. An even more concise way to
      put a turtle on the center of a random patch is:
    <pre>
move-to one-of patches
</pre>
    </div>

