<!DOCTYPE html>
<title>
  NetLogo {{version}} User Manual: What's New?
    </title>
    <link rel="stylesheet" href="netlogo.css" type="text/css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <h1>
      What's New?
    </h1>
    <div class="version">
      NetLogo {{version}} User Manual&nbsp;&nbsp;&nbsp;
    </div>
    <p>
      The following is a condensed history. <a href="https://github.com/NetLogo/NetLogo/wiki/Release-notes" target="_blank">Detailed
      release notes</a> are on GitHub.
    <p>
      For help running models made in old versions, see the <a href="transition.html">Transition Guide</a>.
    <h2>
      Version 6.0 (Mid-2016)
    </h2>
    <h3>Feature Changes</h3>
      <ul>
        <li>NetLogo and its extensions are now compiled against Java 8 and Scala 2.11.</li>
        <li>NetLogo has upgraded the ASM bytecode library to enable generation of Java 8 bytecode</li>
        <li>The look and feel of NetLogo on Mac OS X has changed significantly. NetLogo is now using the Oracle-supplied Java look and feel as opposed to a third-party look and feel used in prior versions.</li>
        <li>Plot pen colors can be set to an RGB list, just a other color-related variables in NetLogo</li>
        <li>Line numbering can be toggled in the NetLogo Editor by choosing "Edit" &gt; "Show Line Numbers".</li>
        <li>Model Preview Commands can be edited through the GUI by choosing "Preview Commands Editor" in the "Tools" menu.</li>
        <li>NetLogo can export code to HTML with code-colorization by choosing "Export Code" in the "Export" section of the "File" menu.</li>
        <li>The NetLogo editor now offers autocompletion support. Simply press the Control Key and the Spacebar at the same time while typing a word and you will see a list of similar NetLogo primitives as suggestions.</li>
      </ul>
    <h3>Language Changes</h3>
      <ul>
        <li>Compiler support for plural-only breed names (e.g. <code>breed [ mice ]</code>) has been removed.</li>
        <li>The compiler detects a greater number of type errors, for instance <code>not pxcor</code> now raises a compiler error instead of erroring at runtime.</li>
        <li>The <code>hubnet-set-client-interface</code> primitive has been removed.</li>
        <li>The various prims starting with <code>movie-</code> have been removed, as has the movie encoder. <a href="transition.html#movie-to-vie">The transition guide</a> provides more details and information.</li>
        <li>The <code>__change-language</code> primitive has been removed. You can now change the User Interface Language through the preferences dialog, which can be found by choosing "Preferences..." in the "NetLogo" menu (Mac OS X) or in the "Tools" menu (all other platforms).</li>
        <li>The string representation of a task displays the body of the task</li>
      </ul>
    <h3>Extension Changes</h3>
      <ul>
        <li>The Extensions API has been updated from 5.0 to 6.0. See <a href="transition.html#extensions60">the transition guide</a>
        for more information.</li>
        <li>The <code>qtj</code> extension is no longer bundled with NetLogo. Users are encouraged to make use of the new <a href="vid.html">vid extension</a>.</li>
        <li>The new <code>vid</code> extension is now bundled with NetLogo, combining features of the late <code>qtj</code> extension and the movie prims</li>
        <li>The <code>network</code> extension is no longer bundled with NetLogo. Users are encouraged to use the <a href="nw.html">nw extension</a>, which has been bundled with NetLogo for some time.</li>
        <li>The <code>gogo-serial</code> extension is no longer bundled with NetLogo. Users are encouraged to transition to the newer <code>gogo</code> extension, which uses HID to communicate with the gogo board.</li>
      </ul>
    <h3>Internationalization Changes</h3>
      <ul>
        <li>A Japanese translation for NetLogo is now available and included with the standard download.</li>
        <li>The Chinese translation for NetLogo has been updated.</li>
      </ul>
    <h2>
      Version 5.3.1 (February 2016)
    </h2>
    <h3>Feature Changes</h3>
      <ul>
        <li>Mathematica Link is now included and has been tested to work with Mathematica 10.</li>
        <li>A link to Introduction to Agent-Based Modelling has been added to the "Help" menu.</li>
      </ul>
    </h3>
    <h3>Extension Changes</h3>
      <ul>
        <li>The gogo extension now prompts the user for the location of Java upon opening. This version of Java is used to launch the gogo hid daemon.</li>
        <li>The correct version of the network extension is now bundled, which will open properly</li>
        <li>Bundles the cf extension, which adds match, case, and select primitives.</li>
      </ul>
    <h3>Bugfixes</h3>
      <ul>
        <li>Corrects a bug where turtles wrapping around a torus-shaped world with pen down would sometimes cause NetLogo to loop infinitely.</li>
        <li>Fixes a bug where buttons would appear to remain pressed after a right click on Mac.</li>
        <li>Fixes a bug where pressing the right mouse button while dragging would confuse the mouse-down? primitive.</li>
        <li>Fixes agent type-checking of tasks (bug appeared in 5.2.1).</li>
        <li>link-neighbor? now returns true if and only if the neighbor is connected through an undirected link.</li>
        <li>Documentation fixes for my-links and mean primitives.</li>
      </ul>
    <h2>
      Version 5.3 (December 2015)
    </h2>
    <h3>Feature Changes</h3>
    <ul>
      <li>Java 8 is now bundled with all versions of NetLogo, this removes the need for a separate Java 6 installation on Mac OS X</li>
      <li>Separate 32-bit and 64-bit versions are available for both Windows and Linux</li>
      <li>The Windows installer is now an msi instead of an exe</li>
      <li>javax.media.opengl is no longer supported in Java 8, it has been replaced by com.jogamp.opengl</li>
      <li>Mathematica Link is not distributed due to Java version changes</li>
    </ul>
    <h3>Extension Changes</h3>
    <ul>
      <li>
      A minor update to the `nw` extension makes `nw:weighted-path-to`
      behave as documented.</li>
      <li>Most extensions should continue to work without change unless they
      rely on javax.media.opengl, which was renamed in the updated version of
      JOGL.</li>
    </ul>
    <h2>
      Version 5.2.1 (September 2015)
    </h2>

    <h3>Extensions</h3>
    <ul>
      <li>An included Arduino extension for use with Arduino boards</li>
    </ul>

    <h3>New features</h3>
    <ul>
      <li>New file menu item to export models to NetLogo Web</li>
    </ul>

    <h3>Bug fixes</h3>
    <ul>
      <li>BehaviorSpace output type preference is now remembered</li>
      <li>Output widget font is now saved at the proper size when zoomed</li>
      <li>Reporter tasks are now evaluated in variable context</li>
      <li><tt>runresult</tt> arguments now only get evaluated once</li>
      <li>The last used directory is now remembered on Linux</li>
      <li>Whitespace is now stripped from models when saving</li>
    </ul>

    <ul>
      <li>New Sample Models: Artificial Anasazi, Bacteria Food Hunt, Bacteria Hunt Speeds, BeeSmart - Hive Finding, Bug Hunt Disruptions, Bug Hunt Environmental Changes, Bug Hunt Predators and Invasive Species - Two Regions, Hydrogen Diffusion 3D, Lennard-Jones, Paths </li>
      <li>There are 46 new models in the new IABM Textbook folder: Turtles Circling Simple, Ants Simple, Heroes and Cowards, Life Simple, Simple Economy, 4 DLA extensions, 4 El Farol Extensions, 4 Fire Extensions, 4 Segregation Extensions, 5 Wolf Sheep Extensions, Agentset Efficiency, Agentset Ordering, Communication-T-T Network Example, Preferential Attachment Simple, Random Network, Traffic Basic Adaptive, Traffic Basic Utility, Traffic Grid Goal, Spread of Disease, Voting Component Verification, Voting Sensitivity Analysis, Arduino Example, Disease With Android Avoidance HubNet, Example HubNet, Run Example, Run Result Example, Simple Machine Learning, Simple Viral Marketing, Ticket Sales, Sandpile Simple </li>
      <li>New models in the new Alternate Visualizations folder: Ethnocentrism - Alternative Visualization, Flocking - Alternative Visualizations, Heat Diffusion - Alternative visualization, Virus - Alternative Visualization, Virus - Circle Visualization </li>
      <li>Promoted models: Honeycomb, Minority Game </li>
      <li>Many other bugfixes and upgrades </li>
    </ul>

    <h3>Model changes</h3>
    <ul>
      <li>Improved Sample Models: Altruism, Ant Lines, Artificial Anasazi, Cooperation, Daisyworld, Divide the Cake, Heat Diffusion, Hydrogen Diffusion 3D, Lennard-Jones, N-Bodies, PD Basic Evolutionary, Sandpile, Robby the Robot, Segregation, Simple Kinetics 2 and 3, Traffic Grid, GridLock HubNet, GridLock HubNet Alternate </li>
      <li>Revised Curricular Models: 4 Block Stalagmites, 4 Block Two Stalagmites, Bug Hunter Competition HubNet, Fish Spotters HubNet, Ising, Tijuana Bordertowns, Urban Suite - Tijuana Bordertowns, </li>
      <li>Revised Code Examples: Lottery Example, self Example, Network Import Example </li>
      <li>Revised IABM Textbook models: Simple Economy, Fire Simple Extension 2 and 3, Segregation Simple, 1, 2 and 3, Agentset Efficiency, Preferential Attachment Simple, Random Network, Traffic Basic Adaptive, Run Example, Traffic Grid Goal, </li>
      <li>New IABM Textbook model: Traffic Basic Adaptive Individuals</li>
    </ul>

    <h2>
      Version 5.2.0 (April 2015)
    </h2>

    <h3>Extensions</h3>
    <ul>
      <li>An included CSV extension to read and write CSV files
      <li>An included Palette extension to map different values to colors
      <li>The previous gogo extension has been removed. It has been replaced with two different gogo extensions, gogo and gogo-serial. The extensions work with different hardware. The gogo extension works with the new style HID-interface gogo boards and the gogo-serial extension works with the old-style serial-interface gogo boards
      <li>Upgrade to the network extension including the following changes:
        <ul>
          <li>Support for many more file types, including GEXF, GDF, GML, Pajek NET, UCINET DL, and Netdraw VNA
          <li>Fixed bugs with GraphML support
          <li>Improved documentation
        </ul>
    </ul>

    <h3>New features</h3>
    <ul>
      <li>New primitive <code>netlogo-web?</code> added to test whether you are currently running in NetLogo Web
      <li>New primitive <code>behaviorspace-experiment-name</code> added allowing you to get the name of the currently running experiment
      <li>New primitive <code>stop-inspecting</code> to stop inspecting agents
      <li>New primitive <code>stop-inspecting-dead-agents</code> and menu item to stop inspecting dead agents
      <li><code>__includes</code> keyword now enables the Includes button when given an empty
      <li>hooks added for extensions to write custom log messages
    </ul>

    <h3>Bug fixes</h3>
    <ul>
      <li><code>user-one-of</code> will now signal an error earlier when provided an empty list of choices
      <li><code>hsb</code>, <code>extract-hsb</code>, and <code>approximate-hsb</code> have been updated to represent true hsb conventions
      <li>new deprecated primitives <code>__hsb-old</code>, <code>__extract-hsb-old</code>, and <code>__approximate-hsb-old</code> work as the old hsb primitives did when older models using the hsb primitives are opened in NetLogo 5.2, they will be auto-converted to use the deprecated primitives
      <li><code>extract-hsb</code> -- fixed bug where it didn't work correctly on rgb lists
    </ul>

    <h3>Model changes</h3>
    <ul>
      <li>New Sample Models: Artificial Anasazi, Bacteria Food Hunt, Bacteria Hunt Speeds, BeeSmart - Hive Finding, Bug Hunt Disruptions, Bug Hunt Environmental Changes, Bug Hunt Predators and Invasive Species - Two Regions, Hydrogen Diffusion 3D, Lennard-Jones, Paths
      <li>There are 46 new models in the new IABM Textbook folder: Turtles Circling Simple, Ants Simple, Heroes and Cowards, Life Simple, Simple Economy, 4 DLA extensions, 4 El Farol Extensions, 4 Fire Extensions, 4 Segregation Extensions, 5 Wolf Sheep Extensions, Agentset Efficiency, Agentset Ordering, Communication-T-T Network Example, Preferential Attachment Simple, Random Network, Traffic Basic Adaptive, Traffic Basic Utility, Traffic Grid Goal, Spread of Disease, Voting Component Verification, Voting Sensitivity Analysis, Arduino Example, Disease With Android Avoidance HubNet, Example HubNet, Run Example, Run Result Example, Simple Machine Learning, Simple Viral Marketing, Ticket Sales, Sandpile Simple
      <li>New models in the new Alternate Visualizations folder: Ethnocentrism - Alternative Visualization, Flocking - Alternative Visualizations, Heat Diffusion - Alternative visualization, Virus - Alternative Visualization, Virus - Circle Visualization
      <li>Promoted models: Honeycomb, Minority Game
      <li>Many other bugfixes and upgrades
    </ul>
    <h2>
      Version 5.1.0 (July 2014)
    </h2>
    <ul>
      <li>bundle new network extension
      <li>File menu includes recently opened files
      <li>deprecate applets
      <li>support retina display on new MacBooks
      </ul>
    <h2>
      Version 5.0.4 (March 2013)
    </h2>
    <ul>
      <li>upload models to the Modeling Commons
      </ul>
    <h2>
      Version 5.0 (February 2012)
    </h2>
    <ul>
      <li>features:
        <ul>
          <li>open source (GPL license; source code online at <a href="https://github.com/NetLogo/NetLogo" target="_blank">https://github.com/NetLogo/NetLogo</a>)
          <li>new license for Sample Models and Curricular Models is
          Creative Commons Attribution-NonCommercial-ShareAlike
          <li>international characters (Unicode) supported throughout
          application
          <li>GUI is localized in Spanish, Russian, and Chinese (volunteer
          translators wanted)
          <li>rich formatting and images in Info tabs using Markdown
          <li>plotting code goes inside plots instead of in code tab
          <li>authorable model speed (target frame rate setting)
          <li>buttons optionally disable until ticks start
          <li>translucent colors in 3D view and NetLogo 3D (for RGB colors
          only)
          </ul>
      <li>language changes:
        <ul>
          <li>&quot;tasks&quot; store code to be run later
            <ul>
              <li>aka first-class functions, closures, lambda
              <li>new primitives: <code>task</code>, <code>is-command-task?</code>,
              <code>is-reporter-task?</code>
              <li>these primitives accept tasks: <code>run</code>,
              <code>runresult</code>, <code>foreach</code>, <code>map</code>,
              <code>reduce</code>, <code>filter</code>, <code>n-values</code>,
              <code>sort-by</code>
              </ul>
          <li>improved overall list performance (many operations take
          near-constant time instead of linear time)
          <li>you must use <code>reset-ticks</code> to start the tick counter
          before using <code>tick</code> or <code>tick-advance</code>
          <li>new primitives <code>setup-plots</code> and <code>update-plots</code>
          <li>new primitive <code>sort-on</code> lets you say e.g., <code>sort-on
          [size] turtles</code>
          <li>new primitive <code>error</code> causes a runtime error
          <li>
            <code>random-normal</code> rejects negative standard deviations
          </ul>
      <li>HubNet:
        <ul>
          <li>activities can run headless
          <li>new primitives <code>hubnet-clients-list</code>,
          <code>hubnet-kick-client</code>, <code>hubnet-kick-all-clients</code>
          <li>
            <code>hubnet-set-client-interface</code> no longer required
          </ul>
      <li>other fixes and changes:
        <ul>
          <li>tabs renamed to Interface/Info/Code
          <li>Command Center allows reporters, adds <code>show</code> command
          automatically
          <li>NetLogo 3D uses .nlogo3d suffix, not .nlogo
          <li>
            <code>import-world</code> is much faster
          <li>
            <code>startup</code> no longer runs headless or in background
            BehaviorSpace runs
          <li>fixed 3D rendering bug where small turtles were too bright
          <li>Mac app runs in 64 bit mode by default
          <li>upgraded Windows installer
          <li>GoGo extension getting-started experience now smoother on all
          platforms
          </ul>
      <li>models:
        <ul>
          <li>new Sample Models: Sandpile, Lightning, Osmotic Pressure,
          Robby the Robot, Preferential Attachment 3D
          <li>new Curricular Models: Bug Hunt Consumers, Bug Hunt Predators
          and Invasive Species, Plant Speciation, epiDEM Basic, epiDEM
          Travel and Control, Connected Chemistry Atmosphere
          <li>new Code Examples: Info Tab Example, GoGoMonitorSimple
          </ul>
      </ul>
    <h2>
      Version 4.1.3 (April 2011)
    </h2>
    <ul>
      <li>matrix extension
      <li>
        <code>behaviorspace-run-number</code>
      </ul>
    <h2>
      Version 4.1 (December 2009)
    </h2>
    <ul>
      <li>parallel BehaviorSpace
      <li>controlling API allows embedding
      <li>automatic code indenter
      <li>searchable Models Library
      <li>translucent colors
      <li>mini-views in agent monitors
      <li>
        <code>resize-world</code>, <code>set-patch-size</code>
      <li>bitmap, QuickTime extensions
      <li>individualized HubNet client views
      <li>browser-based HubNet client
      </ul>
    <h2>
      Version 4.0 (September 2007)
    </h2>
    <ul>
      <li>link agents
      <li>tick counter
      <li>view update modes (tick-based, continuous)
      <li>speed slider fast forwards
      <li>input boxes in interface tab
      <li>include multiple source files
      <li>RGB colors
      <li>slider bounds may be reporters
      <li>HubNet client editor
      <li>Mathematica-NetLogo link
      <li>array, table, profiler, GIS extensions
      <li>models run faster (partial compilation to JVM byte code)
      <li>logging
      </ul>
    <h2>
      Version 3.1 (April 2006)
    </h2>
    <ul>
      <li>topologies (optional wrapping at world edges)
      <li>randomized agentset ordering
      </ul>
    <h2>
      Version 3.0 (September 2005)
    </h2>
    <ul>
      <li>3D view (for 2D models)
      <li>formatted Info tabs
      <li>System Dynamics Modeler
      <li>
        <code>follow</code>, <code>ride</code>, <code>watch</code>
      <li>drawing layer
      <li>GoGo extension
      </ul>
    <h2>
      Version 2.1 (December 2004)
    </h2>
    <ul>
      <li>&quot;headless&quot; mode for command line operation
      <li>&quot;action keys&quot; to trigger buttons by keypresses
      <li>makes QuickTime movies of models
      <li>
        <code>let</code>, <code>carefully</code>
      </ul>
    <h2>
      Version 2.0.2 (August 2004)
    </h2>
    <ul>
      <li>extensions and controlling APIs
      <li>sound extension
      </ul>
    <h2>
      Version 2.0 (December 2003)
    </h2>
    <ul>
      <li>fast, flicker-free, non-grid-based graphics
      </ul>
    <h2>
      Version 1.3 (June 2003)
    </h2>
    <ul>
      <li>
        <code>run</code>, <code>runresult</code>, <code>map</code>, <code>foreach</code>,
        <code>filter</code>, <code>reduce</code>
      </ul>
    <h2>
      Version 1.2 (March 2003)
    </h2>
    <ul>
      <li>computers as HubNet clients
      </ul>
    <h2>
      Version 1.1 (July 2002)
    </h2>
    <ul>
      <li>Applets
      </ul>
    <h2>
      Version 1.0 (April 2002)
    </h2>
    <ul>
      <li>first full release (after a series of betas)
      </ul>
