<!DOCTYPE html>
<title>
  NetLogo {{version}} User Manual
</title>
    <!-- no section name here because htmldoc propagates this through whole doc -->
    <link rel="stylesheet" href="netlogo.css" type="text/css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <div class="banner">
      <img width="600" height="85" src="images/title.jpg" alt="NetLogo banner">
    </div><!--<ul>
<li><a href="#intro">What is NetLogo?</a>
<li><a href="#features">Features</a>
</ul>-->
    <!-- next line must be h1, not h2, or htmldoc crashes when we try
     to generate the PDF! - ST 4/1/02 -->
    <h1>
      <a id="intro"></a>What is NetLogo?
    </h1>
    <p>
      <img width="404" height="200" src="images/thumbnails.png" alt="">
    <p>
      <b>NetLogo</b> is a programmable modeling environment for simulating
      natural and social phenomena. It was authored by Uri Wilensky in 1999
      and has been in continuous development ever since at the Center for
      Connected Learning and Computer-Based Modeling.
    <p>
      <b>NetLogo</b> is particularly well suited for modeling complex
      systems developing over time. Modelers can give instructions to
      hundreds or thousands of &quot;agents&quot; all operating
      independently. This makes it possible to explore the connection
      between the micro-level behavior of individuals and the macro-level
      patterns that emerge from their interaction.
    <p>
      <b>NetLogo</b> lets students open simulations and &quot;play&quot;
      with them, exploring their behavior under various conditions. It is
      also an authoring environment which enables students, teachers and
      curriculum developers to create their own models. NetLogo is simple
      enough for students and teachers, yet advanced enough to serve as a
      powerful tool for researchers in many fields.
    <p>
      <b>NetLogo</b> has extensive documentation and tutorials. It also
      comes with the Models Library, a large collection of pre-written
      simulations that can be used and modified. These simulations address
      content areas in the natural and social sciences including biology
      and medicine, physics and chemistry, mathematics and computer
      science, and economics and social psychology. Several model-based
      inquiry curricula using NetLogo are available and more are under
      development.
    <p>
      <b>NetLogo</b> is the next generation of the series of multi-agent
      modeling languages including StarLogo and StarLogoT. NetLogo runs on
      the Java virtual machine, so it works on all major platforms (Mac,
      Windows, Linux, et al). It is run as a desktop application. Command
      line operation is also supported.
    <h2>
      <a id="features">Features</a>
    </h2>
    <ul>
      <li>System:
        <ul>
          <li>Free, <a href="https://github.com/NetLogo/NetLogo" target="_blank">open
          source</a>
          <li>Cross-platform: runs on Mac, Windows, Linux, et al
          <li>International character set support
          </ul>
      <li>Programming:
        <ul>
          <li>Fully programmable
          <li>Approachable syntax
          <li>Language is Logo dialect extended to support agents
          <li>Mobile agents (turtles) move over a grid of stationary agents
          (patches)
          <li>Link agents connect turtles to make networks, graphs, and
          aggregates
          <li>Large vocabulary of built-in language primitives
          <li>Double precision floating point math
          <li>First-class function values (aka tasks, closures, lambda)
          <li>Runs are reproducible cross-platform
          </ul>
      <li>Environment:
        <ul>
          <li>Command center for on-the-fly interaction
          <li>Interface builder w/ buttons, sliders, switches, choosers,
          monitors, text boxes, notes, output area
          <li>Info tab for annotating your model with formatted text and
          images
          <li>HubNet: participatory simulations using networked devices
          <li>Agent monitors for inspecting and controlling agents
          <li>Export and import functions (export data, save and restore
          state of model, make a movie)
          <li>BehaviorSpace, an open source tool used to collect data from
          multiple parallel runs of a model
          <li>System Dynamics Modeler
          <li>NetLogo 3D for modeling 3D worlds
          <li>Headless mode allows doing batch runs from the command line
          </ul>
      <li>Display and visualization:
        <ul>
          <li>Line, bar, and scatter plots
          <li>Speed slider lets you fast forward your model or see it in
          slow motion
          <li>View your model in either 2D or 3D
          <li>Scalable and rotatable vector shapes
          <li>Turtle and patch labels
          </ul>
      <li>APIs:
        <ul>
          <li>controlling API allows embedding NetLogo in a script or
          application
          <li>extensions API allows adding new commands and reporters to
          the NetLogo language; open source example extensions are included
          </ul>
      </ul>

