# common directory names
scaladoc/
classes/
target/
tmp/

# common filenames
.DS_Store

# wildcards
*.tmp
*_managed/
*~
.#*
\#*

# Eclipse
.classpath
.project
.cache
.settings
.worksheet

# other
/.ensime
/.ensime_lucene/
/build/
/.idea/workspace.xml
/lib/
/out/
/docs/
/resources/system/dict.txt
