[submodule "models"]
	path = models
	url = https://github.com/NetLogo/models.git
[submodule "extensions/array"]
	path = extensions/array
	url = https://github.com/NetLogo/Array-Extension.git
[submodule "extensions/bitmap"]
	path = extensions/bitmap
	url = https://github.com/NetLogo/Bitmap-Extension.git
[submodule "extensions/gis"]
	path = extensions/gis
	url = https://github.com/NetLogo/GIS-Extension.git
[submodule "extensions/matrix"]
	path = extensions/matrix
	url = https://github.com/NetLogo/Matrix-Extension.git
[submodule "extensions/network"]
	path = extensions/network
	url = https://github.com/NetLogo/Network-Extension.git
[submodule "extensions/profiler"]
	path = extensions/profiler
	url = https://github.com/NetLogo/Profiler-Extension.git
[submodule "extensions/qtj"]
	path = extensions/qtj
	url = https://github.com/NetLogo/QTJ-Extension.git
[submodule "extensions/sample"]
	path = extensions/sample
	url = https://github.com/NetLogo/Sample-Extension.git
[submodule "extensions/sample-scala"]
	path = extensions/sample-scala
	url = https://github.com/NetLogo/Sample-Scala-Extension.git
[submodule "extensions/sound"]
	path = extensions/sound
	url = https://github.com/NetLogo/Sound-Extension.git
[submodule "extensions/table"]
	path = extensions/table
	url = https://github.com/NetLogo/Table-Extension.git
[submodule "Mathematica-Link"]
	path = Mathematica-Link
	url = https://github.com/NetLogo/Mathematica-Link.git
[submodule "extensions/nw"]
	path = extensions/nw
	url = https://github.com/NetLogo/NW-Extension
[submodule "extensions/csv"]
	path = extensions/csv
	url = https://github.com/NetLogo/CSV-Extension
[submodule "gogo-hid"]
	path = extensions/gogo
	url = https://github.com/NetLogo/GoGo-HID-Extension
[submodule "extensions/gogo-serial"]
	path = extensions/gogo-serial
	url = https://github.com/NetLogo/GoGo-Serial-Extension
[submodule "extensions/palette"]
	path = extensions/palette
	url = https://github.com/NetLogo/Palette-Extension
