:link {
  color: rgb(110, 0, 110)
}
:visited {
  color: rgb(110, 0, 110)
}

hr {
  color: rgb(45,0,45);
  height: 3px;
}

body {
  margin-left: 4%;
  font-family: arial, sans-serif;
  background: white;
}

th {
  font-family: arial, sans-serif;
}

td {
  font-family: arial, sans-serif;
}

div.banner {
  text-align: center;
  margin-left: -4%;
  font-size: 150%;
}

div.version {
  margin-left: -4%;
  margin-top: 0em;
  margin-bottom: 0em;
  font-size: 75%;
  font-weight: bold;
  text-align: right ;
  color: rgb(232, 232, 232) ;
  background: rgb(45,0,45);
  height: 20;
}

h1 {
  margin-left: -4%;
  margin-bottom: 0em;
  font-size: 150%;
  color: rgb(232, 232, 232) ;
  background: rgb(45,0,45);
  padding: 0.3em;
  height: 45;
}

h2 {
  margin-left: -2%;
  font-size: 125%;
  background: rgb(166,172,255);
  padding: 0.3em;
}

h3 {
  font-size: 125%;
  background: rgb(175,175,175);
  padding: 0.2em;
}

h4 {
  font-size: 110% ;
  background: rgb(200,200,200);
  padding: 0.125em;
}

blockquote {
  border: solid;
  border-width: thin;
  background: rgb(250,250,220);
  padding-left: 1em;
}

pre {
  margin-left: 2em;
  background: rgb(225,225,225);
  font-family: monospace;
  padding: 1em;
}

p.question {
  margin-left: 2em ;
  font-style: italic ;
}

p.screenshot {
  text-align: center ;
}

p.question {
  font-weight: bold ;
}

.smaller {
  font-size: 80%;
}

.license { background-color: #ffc; padding: 2em;
  border-style: solid; border-width: 1pt;
  font-family: courier; font-size: 80%;
}

td.rightalign {vertical-align: top; text-align: right;}
td.centeralign {vertical-align: top; text-align: center;}
