name: build-and-test

on:
  push:
  pull_request:
  workflow_dispatch:

env:
  LIBERICA_URL: https://download.bell-sw.com/java/17.0.3+7/bellsoft-jdk17.0.3+7-linux-amd64-full.tar.gz

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    if: ${{ 'pull_request' != github.event_name || (github.event.pull_request.head.repo.git_url != github.event.pull_request.base.repo.git_url) }}
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.9.1
        with:
          access_token: ${{ github.token }}

      - uses: actions/checkout@v2

      - uses: olafurpg/setup-scala@v13
        id: setup-scala
        with:
          java-version: liberica@17=tgz+${{ env.LIBERICA_URL }}

      - name: Clone Git submodules
        run: git submodule update --init

      - name: Build NetLogo
        run: |
          ./sbt update all headless/compile parserJS/compile
          ./sbt depend headless/depend

      - uses: actions/cache@v2
        id: restore-build
        with:
          path: ./*
          key: ${{ github.sha }}

  test-parser:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    needs: build
    steps:
      - uses: actions/cache@v2
        id: restore-build
        with:
          path: ./*
          key: ${{ github.sha }}

      - uses: olafurpg/setup-scala@v13
        id: setup-scala
        with:
          java-version: liberica@17=tgz+${{ env.LIBERICA_URL }}

      - name: Test Parser
        run: ./sbt parserJS/test parserJVM/test

  test-2D:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    needs: build
    steps:
      - uses: actions/cache@v2
        id: restore-build
        with:
          path: ./*
          key: ${{ github.sha }}

      - uses: olafurpg/setup-scala@v13
        id: setup-scala
        with:
          java-version: liberica@17=tgz+${{ env.LIBERICA_URL }}

      - name: Test 2D
        run: ./sbt netlogo/test:fast netlogo/test:medium netlogo/test:slow

      - name: Test 2D NoGen
        run: ./sbt nogen netlogo/test:fast netlogo/test:medium

  test-3D:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    needs: build
    steps:
      - uses: actions/cache@v2
        id: restore-build
        with:
          path: ./*
          key: ${{ github.sha }}

      - uses: olafurpg/setup-scala@v13
        id: setup-scala
        with:
          java-version: liberica@17=tgz+${{ env.LIBERICA_URL }}

      - name: Test 3D
        run: ./sbt threed netlogo/test:fast netlogo/test:medium netlogo/test:slow

  test-extensions:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    needs: build
    steps:
      - uses: actions/cache@v2
        id: restore-build
        with:
          path: ./*
          key: ${{ github.sha }}

      - uses: olafurpg/setup-scala@v13
        id: setup-scala
        with:
          java-version: liberica@17=tgz+${{ env.LIBERICA_URL }}

      - uses: actions/setup-python@v2
        with:
          python-version: '3.9'

      # The `update-alternatives` step is not needed to build and test but it avoids some superfluous error messages in the logs.
      # The Python stuff is just for testing the Python extension, it's not part of NetLogo's build process.
      - name: Install Dependencies
        run: |
          pip3 install numpy
          pip3 install sklearn
          sudo apt-get install python2
          curl https://bootstrap.pypa.io/pip/2.7/get-pip.py --output get-pip.py
          python2 get-pip.py
          pip2 install numpy
          sudo update-alternatives --install /usr/bin/javapackager javapackager ${{ env.JAVA_HOME }}/bin/javapackager 100 --slave /usr/share/man/man1/javapackager.1 javapackager.1 ${{ env.JAVA_HOME }}/man/man1/javapackager.1

      - name: Test Extensions
        run: ./sbt netlogo/test:extensionTests

  test-headless:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    needs: build
    steps:
      - uses: actions/cache@v2
        id: restore-build
        with:
          path: ./*
          key: ${{ github.sha }}

      - uses: olafurpg/setup-scala@v13
        id: setup-scala
        with:
          java-version: liberica@17=tgz+${{ env.LIBERICA_URL }}

      - name: Test Headless
        run: ./sbt headless/test:fast headless/test:medium headless/test:slow

      - name: Test Headless NoGen
        run: ./sbt nogen headless/test:fast headless/test:medium
