name: build-and-test

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    if: ${{ 'pull_request' != github.event_name || (github.event.pull_request.head.repo.git_url != github.event.pull_request.base.repo.git_url) }}
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.12.1
        with:
          access_token: ${{ github.token }}

      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          submodules: true

      - uses: actions/setup-java@v5
        with:
          distribution: zulu
          java-version: 21.0.2
          java-package: jdk+fx
          cache: sbt

      - uses: sbt/setup-sbt@v1

      - uses: mfinelli/setup-imagemagick@v7

      - name: Build NetLogo
        run: |
          sbt update all headless/compile parserJS/compile

      - uses: actions/cache@v5
        id: restore-build
        with:
          path: ./*
          key: ${{ github.sha }}

  test:
    runs-on: ubuntu-latest
    needs: build
    strategy:
      fail-fast: false
      matrix:
        test: [
          "parserJS/test; parserJVM/test",
          "depend",
          "headless/depend",
          "netlogo/Test/fast",
          "netlogo/Test/medium",
          "netlogo/Test/slow",
          "nogen; netlogo/Test/fast",
          "nogen; netlogo/Test/medium",
          "threed; netlogo/Test/fast",
          "threed; netlogo/Test/medium",
          "threed; netlogo/Test/slow",
          "headless/Test/fast",
          "headless/Test/medium",
          "headless/Test/slow",
          "nogen; headless/Test/fast",
          "nogen; headless/Test/medium",
          "extensionTests",
          "behaviorsearchProject/test",
          "dist/buildMathematicaLink"
        ]

    steps:
      - uses: actions/cache@v5
        id: restore-build
        with:
          path: ./*
          key: ${{ github.sha }}

      - uses: actions/setup-java@v5
        with:
          distribution: zulu
          java-version: 21.0.2
          java-package: jdk+fx
          cache: sbt

      - uses: sbt/setup-sbt@v1

      - uses: actions/setup-python@v6
        with:
          python-version: '3.10'

      - uses: r-lib/actions/setup-r@v2

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          packages: |
            spatstat@3.4-0
            rjson@0.2.23
            vegan@2.7-1

      # The Python stuff is just for testing the Python extension, it's not part of NetLogo's build process.
      - name: Install Dependencies
        run: |
          pip3 install numpy
          pip3 install scikit-learn

      - uses: mfinelli/setup-imagemagick@v7

      - name: ${{ matrix.test }}
        run: sbt "${{ matrix.test }}"

      - uses: actions/upload-artifact@v6
        with:
          name: graphics-diffs
          path: tmp/TestChecksums/*.png
          if-no-files-found: ignore
